<section
  class="relative flex items-center w-full border-t-0 border-b-2 border-black 2xl:max-w-7xl mx-auto">
  <div class="relative items-center w-full mx-auto">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <p
          class="text-5xl mt-3 tracking-tight lg:text-7xl text-black font-display">
          How to unlock your trading limit
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          Flabbergasted connects securely with popular billing managers, banking
          partners, and accounting platforms so you can seamlessly manage your
          account and get access to non-dilutive capital.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="spacetext bg-white border-black border-b-2 outift">
  <div class="items-center w-full mx-auto relative 2xl:max-w-7xl">
    <div class="mx-auto p-8 lg:px-20">
      <dl
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 max-w-3xl mx-auto gap-6 lg:gap-12">
        <a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/stripe.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Stripe
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              A payment processing platform for online businesses.
            </dd>
          </div>
        </a>
        <a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/shopify.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Shopify
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              An e-commerce platform for online stores.
            </dd>
          </div>
        </a>
        <a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/paypal.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Paypal
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              An online payment system for sending and receiving money.
            </dd>
          </div>
        </a><a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/yandex_kassa.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Yandex Kassa
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              A payment gateway service for online transactions in Russia.
            </dd>
          </div>
        </a><a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/alfa_bank.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Alfa Bank
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              A commercial bank in Russia offering financial services and so on.
            </dd>
          </div>
        </a><a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/mastercard.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Mastercard
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              A global payment technology company providing financial services
            </dd>
          </div>
        </a><a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/webmoney.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                Webmoney
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              An online payment system for conducting secure transactions over
              the internet.
            </dd>
          </div>
        </a><a
          href="/integrations-details"
          class="shadow-large p-4 lg:p-8 border-2 border-black hover:shadow-none duration-200">
          <div>
            <dt class="flex gap-3">
              <img src="/integrations/world_pay.svg" alt="" />
              <p
                class="text-black font-medium text-lg font-display leading-6 lg:text-2xl">
                World Pay
              </p>
            </dt><dd class="mt-4 xl:text-2xl tracking-tight text-black">
              A payment processing company for businesses of all sizes, they
              matter.
            </dd>
          </div>
        </a>
      </dl>
    </div>
  </div>
</section>
