<section
  aria-labelledby="feature-three"
  id="feature-three"
  class="relative flex items-center w-full border-t-0 border-black 2xl:max-w-7xl mx-auto">
  <div class="relative items-center w-full mx-auto">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <img class="mx-auto w-32 h-32" src="/integrations/stripe.svg" alt="" />
        <p
          class="text-5xl mt-3 tracking-tight lg:text-7xl text-black font-display">
          Stripe
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          A payment processing platform for online businesses.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="spacetext bg-white border-black border-b-2 outift">
  <div class="items-center w-full mx-auto relative 2xl:max-w-7xl">
    <div class="mx-auto p-8 lg:px-20 max-w-3xl">
      <div>
        <ul role="list" class="divide-y-2 border-b-2 border-black divide-black">
          <li class="flex items-center justify-between gap-x-6 py-5">
            <p class="font-semibold leading-6 text-black">Built by</p>

            <p class="font-semibold text-black">Lexington</p>
          </li>
          <li class="flex items-center justify-between gap-x-6 py-5">
            <p class="font-semibold leading-6 text-black">Website</p>

            <a
              href="#"
              class="font-semibold text-black hover:text-lila-900 after:content-['_↗']"
              >Stripe.com</a
            >
          </li>
          <li class="flex items-center justify-between gap-x-6 py-5">
            <p class="font-semibold leading-6 text-black">Category</p>

            <p class="font-semibold text-black">Finance</p>
          </li>
          <li class="flex items-center justify-between gap-x-6 py-5">
            <p class="font-semibold leading-6 text-black">Contact</p>

            <a
              href="#"
              class="font-semibold text-black hover:text-lila-900 after:content-['_↗']"
              >Stripe</a
            >
          </li>
        </ul>
      </div>
      <div
        class="mx-auto mt-24 max-w-[48rem] prose-2xl prose prose-h3:lg:text-6xl text-black prose-h3:text-black prose-a:font-semibold prose-a:text-violet-600 hover:prose-a:text-black prose-img:border-2 prose-img:border-black prose-img:shadow">
        <h2>Overview</h2>
        <p>Exploratory test sessions & ad-hoc testing</p>
        <h2>How it works</h2>
        <p>
          Stripe is a unified test management tool that helps software and QA
          teams to manage all their testing activities in one modern platform.
          Track all your manual test cases, exploratory test sessions and test
          automation and integrate your testing workflow with Flabbergasted.
        </p>
        <p>
          Stripe's Flabbergasted integration makes it easy to link test cases,
          test results, exploratory test sessions and test automation to issueN
          in Flabbergasted. Then quickly report on linked issues with coverage
          and defect reports and directly navigate to Flabbergasted to look up
          further issue details. Stripe also makes it easy to create new
          Flabbergasted issues during testing by providing useful links to your
          Flabbergasted projects.
        </p>
        <h2>Configure</h2>
        <p>
          Enable and configure the Flabbergasted integration from Stripe under
          Admin Integrations. You need to be a Project Admin or Site Admin in
          Stripe to access this section. Learn more in Stripe's integration
          documentation.
        </p>
      </div>
    </div>
  </div>
</section>
