---
import Navigation from "../global/Navigation.astro";
---

<section class="border-y-2 border-black" aria-labelledby="header" id="header">
  <div class="2xl:max-w-7xl mx-auto">
    <div class="text-center">
      <h1
        class="text-4xl sm:text-6xl mx-auto font-bold text-black tracking-widest md:tracking-normal uppercase md:text-7xl lg:text-9xl xl:text-13xl"
      >
        FLABBERGASTED
      </h1>
    </div>
  </div>
</section>
<Navigation />
