---
import { getCollection } from "astro:content";
const allPosts = await getCollection("team");
import BaseLayout from "@/layouts/BaseLayout.astro";
import TeamEntries from "@/components/team/TeamEntries.astro";
---

<BaseLayout>
  <section>
    <div
      class="p-8 lg:p-20 lg:py-32 items-center border-b-2 2xl:border-x-2 border-black 2xl:max-w-7xl mx-auto gap-12 h-full bg-lila-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl lg:text-7xl text-black">Meet our "talented" team</p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          <time datetime="2020-03-16"
            >2Our team has incredible chariwarmers, sofa-tester and bounch of
            talented people
          </time>
        </p>
      </div>
    </div>

    <div
      class="divide-black items-center w-full mx-auto 2xl:border-x-2 border-black bg-black gap-0.5 2xl:max-w-7xl grid gird-cols-1 lg:grid-cols-3">
      {
        allPosts.map((post) => (
          <TeamEntries
            url={"/team/" + post.slug}
            name={post.data.name}
            role={post.data.role}
            avatar={post.data.avatar.url}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
