---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Components
import TeamEntry from "@/components/team/TeamEntry.astro";
// Content
import { getCollection } from "astro:content";
const allAuthors = await getCollection("team");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32 lg:pt-64">
      <div class="max-w-xl text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-black"
        >
          Meet the crew
        </Text>
      </div>

      <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
          // Sorting authors alphabetically inline
          allAuthors
            .sort((a, b) => {
              const nameA = a.data.name.toLowerCase();
              const nameB = b.data.name.toLowerCase();
              return nameA < nameB ? -1 : nameA > nameB ? 1 : 0;
            })
            .map((post) => <TeamEntry post={post} />)
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
