<section class="border-black" aria-labelledby="screenshot" id="screenshot">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="grid grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-6 p-8 lg:p-20 2xl:px-0">
      <div>
        <div
          class="overflow-hidden shadow rounded-xl shadow-black border-2 border-black">
          <img class="border-b-0 rounded-t-lg" src="/images/one.png" alt="#" />
        </div>
      </div><div>
        <div
          class="overflow-hidden shadow rounded-xl shadow-black border-2 border-black">
          <img class="border-b-0 rounded-t-lg" src="/images/two.png" alt="#" />
        </div>
      </div><div>
        <div
          class="overflow-hidden shadow rounded-xl shadow-black border-2 border-black">
          <img
            class="border-b-0 rounded-t-lg"
            src="/images/three.png"
            alt="#"
          />
        </div>
      </div><div>
        <div
          class="overflow-hidden shadow rounded-xl shadow-black border-2 border-black">
          <img class="border-b-0 rounded-t-lg" src="/images/four.png" alt="#" />
        </div>
      </div>
    </div>
  </div>
</section>
