---
// Assets
import Cross from "@/components/assets/Cross.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import HelpCenterEntry from "@/components/helpcenter/HelpCenterEntry.astro";
// Sections
import Faq from "@/components/helpcenter/Faq.astro";
// Content
import { getCollection } from "astro:content";
// Content
const allEntries = await getCollection("helpcenter");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12 relative">
      <!-- Top Right Plus -->
      <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
      <!-- Top left Plus -->
      <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />

      <div class="text-balance max-w-xl relative">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-white"
        >
          Help, but make it helpful
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          Stuck? Confused? Mildly annoyed? Our docs are here to save you from
          rage-Googling or yelling at your screen.
        </Text>
      </div>
    </Wrapper>
    <div
      class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-px border-t border-base-800"
    >
      {allEntries.map((post) => <HelpCenterEntry post={post} />)}
    </div>
  </section>
  <Faq />
</BaseLayout>
