---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Components
import HelpCenterEntry from "@/components/helpcenter/HelpCenterEntry.astro";
// Sections
import Faq1 from "@/components/helpcenter/Faq1.astro";
// Content
import { getCollection } from "astro:content";
// Content
const allEntries = await getCollection("helpcenter");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32 lg:pt-64 ">
      <div class="max-w-xl text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-black"
        >
          Help, but make it helpful
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-black">
          Stuck? Confused? Mildly annoyed? Our docs are here to save you from
          rage-Googling or yelling at your screen.
        </Text>
      </div>

      <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        {allEntries.map((post) => <HelpCenterEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
  <Faq1 />
</BaseLayout>
