---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const colors = [
  {
    name: "Accents",
    shades: [
      { name: "Yellow", class: "bg-yellow" },
      { name: "Green", class: "bg-green" },
      { name: "Pink", class: "bg-pink" },
      { name: "Black", class: "bg-black" },
    ],
  },
  {
    name: "Accent",
    shades: [
      { name: "Accent 50", class: "bg-accent-50" },
      { name: "Accent 100", class: "bg-accent-100" },
      { name: "Accent 200", class: "bg-accent-200" },
      { name: "Accent 300", class: "bg-accent-300" },
      { name: "Accent 400", class: "bg-accent-200" },
      { name: "Accent 500", class: "bg-accent-300" },
      { name: "Accent 600", class: "bg-accent-600" },
      { name: "Accent 700", class: "bg-accent-700" },
      { name: "Accent 800", class: "bg-accent-800" },
      { name: "Accent 900", class: "bg-accent-900" },
      { name: "Accent 950", class: "bg-accent-950 " },
    ],
  },
  {
    name: "Base",
    shades: [
      { name: "Base 50", class: "bg-base-50" },
      { name: "Base 100", class: "bg-base-100" },
      { name: "Base 200", class: "bg-base-200" },
      { name: "Base 300", class: "bg-base-300" },
      { name: "Base 400", class: "bg-base-400" },
      { name: "Base 500", class: "bg-base-500" },
      { name: "Base 600", class: "bg-base-600" },
      { name: "Base 700", class: "bg-base-700" },
      { name: "Base 800", class: "bg-base-800" },
      { name: "Base 900", class: "bg-base-900" },
      { name: "Base 950", class: "bg-base-950 outline outline-base-900" },
    ],
  },
];
---
<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="displaySM"
        class="font-medium uppercase text-accent-950 font-display"
      >
        Colors
      </Text>
      <div class="flex flex-col mt-12 gap-12">
        {
          colors.map((color) => (
            <div class="flex flex-col gap-2">
              <h3 class="text-xs font-semibold uppercase dark:text-white text-base-900">
                {color.name}
              </h3>
              <div class="mt-2 grid grid-cols-1 md:grid-cols-5 lg:grid-cols-11 gap-3  gap-y-8">
                {color.shades.map((shade) => (
                  <div class="flex flex-col gap-2">
                    <div
                      class={`size-full aspect-square  ${shade.class}`}
                    />
                    <span class="text-xs text-base-600">{shade.name}</span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
