---
// Assets
import Cross from "@/components/assets/Cross.astro";
import StripesBG from "@/components/assets/StripesBG.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Play from "@/components/fundations/icons/Play.astro";
---

<section>
  <Wrapper variant="standard" class="relative pt-32 pb-12">
    <!-- Top Right Plus -->
    <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
    <!-- Top left Plus -->
    <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />
    <StripesBG
      variant="base"
      class="absolute inset-0 h-24 p-20 mt-auto -mx-px border-t border-base-800"
    />
    <div class="relative text-center text-balance">
      <Text
        tag="h1"
        variant="displayXL"
        class="tracking-tight text-white font-display"
      >
        Because you're too smart for slow, Fake-Sounding AI
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="max-w-xl mx-auto mt-4 text-base-400"
      >
        Runs on brain-melting math you’ll never have to touch. Built for devs
        who ship, not just talk.
      </Text>
      <div class="flex flex-wrap items-center justify-center w-full mt-8 gap-2">
        <Button href="#_" isLink={true} size="xs" variant="alternative"
          >Get started</Button
        >
        <Button size="xs" variant="muted" isLink={true} href="#_"
          >Read the docs</Button
        >
      </div>
    </div>
    <div class="relative">
      <div
        class="absolute inset-0 max-w-2xl mx-auto bg-white/30 blur animate-pulse"
      >
      </div>
      <div
        class="relative max-w-2xl p-2 mx-auto mt-8 text-gray-900 rounded-lg shadow-dimensional bg-base-900"
      >
        <textarea
          id="message"
          name="message"
          rows="4"
          placeholder="Type something... or don’t. I’m not your boss."
          class="block w-full px-4 py-2 font-mono text-sm leading-tight text-white align-middle bg-transparent border border-transparent resize-none transition duration-300 ease-in-out focus:z-10 rounded-md placeholder-base-400 focus:outline-none focus:border-transparent focus:ring-0 scrollbar-hide"
        ></textarea>
        <div class="grid grid-cols-2 md:flex gap-1 md:items-center">
          <Button size="xs" variant="muted" class="w-full md:w-fit">
            Say something smart
          </Button>
          <Button size="xs" variant="muted" class="w-full md:w-fit">
            Try to be funny
          </Button>
          <Button size="xs" variant="muted" class="w-full md:w-fit">
            Fake a meeting
          </Button>
          <Button iconOnly size="xs" variant="muted">
            <Play slot="icon" size="xs" />
          </Button>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
