@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";
@theme {
 /* Typography */
 --font-sans: "Noto Sans JP", sans-serif;
 --font-display: "Kosugi Maru", sans-serif;
 /* Colors */
 --color-black: #141520;
  --color-green: #c1d2d8;
  --color-pink: #f0d1d7;
  --color-yellow: #fae4c9;
  --color-accent-50: oklch(97.45% 0.013 295.44);
  --color-accent-100: oklch(94.26% 0.028 292.46);
  --color-accent-200: oklch(88.34% 0.06 292.43);
  --color-accent-300: oklch(83.14% 0.088 291.66);
  --color-accent-400: oklch(73.57% 0.142 290.74);
  --color-accent-500: oklch(64.65% 0.196 289.52);
  --color-accent-600: oklch(56.19% 0.246 287.61);
  --color-accent-700: oklch(46.46% 0.26 285.93);
  --color-accent-800: oklch(36.27% 0.203 285.9);
  --color-accent-900: oklch(25.13% 0.141 286.21);
  --color-accent-950: oklch(20.28% 0.113 285.65);
 --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-600: oklch(0.439 0 0);
  --color-base-700: oklch(0.371 0 0);
  --color-base-800: oklch(0.269 0 0);
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
 /* Shadows */
 --shadow-xs: 0px 1.5px;
 --shadow-sm : 0px 3px;
 --shadow: 0px 5px;
 --shadow-lg : 0px 10px;
 /* Keyframes */
  --animate-marquee: marquee 12s linear infinite;
  --animate-rightMarquee: rightMarquee 300s linear infinite;
  --animate-slowMarquee: marquee 300s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes rightMarquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

}
:root {
  --astro-code-color-text: #f5f5f5;
  --astro-code-color-background: #14151f;
  --astro-code-token-constant: #c1d2d8;
  --astro-code-token-string: #14152050;
  --astro-code-token-comment: #f0d1d7;
  --astro-code-token-keyword: #f0d1d7;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #fae4c9;
  --astro-code-token-string-expression: #c6bef8;
  --astro-code-token-punctuation: #fae4c9;
  --astro-code-token-link: #c1d2d8;
}
