---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div
      class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
      <div class="max-w-xl mx-auto text-center">
        <h2 class="text-3xl lg:text-5xl font-display text-black">
          Popular tags
        </h2>
      </div>
      <ol
        role="list"
        class="divide-y-2 mt-16 flex flex-wrap gap-3 mx-auto justify-center">
        {
          tags.map((tag) => (
            <li class="" aria-label="Strokes and fills on page 21">
              <span class="text-black items-center shadow-[5px_5px_black] inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-black lg:w-auto py-3 rounded-xl w-full">
                <a href={`/tags/${tag}`}>{tag}</a>
              </span>
            </li>
          ))
        }
      </ol>
    </div>
  </section>
</BaseLayout>
