---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
const backgrounds = [
  "bg-meshMagenta",
  "bg-base-vertical-stripes",
  "bg-accent-horizontal-stripes",
  "bg-base-900",
  "bg-base-horizontal-stripes",
  "bg-meshGreen",
  "bg-light-vertical-stripes",
  "bg-base-900",
  "bg-base-vertical-stripes",
  "bg-meshMagenta",
  "bg-accent-horizontal-stripes",
  "bg-base-900",
  "bg-base-900",
  "bg-base-horizontal-stripes",
  "bg-meshGreen",
  "bg-light-vertical-stripes",
  "bg-base-900",
  "bg-accent-horizontal-stripes",
  "bg-base-900",
  "bg-meshMagenta",
  "bg-base-vertical-stripes",
  "bg-accent-horizontal-stripes",
  "bg-base-900",
  "bg-base-900",
  
];
---

<BaseLayout >
  <div class="relative flex flex-col justify-between overflow-hidden ">
    <div aria-hidden="true" class="absolute inset-0 hidden pointer-events-none md:block opacity-20 ">
      <div class="w-full grid grid-cols-3 lg:grid-cols-6">
        {
          backgrounds.map((bg) => (
            <div
              aria-hidden="true"
              class={`pointer-events-none ${bg} size-full aspect-square`}
            />
          ))
        }
      </div>
    </div>
    <div class="relative w-full max-w-md py-24 mx-auto md:bg-base-900 md:px-8">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-white"
        >
          Say Hello...
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="max-w-xl mx-auto mt-4 text-base-500 text-balance"
        >
          Got thoughts? Praise? Petty gripes? Go ahead — we check this inbox
          more than we probably should.
        </Text>
      </div>
      <form class="mt-10 space-y-4">
        <div class="w-full">
          <div class="flex items-baseline justify-between mb-1">
            <label for="name" class="text-sm font-medium text-base-500"
              >Full Name</label
            >
          </div>
          <div class="relative z-0 focus-within:z-10">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Jane Doe"
              class="block w-full px-4 py-2 text-xs leading-tight align-middle border border-transparent bg-base-900 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-800 placeholder-base-400 focus:border-accent-500 focus:ring-accent-600 focus:ring-2 focus:outline-none shadow-sm"
            />
          </div>
        </div>
        <div class="w-full">
          <div class="flex items-baseline justify-between mb-1">
            <label for="email" class="text-sm font-medium text-base-500"
              >Email Address</label
            >
          </div>
          <div class="relative z-0 focus-within:z-10">
            <input
              id="email"
              name="email"
              type="email"
              placeholder="you@example.com"
              class="block w-full px-4 py-2 text-xs leading-tight align-middle border border-transparent bg-base-900 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-800 placeholder-base-400 focus:border-accent-500 focus:ring-accent-600 focus:ring-2 focus:outline-none shadow-sm"
              inputmode="email"
            />
          </div>
        </div>
        <div class="w-full">
          <div class="flex items-baseline justify-between mb-1">
            <label for="message" class="text-sm font-medium text-base-500"
              >Your Message</label
            >
          </div>
          <div class="relative z-0 focus-within:z-10">
            <textarea
              id="message"
              name="message"
              rows="4"
              placeholder="What's on your mind?"
              class="block w-full px-4 py-2 text-xs leading-tight align-middle border border-transparent bg-base-900 transition duration-300 ease-in-out focus:z-10 rounded-md text-base-500 ring-1 ring-base-800 placeholder-base-400 focus:border-accent-500 focus:ring-accent-600 focus:ring-2 focus:outline-none shadow-sm"
            ></textarea>
          </div>
        </div>
        <Button
          size="base"
          variant="accent"
          gap="sm"
          type="submit"
          class="w-full"
        >
          Send Message
        </Button>
      </form>
    </div>
  </div>
</BaseLayout>
