---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/elements/Button.astro";
---

<section>
  <Wrapper variant="standard" class="py-4">
    <div class="p-8 py-24 text-center rounded-xl bg-accent-500">
      <div class="text-balance">
        <Text tag="h2" variant="displayLG" class="font-medium text-white">
          Email, But Actually Good
        </Text>
        <Text tag="p" variant="textLG" class="mt-2 text-white/80">
          No setup rituals. No DNS sorcery. Just emails that send, land, and
          look damn good doing it. — Available now. Because why wait?
        </Text>
      </div>
      <div class="flex justify-center mt-8">
        <Button isLink={true} gap="sm" size="base" variant="muted" href="#_">
          Get full access
        </Button>
      </div>
    </div>
  </Wrapper>
</section>
