---
// Assets
import { Image } from "astro:assets";
import Blob1 from "@/images/blobs/blob1.svg";
// Components
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24 bg-black">
    <div class="max-w-xl mx-auto text-center">
      <Image
        width={800}
        height={800}
        loading="eager"
        decoding="async"
        src={Blob1}
        alt="#_"
        class="justify-center mx-auto rounded-full shadow size-32 shadow-white"
      />
      <Text tag="h2" variant="displayLG" class="mt-12 font-medium text-white">
        Ready to dive in? <span class="md:block lg:text-accent-400"
          >Join Ella Mae today!</span
        >
      </Text>
      <Text tag="p" variant="textLG" class="mt-4 text-white">
        Explore the limitless possibilities of digital finance and embark on a
        journey towards financial empowerment
      </Text>
      <Button
        isLink={true}
        href="/"
        size="xl"
        variant="accent"
        class="mx-auto mt-8 w-fit">Get started</Button
      >
    </div>
  </Wrapper>
</section>
