<section
  aria-labelledby="cta-two"
  id="cta-two"
  class="relative flex items-center w-full border-b-2 border-black bg-black"
>
  <div class="items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <div class="items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-white mt-12">
          <span class="text-base font-medium tracking-tight">CTA</span>
          <span class="ml-3 h-3.5 w-px bg-white"></span>
          <span class="font-mono text-sm ml-3" aria-hidden="true">02</span>
        </h2>
        <p class="text-3xl mt-6 lg:text-7xl tracking-tight text-white lg:mt-0">
          Flabbergasted is a better way to build products for makers
        </p>

        <div class="flex gap-3 mt-10 justify-start md:justify-center">
          <a
            href="/overview"
            class="relative inline-block px-4 lg:px-8 lg:py-4 py-2 font-medium group"
          >
            <span
              class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-orange-500 group-hover:-translate-x-0 group-hover:-translate-y-0"
            ></span>
            <span
              class="absolute inset-0 w-full h-full bg-white border-2 border-orange-500 group-hover:bg-black"
            ></span>
            <span class="relative lg:text-2xl text-black group-hover:text-white"
              >Start building <span class="ml-3">&rarr;</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
