<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0 2xl:border-x-2 border-b-2 border-black"
  >
    <div class="items-center gap-12 h-full">
      <div class="text-center max-w-3xl mx-auto">
        <img
          class="mx-auto justify-center size-32 shadow shadow-black rounded-full"

          src="/images/blob2.svg"
          alt="your alt-text"
        />

        <p
          class="text-3xl lg:text-5xl mt-8 tracking-tight font-medium text-black"
        >
          Ready to dive in? <span class="md:block lg:text-green-700"
            >Join flabbergasted today!</span
          >
        </p>
        <p class="max-w-lg mx-auto mt-4 lg:text-xl tracking-wide text-black">
          Explore the limitless possibilities of digital finance and embark on a
          journey towards financial empowerment
        </p>
        <div class="mt-12">
          <a
            class="text-black items-center shadow shadow-green-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-green-300 focus:bg-green-600 border-green-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-green-500"
            href="/">Explore all pages <span class="ml-3">&rarr;</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
