<section
  aria-labelledby="cta-two"
  id="cta-two"
  class="relative flex items-center w-full border-b-2 border-black bg-black 2xl:max-w-7xl mx-auto">
  <div class="items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <div class="items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-lila-500 mt-12">
          <span class="text-base font-medium tracking-tight">CTA</span>
          <span class="ml-3 h-3.5 w-px bg-lila-500"></span>
          <span class="text-sm ml-3" aria-hidden="true">02</span>
        </h2>
        <p
          class="text-3xl mt-6 lg:text-7xl tracking-tight text-lila-500 lg:mt-0">
          Flabbergasted is a better way to build products for makers
        </p>

        <div class="flex gap-3 mt-10 justify-start md:justify-center">
          <a
            class="text-black items-center shadow shadow-white inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition hover:shadow-none border-2 duration-200 hover:bg-lila-500 lg:w-auto py-3 rounded-xl w-full"
            href="/overview"
            >Explore all pages <span class="ml-3">&rarr;</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
