<section>
  <div
    class="items-center w-full grid mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:border-x-2 border-black bg-lila-500"
  >
  <div class="max-w-3xl mx-auto">
    <p
      class="text-3xl lg:text-5xl font-medium text-black max-w-4xl mx-auto"
    >
      About Us
    </p>
    <p class="max-w-lg mt-4 xl:text-xl tracking-wide text-black">
      At Flabbergasted, we are passionate about innovation and creating
      exceptional experiences in the world of cryptocurrencies. Our journey
      began with a vision to make crypto accessible to everyone, from
      newcomers to seasoned investors.
      <br />
      <br />
       We are a dedicated team of experts, committed to providing secure,
      user-friendly, and feature-rich solutions that empower you on your
      crypto journey. With a deep understanding of blockchain technology and
      financial markets, we're here to help you navigate the exciting and
      ever-evolving world of digital assets.
      <br />
      <br />
       Our mission is to be your trusted partner in the crypto space,
      offering you the tools and resources you need to succeed. Whether
      you're looking for secure wallets, comprehensive education, real-time
      market data, or a vibrant community, we've got you covered. Join us in
      shaping the future of finance through cryptocurrencies.
    </p>
  </div>

  </div>
</section>
