<section
  aria-labelledby="about"
  id="about"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="items-center w-full grid mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <div class="items-center gap-12 h-full bg-white lg:col-span-2">
      <div class="max-w-4xl mx-auto">
        <p class="text-3xl lg:text-7xl tracking-tight text-black mt-6 lg:mt-0">
          The magic of software
        </p>
        <p class="xl:text-xl tracking-tight text-black mt-3">
          Computers used to be magical. But much of that magic has been lost
          over time, replaced by subpar tools and practices that slow teams down
          and hold great work back.
        </p><p class="xl:text-xl tracking-tight text-black mt-3">
          Frustrated with building and managing software projects in high-growth
          companies ourselves, we founded a company to build something better.
        </p><p class="xl:text-xl tracking-tight text-black mt-3">
          We named it Linear to signify progress.
        </p>
        <div class="pt-12">
          <a class="text-3xl text-black hover:text-orange-500" href="#">
            Explore features <span class="ml-3">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
