<section aria-labelledby="changelog" id="changelog">
  <div
    class="mx-auto 2xl:max-w-7xl lg:flex lg:divide-x-2 divide-black 2xl:border-x-2 border-black">
    <div class="lg:w-1/2 p-8 lg:p-20">
      <div class="lg:sticker lg:sticky py-8 lg:py-20 top-0">
        <div>
          <div>
            <p class="text-5xl mt-24 tracking-tight lg:text-7xl text-black">
              Changelog
            </p>
            <p class="mt-4 mx-auto tracking-tight text-black text-xl max-w-xl">
              New updates and improvements to Flabbergasted.
            </p>
            <div class="flex-col flex gap-3 mt-10 sm:flex-row">
              <a
                class="text-black items-center shadow-[5px_5px_black] inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-black lg:w-auto py-3 rounded-xl w-full"
                href="/overview"
                >Explore all pages <span class="ml-3">&rarr;</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 p-8 lg:p-20">
      <div class="flex-shrink-0">
        <div>
          <ul class="grid grid-cols-1 lg:gap-24 gap-12 list-none" role="list">
            <li class="border-2 border-black p-8 shadow-large bg-green-500">
              <div
                class="prose-3xl prose text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-red-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint">
                <h2>Version 4.4</h2>
                <p>28 May, 2023</p>
                <a
                  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                  class="inline-flex items-center">
                  Watch update video</a
                >
                <ul>
                  <li>
                    Introducing Capture History - easily access and restore
                    recent captures
                  </li>
                  <li>Added Auto-Scroll option to Scrolling Capture</li>
                  <li>Added option to copy/paste objects in Annotate</li>
                  <li>
                    New OCR language support in macOS Ventura - Korean,
                    Japanese, Russian, Ukrainian
                  </li>
                  <li>Improved Annotate compatiblity with some trackpads</li>
                  <li>
                    Disabled cursor when capturing full screen with All-In-One
                  </li>
                  <li>Fixed bug causing misaligned scrolling captures</li>
                  <li>Fixed bug with auto-expanding canvas</li>
                  <li>
                    Fixed bug with freezing screen after starting screen
                    recordings multiple ps
                  </li>
                  <li>
                    Fixed bug with showing recording controls on specific
                    display setups
                  </li>
                  <li>
                    Fixed bug with using "Expire After" option in upload dialog
                  </li>
                  <li>Minor changes in URL Scheme API</li>
                  <li>Small bug fixes and UX improvements</li>
                </ul>
              </div>
            </li>
            <li class="border-2 border-black p-8 shadow-large">
              <div
                class="prose-3xl prose text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-red-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint pt-12">
                <h2>Version 3.11</h2>
                <p>16 March, 2023</p>
                <a
                  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                  class="inline-flex items-center">
                  Watch update video</a
                >
                <ul>
                  <li>
                    Added new setting that allows to change behavior of "Capture
                    Area &..." shortcuts
                  </li>
                  <li>Improved combining images in Annotate after cropping</li>
                  <li>
                    Fixed bug with using Command+/Command- shortcuts on some
                    keyboard layouts
                  </li>
                  <li>Minor bug fixes and improvements</li>
                </ul>
              </div>
            </li>
            <li class="border-2 border-black p-8 shadow-large bg-red-500">
              <div
                class="prose-3xl prose text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-red-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint pt-12">
                <h2>Version 2.3.3</h2>
                <p>8 January, 2023</p>

                <ul>
                  <li>
                    Added new setting that allows to change behavior of "Capture
                    Area &..." shortcuts
                  </li>
                  <li>Improved combining images in Annotate after cropping</li>
                </ul>
              </div>
            </li>
            <li class="border-2 border-black p-8 shadow-large bg-yellow-500">
              <div
                class="prose-3xl prose text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-red-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint">
                <h2>Version 4.4</h2>
                <p>28 May, 2023</p>
                <a
                  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                  class="inline-flex items-center">
                  Watch update video</a
                >
                <ul>
                  <li>
                    Introducing Capture History - easily access and restore
                    recent captures
                  </li>
                  <li>Added Auto-Scroll option to Scrolling Capture</li>
                  <li>Added option to copy/paste objects in Annotate</li>
                  <li>
                    New OCR language support in macOS Ventura - Korean,
                    Japanese, Russian, Ukrainian
                  </li>
                  <li>Improved Annotate compatiblity with some trackpads</li>
                  <li>
                    Disabled cursor when capturing full screen with All-In-One
                  </li>
                  <li>Fixed bug causing misaligned scrolling captures</li>
                  <li>Fixed bug with auto-expanding canvas</li>
                  <li>
                    Fixed bug with freezing screen after starting screen
                    recordings multiple ps
                  </li>
                  <li>
                    Fixed bug with showing recording controls on specific
                    display setups
                  </li>
                  <li>
                    Fixed bug with using "Expire After" option in upload dialog
                  </li>
                  <li>Minor changes in URL Scheme API</li>
                  <li>Small bug fixes and UX improvements</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
