<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black"
  >
    <div
      class="p-8 lg:p-20 lg:py-32 items-center gap-12 h-full bg-red-500 border-b-2 border-black"
    >
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl lg:text-7xl text-black">Version 4.4</p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          <time datetime="2020-03-16">28 May, 2023</time>
        </p>
      </div>
    </div>
  </div>
  <div class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20 ">
    <div class="max-w-3xl mx-auto">
      <div class="prose-styles">
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          class="inline-flex items-center"
        >
          Watch update video</a
        >
        <ul>
          <li>
            Introducing Capture History - easily access and restore recent
            captures
          </li>
          <li>Added Auto-Scroll option to Scrolling Capture</li>
          <li>Added option to copy/paste objects in Annotate</li>
          <li>
            New OCR language support in macOS Ventura - Korean, Japanese, Russian,
            Ukrainian
          </li>
          <li>Improved Annotate compatiblity with some trackpads</li>
          <li>Disabled cursor when capturing full screen with All-In-One</li>
          <li>Fixed bug causing misaligned scrolling captures</li>
          <li>Fixed bug with auto-expanding canvas</li>
          <li>
            Fixed bug with freezing screen after starting screen recordings
            multiple ps
          </li>
          <li>
            Fixed bug with showing recording controls on specific display setups
          </li>
          <li>Fixed bug with using "Expire After" option in upload dialog</li>
          <li>Minor changes in URL Scheme API</li>
          <li>Small bug fixes and UX improvements</li>
        </ul>
      </div>
    </div>
  </div>
</section>
