<section
  aria-labelledby="terms"
  id="terms"
  class="flex items-center w-full border-b-2 border-black">
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
    <div class="p-8 lg:p-20 items-center gap-12 h-full bg-red-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl font-display text-black">Version 4.4</p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          <time datetime="2020-03-16">28 May, 2023</time>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="py-[5.75rem] 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black border-b-2">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div
        class="mx-auto max-w-[48rem] prose-2xl prose prose-h3:lg:text-6xl text-black prose-h3:text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-black/80">
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          class="inline-flex items-center">
          Watch update video</a
        >
        <ul>
          <li>
            Introducing Capture History - easily access and restore recent
            captures
          </li>
          <li>Added Auto-Scroll option to Scrolling Capture</li>
          <li>Added option to copy/paste objects in Annotate</li>
          <li>
            New OCR language support in macOS Ventura - Korean, Japanese,
            Russian, Ukrainian
          </li>
          <li>Improved Annotate compatiblity with some trackpads</li>
          <li>Disabled cursor when capturing full screen with All-In-One</li>
          <li>Fixed bug causing misaligned scrolling captures</li>
          <li>Fixed bug with auto-expanding canvas</li>
          <li>
            Fixed bug with freezing screen after starting screen recordings
            multiple ps
          </li>
          <li>
            Fixed bug with showing recording controls on specific display setups
          </li>
          <li>Fixed bug with using "Expire After" option in upload dialog</li>
          <li>Minor changes in URL Scheme API</li>
          <li>Small bug fixes and UX improvements</li>
        </ul>
      </div>
    </div>
  </div>
</section>
