<section
  aria-labelledby="terms"
  id="terms"
  class="flex items-center w-full border-b-2 border-black">
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
    <div class="p-8 lg:p-20 items-center gap-12 h-full bg-red-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl lg:text-7xl text-black font-display">
          Cookie policy
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          Last updated on January 01, 2023
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="py-[5.75rem] 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black border-b-2">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div
        class="mx-auto max-w-[48rem] prose-2xl prose prose-h3:lg:text-6xl text-black prose-h3:text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-black/80">
        <p>
          <p>
            This cookie policy describes how Flabbergasted (Flabbergasted) uses
            “cookies” and other similar technologies, in connection with our
            Site and Services. For more information on Flabbergasted privacy
            practices, please see our Privacy Policy.
          </p>
          <h3>About cookies</h3>
          <p>
            A cookie is a small piece of information stored on your computer via
            the web browser you use. Cookies are used to personalize your web
            experience with a website. They help with things like understanding
            how you use a website, remembering your login details, and storing
            site preferences.
          </p>
          <h3>How Flabbergasted uses cookies</h3>
          <p>
            Flabbergasted uses two types of cookies: first and third-party
            cookies. First party cookies are set and read by us when you use
            Flabbergasted. Third party cookies are set by companies other than
            Flabbergasted and collect information about you which may be sent to
            a third party. Flabbergasted uses third party cookies for site
            analytics purposes.
          </p>
          <h3>Opting out</h3>
          <p>
            You can customize your web browser to accept, reject, or delete
            cookies. All major browsers will give you the option to block some
            or all cookies and to clear existing cookie data.
          </p>
        </p>
      </div>
    </div>
  </div>
</section>
