<section>
  <div class="items-center flex h-screen justify-center">
    <section>
      <div class="2xl:max-w-7xl mx-auto ">
        <div class="text-center">
          <h1
            class="text-4xl sm:text-6xl mx-auto font-bold text-black tracking-widest md:tracking-normal uppercase md:text-7xl lg:text-9xl xl:text-13xl"
          >
            error 404
          </h1>
          <div class="flex gap-3 mt-10 justify-center">
            <a
              href="/   "
              class="relative inline-block px-4 lg:px-8 lg:py-4 py-2 font-medium group"
            >
              <span
                class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
              ></span>
              <span
                class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
              ></span>
              <span
                class="relative lg:text-2xl text-black group-hover:text-white"
                >Go home <span class="ml-3">&rarr;</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
