<section
  class="relative flex items-center w-full border-b-2 border-black bg-white"
  aria-labelledby="faq"
  id="faq">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-3xl lg:text-5xl tracking-tight text-black">
          Frequently asked questions
        </p>
      </div>
      <div class="relative items-center w-full mx-auto mt-12 max-w-3xl">
        <div class="space-y-6">
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary
              class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between"
              >How long does it take to learn web development?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              It depends on your dedication and the amount of time you put into
              it. Some people can learn the basics in a few weeks, while others
              may take months or even years to become proficient.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary
              class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between"
              >Do I need to know HTML and CSS to become a web developer?</summary
            >
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              Yes, HTML and CSS are the building blocks of web development. You
              should have a good understanding of both to create websites. Q: Do
              I need to learn JavaScript to be a web dev
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary
              class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between"
              >What are some popular web development frameworks?</summary
            >
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              There are many popular web development frameworks, including
              React, Angular, and Vue.js. Each has its own advantages and
              disadvantages, so it's important to choose the one that best fits
              your needs.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary
              class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between"
              >Can I create a website without using a framework?</summary
            >
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              es, it's possible to create a website without using a framework.
              However, frameworks can make the process faster and more
              efficient, especially for larger projects.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary
              class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between"
              >How much can I expect to earn as a web developer?</summary
            >
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              Salaries for web developers vary depending on your experience,
              location, and skills. However, the average salary for a web
              developer in the United States is around $75,000 per year.
            </p>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
