<section
  class="relative flex items-center w-full border-b-2 border-black bg-white"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:px-20 lg:py-32 2xl:border-x-2 items-center gap-12 h-full bg-yellow-500 border-b-2 border-black">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-3xl lg:text-5xl tracking-tight font-medium text-black">
          Frequently asked questions
        </p>
      </div>

      <div class="space-y-6 max-w-3xl mx-auto mt-12">
        <details class="p-8 border-2 border-black shadow bg-white rounded-2xl">
          <summary
            class="text-2xl tracking-wide text-black focus:text-violet-500 items-center justify-between"
          >How do I get started with Flabbergasted?</summary>
          <p class="xl:text-2xl tracking-wide text-black pt-6">
            Getting started with Flabbergasted is easy. Simply sign up for an account, and you'll have access to our basic plan. From there, you can explore our platform and decide if you'd like to upgrade to our Pro or Premium plans for additional features.
          </p>
        </details>
        <details class="p-8 border-2 border-black shadow bg-white rounded-2xl">
          <summary
            class="text-2xl tracking-wide text-black focus:text-violet-500 items-center justify-between"
          >Is my cryptocurrency safe on Flabbergasted?</summary>
          <p class="xl:text-2xl tracking-wide text-black pt-6">
            Yes, your cryptocurrency is secured with the highest level of encryption and security measures. We prioritize the safety of your digital assets and provide secure wallets to protect them.
          </p>
        </details>

        <details class="p-8 border-2 border-black shadow bg-white rounded-2xl">
          <summary
            class="text-2xl tracking-wide text-black focus:text-violet-500 items-center justify-between"
          >What cryptocurrencies can I access on Flabbergasted?</summary>
          <p class="xl:text-2xl tracking-wide text-black pt-6">
            Flabbergasted offers a wide range of cryptocurrencies, including Bitcoin, Ethereum, and many altcoins. Our platform supports multiple digital assets, making it easy to diversify your portfolio.
          </p>
        </details>

        <details class="p-8 border-2 border-black shadow bg-white rounded-2xl">
          <summary
            class="text-2xl tracking-wide text-black focus:text-violet-500 items-center justify-between"
          >How can I earn staking rewards?</summary>
          <p class="xl:text-2xl tracking-wide text-black pt-6">
            Staking rewards are available to our Pro and Premium plan users. You can stake your tokens within our platform, and you'll start earning rewards based on your participation in network validation.
          </p>
        </details>

        <details class="p-8 border-2 border-black shadow bg-white rounded-2xl">
          <summary
            class="text-2xl tracking-wide text-black focus:text-violet-500 items-center justify-between"
          >Can I trade NFTs on Flabbergasted?</summary>
          <p class="xl:text-2xl tracking-wide text-black pt-6">
            Yes, you can buy, sell, and even create NFTs in our NFT marketplace. It's a hub for digital collectibles and unique assets.
          </p>
        </details>
      </div>
    </div>
  </div>
</section>
