<section>
  <div
    class="p-8 lg:p-20 lg:py-32 items-center border-b-2 2xl:border-x-2 border-black 2xl:max-w-7xl mx-auto gap-12 h-full bg-lila-500 "
  >
    <div class="text-center max-w-4xl mx-auto">
      <p class="text-5xl lg:text-7xl text-black">Meet our "talented" team</p>
      <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
        <time datetime="2020-03-16"
          >2Our team has incredible chariwarmers, sofa-tester and bounch of
          talented people
        </time>
      </p>
    </div>
  </div>

  <div
    class=" divide-black items-center w-full mx-auto 2xl:border-x-2 border-black bg-black gap-0.5 2xl:max-w-7xl grid gird-cols-1 lg:grid-cols-4"
  >
    <div class="flex flex-col h-full justify-between divide-black bg-white divide-y-2 ">
      <div class="block w-full  items-center  h-full">
        <img
          class=" object-cover aspect-[4/4]"
          src="/images/avatar1.png"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-green-400"
      >
        <div class="max-w-xl text-center mx-auto">
          <h3 class="text-xl  font-semibold text-black">
            Dorito Smith
          </h3>
          <p class="text-base l text-black mt-4">Copywriter</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col h-full justify-between divide-black bg-white divide-y-2  2xl:border-x-2"
    >
      <div class="block w-full  items-center  h-full">
        <img
          class=" object-cover aspect-[4/4]"
          src="/images/avatar2.png"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-lila-500"
      >
        <div class="max-w-xl text-center mx-auto">
          <h3 class="text-xl  font-semibold text-black">
            Akiro Yokohiro
          </h3>
          <p class="text-base l text-black mt-4">Rectangle engineer</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col h-full justify-between divide-black bg-white divide-y-2  2xl:border-x-2"
    >
      <div class="block w-full  items-center  h-full">
        <img
          class=" object-cover aspect-[4/4]"
          src="/images/avatar3.png"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-red-400"
      >
        <div class="max-w-xl text-center mx-auto">
          <h3 class="text-xl  font-semibold text-black">
            Juanito Perez
          </h3>
          <p class="text-base l text-black mt-4">Pixel pusher</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col h-full justify-between divide-black bg-white divide-y-2  2xl:border-x-2"
    >
      <div class="block w-full  items-center  h-full">
        <img
          class=" object-cover aspect-[4/4]"
          src="/images/avatar4.png"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-yellow-400"
      >
        <div class="max-w-xl text-center mx-auto">
          <h3 class="text-xl  font-semibold text-black">
            Juanito Perez
          </h3>
          <p class="text-base l text-black mt-4">Pixel pusher</p>
        </div>
      </div>
    </div>
  </div>
</section>
