<section
  class="relative flex items-center w-full border-y-2 border-t-0 border-black 2xl:max-w-7xl mx-auto">
  <div class="relative items-center w-full mx-auto">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl font-display text-black">Meet our "talented" team</p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          Our team has incredible chariwarmers, sofa-tester and bounch of
          talented people
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="relative flex items-center w-full border-b-2 border-black"
  aria-labelledby="teams"
  id="teams">
  <div
    class="relative divide-y-2 divide-black items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2 2xl:border-x-2">
      <div class="block w-full p-10 lg:p-20 items-center lg:mt-0 h-full">
        <img
          class="mx-auto h-56 w-56 rounded-full"
          src="/reviews/adham.jpeg"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-green-400">
        <div class="max-w-xl text-center mx-auto">
          <h3
            class="mt-6 text-3xl lg:text-5xl font-semibold font-display text-black">
            Dorito Smith
          </h3>
          <p class="text-3xl leading-6 text-black mt-4">Copywriter</p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2 2xl:border-x-2">
      <div class="block w-full p-10 lg:p-20 items-center lg:mt-0 h-full">
        <img
          class="mx-auto h-56 w-56 rounded-full"
          src="/reviews/chris.jpg"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-lila-500">
        <div class="max-w-xl text-center mx-auto">
          <h3
            class="mt-6 text-3xl lg:text-5xl font-semibold font-display text-black">
            Akiro Yokohiro
          </h3>
          <p class="text-3xl leading-6 text-black mt-4">Rectangle engineer</p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2 2xl:border-x-2">
      <div class="block w-full p-10 lg:p-20 items-center lg:mt-0 h-full">
        <img
          class="mx-auto h-56 w-56 rounded-full"
          src="/reviews/graeme.avif"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-red-400">
        <div class="max-w-xl text-center mx-auto">
          <h3
            class="mt-6 text-3xl lg:text-5xl font-semibold font-display text-black">
            Juanito Perez
          </h3>
          <p class="text-3xl leading-6 text-black mt-4">Pixel pusher</p>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2 2xl:border-x-2">
      <div class="block w-full p-10 lg:p-20 items-center lg:mt-0 h-full">
        <img
          class="mx-auto h-56 w-56 rounded-full"
          src="/reviews/toast.jpg"
          alt=""
        />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-yellow-400">
        <div class="max-w-xl text-center mx-auto">
          <h3
            class="mt-6 text-3xl lg:text-5xl font-semibold font-display text-black">
            Juanito Perez
          </h3>
          <p class="text-3xl leading-6 text-black mt-4">Pixel pusher</p>
        </div>
      </div>
    </div>
  </div>
</section>
