<section>
  <div
    class="py-[5.75rem] 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black border-b-2">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div
        class="mx-auto max-w-[48rem] prose-2xl prose prose-h3:lg:text-6xl text-black prose-h3:text-black prose-a:font-semibold prose-a:text-black hover:prose-a:text-black/80">
        <img src="/brands/dribbble.svg" class="h-20 lg:h-32" alt="" />

        <small
          >Dribbble is a social media platform for designers to showcase their
          work, get feedback, and connect with other creatives. It's a community
          of creative professionals sharing and discovering inspiring design
          work.
        </small>
        <blockquote>
          “ I love how opinionated Flabbergasted is. It helps us move fast.
          There’s more “doing” and less figuring out how to do it.
        </blockquote>
        <h3>How it works</h3>
        <p>
          The tool has been designed to simplify my life and my team's life by
          aiding in understanding, decision making, issue triage, and follow-up.
          The built-in features of Dribbble have exceeded my expectations and
          provided a native experience that is nearly perfect. My evaluation of
          products is based on their ease of use in performing basic actions,
          such as changing or editing text, and in this regard, Dribbble is
          incredibly intuitive. Whether I need to edit text or move an issue,
          the platform works seamlessly, feeling like an extension of myself.
          The team's attention to detail and consideration for user experience
          is evident in the thought and effort put into developing Dribbble.
        </p>
        <p>Michael andreuzza</p>
        <p></p>
      </div>
    </div>
  </div>
</section>
