<section
  aria-labelledby="pricing-four"
  id="pricing-four"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <div class="text-center max-w-4xl mx-auto">
      <h2 class="inline-flex items-center text-black">
        <span class="text-base font-medium tracking-tight">Pricing</span>
        <span class="ml-3 h-3.5 w-px bg-black"></span>
        <span class="text-sm ml-3" aria-hidden="true">04</span>
      </h2>
      <p class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">Pricing</p>
      <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
        We want you to live a get out from the fake till you make it, and start
        to make it so you make it.
      </p>
    </div>
    <div
      class="grid max-w-2xl grid-cols-1 mt-16 -mx-4 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-4 lg:-mx-8"
    >
      <section
        class="flex flex-col px-6 shadow-large border-2 border-black sm:px-8 lg:py-8"
      >
        <h3 class="text-lg text-black lg:text-3xl">Wannabe</h3>
        <p class="xl:text-2xl tracking-tight text-black mt-5">
          Good for those trying to get there, but are too far from it.
        </p>
        <p class="order-first text-4xl text-black lg:text-8xl">$2</p>
        <ul
          class="gap-4 mt-6 space-y-3 list-none lg:gap-6 xl:text-2xl tracking-tight text-black order-last"
          role="list"
        >
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited deploys</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited members</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">5 TB cloud storage</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Growth oriented</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Marketing campaigns</span>
          </li>
        </ul>
        <a
          href="#_"
          class="relative inline-block px-4 w-full lg:px-8 lg:py-4 py-2 font-medium group text-center mt-6"
        >
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
          ></span>
          <span
            class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
          ></span>
          <span class="relative lg:text-4xl text-black group-hover:text-white"
            >Purchase!</span
          >
        </a>
      </section>
      <section
        class="flex flex-col order-first px-6 py-8 shadow-large border-2 border-black sm:px-8 bg-yellow-500 lg:order-none relative"
      >
        <div
          class="absolute -top-10 p-3 bg-black rounded-full right-10 shadow hover:scale-95 shadow-white hover:shadow-none duration-200 rotate-12"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 455 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_304_2854)">
              <rect
                width="455"
                height="155.848"
                transform="translate(0 0.0759277)"
                fill="none"></rect>
              <path
                d="M445.203 133.109C445.36 132.724 445.439 132.312 445.438 131.897L444.313 46.2571C444.31 45.8412 444.224 45.4291 444.06 45.0458C443.897 44.6625 443.661 44.3164 443.364 44.0263L414.477 15.9213C413.871 15.3351 413.056 15.0129 412.212 15.0245L12.6945 20.8694C12.2768 20.8737 11.8647 20.96 11.4801 21.1251C11.0955 21.2902 10.7483 21.5285 10.4573 21.8276C10.1648 22.1283 9.93606 22.4819 9.78155 22.8709C9.62857 23.2583 9.55211 23.6742 9.55926 24.0918L10.6455 109.713C10.663 109.776 10.6774 109.839 10.6871 109.904C10.709 110.185 10.7704 110.463 10.8706 110.726L10.9799 111.022C11.1301 111.367 11.3454 111.681 11.6152 111.943L40.5104 140.057C40.8123 140.354 41.1711 140.586 41.5646 140.742C41.9478 140.891 42.3558 140.967 42.7666 140.965L271.084 137.624L299.596 137.207L442.284 135.12C442.91 135.104 443.519 134.906 444.035 134.549C444.551 134.192 444.949 133.691 445.184 133.109L445.203 133.109ZM415.006 129.157L392.514 107.273L412.045 106.987L434.508 128.842L415.006 129.157ZM386.438 129.594L363.974 107.738L383.526 107.453L405.979 129.298L386.438 129.594ZM357.898 130.002L335.445 108.156L354.976 107.87L377.439 129.725L357.898 130.002ZM329.358 130.428L306.905 108.583L326.446 108.287L348.899 130.133L329.358 130.428ZM300.848 130.827L278.384 108.971L297.925 108.695L320.379 130.542L300.848 130.827ZM272.308 131.235L249.853 109.388L269.385 109.102L291.888 130.997L272.308 131.235ZM243.768 131.662L221.314 109.816L240.884 109.549L263.339 131.396L243.768 131.662ZM215.208 132.052L192.774 110.225L212.354 109.909L234.807 131.754L215.208 132.052ZM186.669 132.459L164.206 110.603L183.737 110.318L206.2 132.174L186.669 132.459ZM158.131 132.943L135.667 111.088L155.217 110.803L177.671 132.649L158.131 132.943ZM129.6 133.361L107.137 111.506L126.669 111.219L149.132 133.075L129.6 133.361ZM101.05 133.779L78.5966 111.933L98.1382 111.637L120.601 133.493L101.05 133.779ZM72.521 134.196L50.0577 112.34L69.5983 112.065L92.0518 133.911L72.521 134.196ZM416.515 102.45L416.237 82.8901L438.69 104.735L438.949 124.277L416.515 102.45ZM438.604 95.7654L416.151 73.9201L415.9 54.3675L438.364 76.2236L438.604 95.7654ZM438.248 67.2244L415.786 45.3699L415.536 25.8378L437.989 47.6832L438.248 67.2244ZM409.079 21.3938L409.403 46.7394L409.767 75.269L410.083 100.626L16.966 106.424L15.9503 27.1843L409.079 21.3938ZM21.556 112.729L41.0869 112.444L63.5793 134.328L44.0388 134.603L21.556 112.729Z"
                fill="white"></path>
              <path
                d="M88.9243 70.6435L89.207 88.3136L84.0532 88.396L83.3661 45.4478L98.7048 45.2025C100.914 45.1671 102.841 45.4636 104.488 46.0919C106.134 46.6792 107.497 47.4962 108.577 48.5426C109.699 49.5884 110.537 50.8229 111.092 52.246C111.686 53.6275 111.996 55.0955 112.021 56.6498L112.051 58.4904C112.075 60.0447 111.813 61.5423 111.263 62.983C110.754 64.4232 109.957 65.7042 108.87 66.8263C107.783 67.9074 106.426 68.7883 104.8 69.4689C103.174 70.1087 101.277 70.4459 99.1092 70.4805L88.9243 70.6435ZM88.8477 65.8578L98.4191 65.7047C104.145 65.6131 106.969 63.1131 106.891 58.2047L106.873 57.1004C106.839 54.9325 106.095 53.2056 104.642 51.9196C103.23 50.592 101.072 49.9515 98.1678 49.9979L88.5965 50.151L88.8477 65.8578ZM150.22 72.4859C150.261 75.0219 149.867 77.2784 149.04 79.2555C148.252 81.1911 147.174 82.8449 145.805 84.2169C144.435 85.548 142.815 86.5763 140.945 87.3018C139.115 88.0266 137.198 88.405 135.194 88.4371C133.149 88.4698 131.2 88.1532 129.349 87.4873C127.497 86.8214 125.865 85.8451 124.454 84.5585C123.041 83.2309 121.89 81.6128 121 79.7041C120.151 77.7538 119.706 75.5107 119.665 72.9747L119.654 72.2385C119.614 69.7434 119.987 67.5281 120.775 65.5925C121.602 63.6155 122.701 61.9409 124.07 60.5688C125.48 59.1961 127.1 58.1474 128.929 57.4226C130.759 56.6978 132.675 56.3194 134.68 56.2873C136.684 56.2552 138.612 56.5722 140.464 57.2381C142.315 57.904 143.947 58.9007 145.36 60.2282C146.813 61.5551 147.964 63.1937 148.814 65.144C149.703 67.0527 150.168 69.2546 150.208 71.7497L150.22 72.4859ZM135.121 83.8968C136.594 83.8733 137.94 83.6063 139.159 83.0958C140.418 82.5438 141.511 81.7694 142.436 80.7727C143.361 79.776 144.078 78.5985 144.589 77.2401C145.098 75.8409 145.339 74.2824 145.312 72.5644L145.3 71.8282C145.274 70.1921 144.984 68.7034 144.431 67.3621C143.877 65.9799 143.121 64.8055 142.165 63.8388C141.208 62.8722 140.092 62.1332 138.815 61.6217C137.538 61.0694 136.184 60.8046 134.752 60.8275C133.321 60.8504 131.975 61.1584 130.717 61.7513C129.457 62.3033 128.365 63.0777 127.44 64.0744C126.515 65.0711 125.797 66.2691 125.288 67.6683C124.778 69.0266 124.536 70.5238 124.562 72.1599L124.574 72.8962C124.601 74.6141 124.892 76.1642 125.446 77.5464C125.999 78.8877 126.754 80.0416 127.711 81.0083C128.667 81.9749 129.763 82.7142 130.999 83.2264C132.275 83.6969 133.649 83.9204 135.121 83.8968ZM163.189 99.4041L158.403 99.4807L157.72 56.7779L162.506 56.7013L162.582 61.487L163.319 61.4752C164.353 59.6176 165.803 58.2033 167.669 57.2324C169.535 56.2207 171.572 55.6971 173.781 55.6618C175.663 55.6317 177.448 55.9509 179.136 56.6194C180.824 57.2879 182.312 58.2665 183.601 59.5551C184.931 60.8431 185.98 62.4424 186.747 64.353C187.555 66.2631 187.978 68.4451 188.017 70.8993L188.037 72.1264C188.077 74.6215 187.744 76.8362 187.039 78.7704C186.333 80.7046 185.336 82.3366 184.048 83.6665C182.801 84.9956 181.324 86.0217 179.618 86.7445C177.91 87.4264 176.095 87.7828 174.173 87.8135C173.191 87.8292 172.187 87.7225 171.161 87.4935C170.135 87.3053 169.148 86.9938 168.2 86.5589C167.292 86.0825 166.444 85.5233 165.657 84.8812C164.869 84.1983 164.201 83.3907 163.654 82.4585L162.918 82.4702L163.189 99.4041ZM173.119 83.289C174.591 83.2654 175.937 82.9984 177.156 82.488C178.375 81.9366 179.426 81.1833 180.311 80.2281C181.237 79.2723 181.934 78.1156 182.404 76.7579C182.914 75.3996 183.155 73.882 183.129 72.2049L183.109 70.9779C183.083 69.3417 182.793 67.8735 182.241 66.5731C181.728 65.2311 180.994 64.0973 180.038 63.1716C179.123 62.2043 178.027 61.4649 176.75 60.9535C175.515 60.4414 174.181 60.1968 172.749 60.2197C171.318 60.2426 169.993 60.5502 168.775 61.1424C167.557 61.6938 166.485 62.4679 165.56 63.4646C164.676 64.4606 163.979 65.6583 163.469 67.0575C162.959 68.4158 162.717 69.913 162.743 71.5491L162.755 72.2854C162.782 73.9624 163.072 75.492 163.626 76.8742C164.18 78.2155 164.914 79.3698 165.83 80.3371C166.786 81.3037 167.882 82.0431 169.118 82.5552C170.353 83.0673 171.687 83.3119 173.119 83.289ZM218.112 55.8118L222.897 55.7352L223.384 86.1671L218.598 86.2436L218.51 80.7217L217.774 80.7335C216.824 82.7126 215.56 84.2875 213.983 85.4583C212.406 86.6291 210.391 87.2341 207.937 87.2734C206.259 87.3002 204.701 87.0388 203.26 86.489C201.861 85.9795 200.641 85.1808 199.601 84.0927C198.601 83.0041 197.802 81.6462 197.203 80.0193C196.645 78.3917 196.349 76.4939 196.315 74.3261L196.024 56.1651L200.81 56.0886L201.09 73.636C201.141 76.8264 201.833 79.1474 203.166 80.599C204.498 82.0505 206.514 82.7547 209.214 82.7116C212.118 82.6651 214.372 81.6471 215.977 79.6576C217.622 77.6265 218.418 74.9544 218.365 71.6413L218.112 55.8118ZM234.376 81.5726L245.42 81.3959L244.874 47.2828L234.198 47.4536L234.128 43.036L249.589 42.7887L250.205 81.3193L261.249 81.1427L261.32 85.5602L234.447 85.9901L234.376 81.5726ZM294.019 79.882L293.283 79.8938C292.334 81.9546 290.988 83.49 289.245 84.4998C287.543 85.5089 285.731 86.0289 283.808 86.0596C281.804 86.0917 279.938 85.7942 278.209 85.1673C276.48 84.4994 274.951 83.5215 273.621 82.2335C272.331 80.904 271.303 79.2839 270.536 77.3733C269.769 75.4626 269.365 73.2393 269.325 70.7033L269.309 69.7216C269.269 67.2265 269.602 65.0119 270.307 63.0776C271.013 61.1434 271.989 59.5117 273.236 58.1825C274.523 56.8118 276.02 55.765 277.727 55.0422C279.434 54.3193 281.249 53.9426 283.171 53.9118C285.257 53.8784 287.146 54.3187 288.838 55.2327C290.571 56.105 291.943 57.4946 292.955 59.4013L293.692 59.3896L293.615 54.6039L298.401 54.5273L298.787 78.701C298.807 79.9281 299.369 80.5328 300.474 80.5152L302.007 80.4906L302.078 84.9082L298.826 84.9602C297.436 84.9824 296.283 84.5508 295.369 83.6654C294.495 82.7792 294.048 81.6408 294.025 80.2501L294.019 79.882ZM284.226 81.5115C285.658 81.4886 286.963 81.2018 288.14 80.6511C289.359 80.0997 290.39 79.3263 291.233 78.3309C292.076 77.3355 292.733 76.159 293.202 74.8013C293.67 73.4028 293.891 71.865 293.864 70.188L293.853 69.4517C293.826 67.8156 293.557 66.3266 293.045 64.9846C292.532 63.6018 291.817 62.4267 290.902 61.4594C290.027 60.4915 288.972 59.7515 287.736 59.2394C286.541 58.6857 285.248 58.42 283.857 58.4422C282.426 58.4651 281.121 58.7519 279.943 59.3027C278.766 59.8534 277.735 60.6268 276.851 61.6228C276.007 62.5773 275.35 63.7539 274.882 65.1524C274.413 66.5101 274.191 68.007 274.217 69.6431L274.233 70.6248C274.289 74.1015 275.232 76.8072 277.063 78.7417C278.934 80.6347 281.322 81.558 284.226 81.5115ZM307.377 54.3837L318.421 54.2071L318.486 58.2565L319.222 58.2447C319.972 56.5552 321.057 55.3105 322.476 54.5104C323.895 53.6695 325.524 53.2343 327.365 53.2048C330.433 53.1557 332.923 54.1183 334.837 56.0924C336.751 58.0666 337.8 60.9751 337.984 64.818L332.965 65.6348C332.919 62.8125 332.212 60.7985 330.843 59.5931C329.473 58.3467 327.806 57.7392 325.842 57.7706C324.574 57.7908 323.474 58.0539 322.541 58.5598C321.649 59.0651 320.903 59.7521 320.303 60.6208C319.704 61.4896 319.27 62.4989 319.002 63.6488C318.734 64.7987 318.61 66.0281 318.631 67.3369L318.837 80.2214L326.568 80.0977L326.639 84.5153L307.128 84.8274L307.057 80.4099L314.052 80.298L313.706 58.7012L307.448 58.8013L307.377 54.3837Z"
                fill="black"></path>
              <path
                d="M87.5933 66.4621L87.8759 84.1322L82.7221 84.2146L82.0351 41.2664L97.3737 41.0211C99.5825 40.9857 101.51 41.2822 103.157 41.9105C104.803 42.4978 106.166 43.3148 107.246 44.3612C108.368 45.407 109.206 46.6415 109.76 48.0646C110.355 49.4461 110.665 50.9141 110.69 52.4684L110.72 54.309C110.744 55.8633 110.482 57.3609 109.932 58.8016C109.423 60.2418 108.626 61.5228 107.539 62.6449C106.452 63.726 105.095 64.6069 103.469 65.2875C101.843 65.9273 99.946 66.2645 97.7781 66.2991L87.5933 66.4621ZM87.5167 61.6764L97.088 61.5233C102.814 61.4317 105.638 58.9317 105.56 54.0233L105.542 52.919C105.508 50.7511 104.764 49.0242 103.311 47.7382C101.899 46.4106 99.7408 45.7701 96.8367 45.8165L87.2654 45.9696L87.5167 61.6764ZM148.889 68.3045C148.93 70.8405 148.536 73.097 147.708 75.0741C146.921 77.0097 145.843 78.6635 144.474 80.0355C143.104 81.3666 141.484 82.3949 139.614 83.1204C137.784 83.8452 135.867 84.2236 133.863 84.2557C131.818 84.2884 129.869 83.9718 128.018 83.3059C126.166 82.64 124.534 81.6637 123.122 80.3771C121.71 79.0495 120.559 77.4314 119.669 75.5227C118.82 73.5724 118.375 71.3293 118.334 68.7933L118.323 68.0571C118.283 65.562 118.656 63.3467 119.444 61.4111C120.271 59.4341 121.37 57.7595 122.739 56.3874C124.149 55.0147 125.768 53.966 127.598 53.2412C129.427 52.5164 131.344 52.138 133.349 52.1059C135.353 52.0738 137.281 52.3908 139.133 53.0567C140.984 53.7226 142.616 54.7193 144.029 56.0469C145.482 57.3738 146.633 59.0123 147.483 60.9626C148.372 62.8713 148.837 65.0732 148.877 67.5683L148.889 68.3045ZM133.79 79.7155C135.263 79.6919 136.609 79.4249 137.828 78.9144C139.087 78.3624 140.18 77.588 141.105 76.5913C142.03 75.5946 142.747 74.4171 143.258 73.0588C143.767 71.6595 144.008 70.101 143.981 68.383L143.969 67.6468C143.943 66.0107 143.653 64.522 143.1 63.1807C142.546 61.7985 141.79 60.6241 140.834 59.6574C139.877 58.6908 138.761 57.9518 137.484 57.4403C136.207 56.888 134.853 56.6232 133.421 56.6461C131.99 56.669 130.644 56.977 129.386 57.5699C128.126 58.1219 127.034 58.8963 126.109 59.893C125.184 60.8897 124.466 62.0877 123.957 63.4869C123.447 64.8452 123.205 66.3424 123.231 67.9785L123.243 68.7148C123.27 70.4327 123.561 71.9828 124.115 73.365C124.668 74.7063 125.423 75.8602 126.38 76.8269C127.336 77.7935 128.432 78.5328 129.668 79.045C130.944 79.5155 132.318 79.739 133.79 79.7155ZM161.858 95.2227L157.072 95.2993L156.389 52.5965L161.175 52.5199L161.251 57.3056L161.987 57.2938C163.022 55.4362 164.472 54.0219 166.338 53.051C168.204 52.0393 170.241 51.5157 172.45 51.4804C174.332 51.4503 176.117 51.7695 177.805 52.438C179.493 53.1065 180.981 54.0851 182.27 55.3737C183.6 56.6617 184.649 58.261 185.416 60.1716C186.223 62.0817 186.647 64.2638 186.686 66.7179L186.706 67.945C186.746 70.4401 186.413 72.6548 185.708 74.589C185.002 76.5232 184.005 78.1552 182.717 79.4851C181.47 80.8143 179.993 81.8403 178.287 82.5631C176.579 83.245 174.764 83.6014 172.842 83.6321C171.86 83.6478 170.856 83.5411 169.829 83.3121C168.804 83.1239 167.817 82.8124 166.869 82.3775C165.961 81.9011 165.113 81.3419 164.326 80.6998C163.537 80.0169 162.87 79.2093 162.323 78.2771L161.587 78.2888L161.858 95.2227ZM171.787 79.1076C173.26 79.084 174.606 78.817 175.825 78.3066C177.044 77.7552 178.095 77.0019 178.98 76.0468C179.906 75.0909 180.603 73.9342 181.073 72.5765C181.583 71.2182 181.824 69.7006 181.798 68.0235L181.778 66.7965C181.752 65.1603 181.462 63.6921 180.91 62.3917C180.397 61.0497 179.663 59.9159 178.707 58.9902C177.792 58.0229 176.696 57.2835 175.419 56.7721C174.184 56.26 172.85 56.0154 171.418 56.0383C169.987 56.0612 168.662 56.3688 167.444 56.961C166.226 57.5124 165.154 58.2865 164.229 59.2832C163.344 60.2792 162.648 61.4769 162.138 62.8761C161.628 64.2344 161.386 65.7316 161.412 67.3677L161.424 68.104C161.451 69.781 161.741 71.3106 162.295 72.6928C162.849 74.0341 163.583 75.1884 164.499 76.1557C165.455 77.1223 166.551 77.8617 167.787 78.3738C169.022 78.8859 170.356 79.1305 171.787 79.1076ZM216.781 51.6304L221.566 51.5538L222.053 81.9857L217.267 82.0622L217.179 76.5403L216.443 76.5521C215.493 78.5312 214.229 80.1061 212.652 81.2769C211.075 82.4477 209.06 83.0527 206.605 83.092C204.928 83.1188 203.37 82.8574 201.929 82.3076C200.53 81.7981 199.31 80.9994 198.27 79.9113C197.27 78.8227 196.471 77.4648 195.872 75.8379C195.314 74.2103 195.018 72.3125 194.983 70.1447L194.693 51.9837L199.479 51.9072L199.759 69.4546C199.81 72.645 200.502 74.966 201.835 76.4176C203.167 77.8692 205.183 78.5733 207.883 78.5302C210.787 78.4837 213.041 77.4657 214.646 75.4762C216.291 73.4451 217.087 70.773 217.034 67.4599L216.781 51.6304ZM233.045 77.3912L244.089 77.2145L243.543 43.1014L232.867 43.2722L232.797 38.8546L248.258 38.6073L248.874 77.1379L259.918 76.9613L259.989 81.3788L233.116 81.8087L233.045 77.3912ZM292.688 75.7006L291.952 75.7124C291.003 77.7732 289.657 79.3086 287.914 80.3184C286.212 81.3275 284.4 81.8475 282.477 81.8782C280.473 81.9103 278.606 81.6128 276.878 80.9859C275.149 80.318 273.62 79.3401 272.29 78.0521C271 76.7226 269.972 75.1025 269.205 73.1919C268.438 71.2812 268.034 69.0579 267.994 66.5219L267.978 65.5402C267.938 63.0451 268.271 60.8305 268.976 58.8963C269.682 56.962 270.658 55.3303 271.905 54.0011C273.192 52.6304 274.689 51.5836 276.396 50.8608C278.103 50.138 279.918 49.7612 281.84 49.7304C283.926 49.697 285.815 50.1373 287.507 51.0513C289.24 51.9236 290.612 53.3132 291.624 55.2199L292.361 55.2082L292.284 50.4225L297.07 50.346L297.456 74.5196C297.476 75.7467 298.038 76.3514 299.142 76.3338L300.676 76.3092L300.747 80.7268L297.495 80.7788C296.104 80.801 294.952 80.3694 294.038 79.484C293.164 78.5978 292.717 77.4594 292.694 76.0687L292.688 75.7006ZM282.895 77.3301C284.327 77.3072 285.632 77.0204 286.809 76.4697C288.028 75.9183 289.059 75.145 289.902 74.1495C290.745 73.1541 291.401 71.9776 291.871 70.6199C292.339 69.2214 292.56 67.6836 292.533 66.0066L292.522 65.2703C292.495 63.6342 292.226 62.1452 291.714 60.8032C291.201 59.4204 290.486 58.2453 289.571 57.278C288.696 56.3101 287.641 55.5701 286.405 55.058C285.21 54.5043 283.917 54.2386 282.526 54.2608C281.095 54.2837 279.79 54.5705 278.612 55.1213C277.435 55.672 276.404 56.4454 275.52 57.4414C274.676 58.3959 274.019 59.5725 273.551 60.971C273.082 62.3287 272.86 63.8256 272.886 65.4617L272.902 66.4434C272.957 69.9201 273.901 72.6258 275.732 74.5603C277.603 76.4533 279.991 77.3766 282.895 77.3301ZM306.046 50.2024L317.09 50.0257L317.155 54.0751L317.891 54.0633C318.641 52.3738 319.726 51.1291 321.145 50.329C322.564 49.4881 324.193 49.0529 326.034 49.0234C329.102 48.9743 331.592 49.9369 333.506 51.911C335.42 53.8852 336.469 56.7937 336.653 60.6366L331.633 61.4534C331.588 58.6311 330.881 56.6172 329.512 55.4117C328.141 54.1653 326.475 53.5578 324.511 53.5892C323.243 53.6095 322.143 53.8725 321.21 54.3784C320.318 54.8837 319.572 55.5707 318.972 56.4394C318.373 57.3082 317.939 58.3175 317.671 59.4674C317.403 60.6173 317.279 61.8467 317.3 63.1556L317.506 76.04L325.237 75.9163L325.308 80.3339L305.797 80.646L305.726 76.2285L312.721 76.1166L312.375 54.5198L306.117 54.6199L306.046 50.2024Z"
                fill="white"></path>
            </g>
            <defs>
              <clipPath id="clip0_304_2854">
                <rect
                  width="455"
                  height="155.848"
                  fill="black"
                  transform="translate(0 0.0759277)"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h3 class="text-lg text-black lg:text-3xl">Indie Hacker</h3>
        <p class="xl:text-2xl tracking-tight text-black mt-5">
          Perfect for those leaving 9-5 and working 24/7.
        </p>
        <p class="order-first text-4xl text-black lg:text-8xl">$29</p>
        <ul
          class="gap-4 mt-6 space-y-3 list-none lg:gap-6 xl:text-2xl tracking-tight text-black order-last"
          role="list"
        >
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited deploys</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited members</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">5 TB cloud storage</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Growth oriented</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Marketing campaigns</span>
          </li>
        </ul>
        <a
          href="#_"
          class="relative inline-block px-4 w-full lg:px-8 lg:py-4 py-2 font-medium group text-center mt-6"
        >
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
          ></span>
          <span
            class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
          ></span>
          <span class="relative lg:text-4xl text-black group-hover:text-white"
            >Purchase!</span
          >
        </a>
      </section>
      <section
        class="flex flex-col px-6 shadow-large border-2 border-black sm:px-8 lg:py-8"
      >
        <h3 class="text-lg text-black lg:text-3xl">Big fish</h3>
        <p class="xl:text-2xl tracking-tight text-black mt-5">
          For even the biggest enterprise companies.
        </p>
        <p class="order-first text-4xl text-black lg:text-8xl">$99</p>
        <ul
          class="gap-4 mt-6 space-y-3 list-none lg:gap-6 xl:text-2xl tracking-tight text-black order-last"
          role="list"
        >
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited deploys</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Unlimited members</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">5 TB cloud storage</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Growth oriented</span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-6 h-6"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                fill="currentColor"></path>
            </svg>

            <span class="ml-3">Marketing campaigns</span>
          </li>
        </ul>
        <a
          href="#_"
          class="relative inline-block px-4 w-full lg:px-8 lg:py-4 py-2 font-medium group text-center mt-6"
        >
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
          ></span>
          <span
            class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
          ></span>
          <span class="relative lg:text-4xl text-black group-hover:text-white"
            >Purchase!</span
          >
        </a>
      </section>
    </div>
  </div>
</section>
