<section
  aria-labelledby="pricing-one"
  id="pricing-one"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="relative p-8 lg:p-20 items-center gap-12 h-full bg-white 2xl:border-x-2 border-black 22xl:px-0"
    >
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-black">
          <span class="text-base font-medium tracking-tight">Pricing</span>
          <span class="ml-3 h-3.5 w-px bg-black"></span>
          <span class="text-sm ml-3" aria-hidden="true">01</span>
        </h2>
        <p class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">
          Pricing
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          We want you to live a get out from the fake till you make it, and
          start to make it so you make it.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="relative flex items-center w-full border-b-2 border-black"
  aria-labelledby="pricing-one"
  id="pricing-one"
>
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl divide-y-2 divide-black"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y divide-black md:divide-y-0 md:divide-x-2 2xl:border-x-2 border-black"
    >
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:p-20 items-center gap-12 h-full lg:inline-flex bg-yellow-500"
        >
          <div class="">
            <p class="text-5xl tracking-tight text-black">More than free</p>
          </div>
        </div>
        <div
          class="relative p-8 lg:p-20 items-center gap-12 h-full lg:inline-flex bg-white"
        >
          <div class="text-left mx-auto w-full">
            <div class="grid-cols-1 grid lg:grid-cols-2">
              <div>
                <div>
                  <p
                    class="inline-flex items-center shadow-small shadow-black bg-white border border-black px-2.5 py-0.5 text-sm font-medium text-black"
                  >
                    Testing
                  </p>
                </div>
                <p class="mt-6">
                  <span class="text-4xl text-black lg:text-8xl">$00</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>

                <p class="mt-4 text-lg font-medium text-black lg:text-3xl">
                  Features
                  <span class="ml-3 hidden lg:inline">&rarr;</span>
                </p>
              </div>
              <ul
                class="gap-4 mt-6 space-y-3 list-none lg:gap-6 xl:text-2xl tracking-tight text-black"
                role="list"
              >
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Unlimited deploys</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Unlimited members</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">5 TB cloud storage</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Growth oriented</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Marketing campaigns</span>
                </li>
              </ul>
            </div>
            <div class="mt-6">
              <div class="flex gap-3 mt-10 lg:justify-start">
                <a
                  href="#_"
                  class="relative inline-block px-4 w-full lg:px-8 lg:py-4 py-2 font-medium group text-center"
                >
                  <span
                    class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
                  ></span>
                  <span
                    class="absolute inset-0 w-full h-full bg-orange-500 border-2 border-black group-hover:bg-black"
                  ></span>
                  <span
                    class="relative lg:text-4xl text-black group-hover:text-white"
                    >Purchase!</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:p-20 items-center gap-12 h-full lg:inline-flex bg-orange-500"
        >
          <div class="">
            <p class="text-5xl tracking-tight text-black">Not so free</p>
          </div>
        </div>
        <div
          class="relative p-8 lg:p-20 items-center gap-12 h-full lg:inline-flex bg-black"
        >
          <div class="text-left mx-auto w-full">
            <div class="grid-cols-1 grid lg:grid-cols-2">
              <div>
                <div>
                  <p
                    class="inline-flex items-center shadow-small shadow-white bg-black border border-white px-2.5 py-0.5 text-sm font-medium text-white"
                  >
                    Super pro
                  </p>
                </div>
                <p class="mt-6">
                  <span class="text-4xl text-white lg:text-8xl">$399</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>

                <p class="mt-4 text-lg font-medium text-white lg:text-3xl">
                  Features
                  <span class="ml-3 hidden lg:inline">&rarr;</span>
                </p>
              </div>

              <ul
                class="gap-4 mt-6 space-y-3 list-none lg:gap-6 xl:text-2xl tracking-tight text-white"
                role="list"
              >
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Unlimited deploys</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Unlimited members</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">5 TB cloud storage</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Growth oriented</span>
                </li>
                <li class="flex">
                  <svg
                    class="flex-shrink-0 w-6 h-6"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                      fill="currentColor"></path>
                  </svg>

                  <span class="ml-3">Marketing campaigns</span>
                </li>
              </ul>
            </div>
            <div class="mt-6">
              <div class="flex gap-3 mt-10 lg:justify-start">
                <a
                  href="#_"
                  class="relative inline-block px-4 lg:px-8 lg:py-4 py-2 w-full font-medium group text-center"
                >
                  <span
                    class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-white group-hover:-translate-x-0 group-hover:-translate-y-0"
                  ></span>
                  <span
                    class="absolute inset-0 w-full h-full bg-yellow-500 border-2 border-white group-hover:bg-white"
                  ></span>
                  <span class="relative lg:text-4xl text-black">Purchase!</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
