---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="relative py-32 overflow-hidden lg:py-55">
      <div
        class="absolute inset-0 mt-auto -mx-px border-t pointer-events-none bg-base-vertical-stripes h-1/5  border-base-800"
      >
      </div>
      <div class="relative text-center text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="tracking-tight text-white font-display"
        >
          Well, this is awkward.
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="max-w-xl mx-auto mt-4 text-base-400"
        >
          The page you’re looking for either vanished, never existed, or decided
          it was too cool to show up. We respect the hustle.
        </Text>
      </div>
      <div
        class="relative flex flex-wrap items-center justify-center w-full mt-10 gap-2"
      >
        <Button isLink={true} size="sm" variant="default" href="/"
          >Go to Homepage</Button
        >
        <Button isLink={true} size="sm" variant="muted" href="/forms/contact"
          >Still lost? Contact us</Button
        >
      </div>
    </Wrapper>
  </section>
</BaseLayout>
