---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
---

<BaseLayout hideNav={true} hideFooter={true}>
  <section>
    <Wrapper
      variant="standard"
      class="flex flex-col items-center justify-center py-24 border-y-2 bg-accent-200 lg:h-svh"
    >
      <div class="max-w-3xl mx-auto text-center lg:py-32">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-black"
        >
          404 - Page Not Found
        </Text>
        <Text tag="p" variant="textLG" class="mt-4 text-black text-balance">
          Oops! The page you are looking for cannot be found. It may have been
          moved, deleted, or never existed. Please check the URL or navigate
          back to our homepage. If you continue to encounter this issue, feel
          free to contact our support team for assistance.
        </Text>
        <Button
          isLink={true}
          href="/"
          size="xl"
          variant="default"
          class="mx-auto mt-8 w-fit">Go back home</Button
        >
      </div>
    </Wrapper>
  </section>
</BaseLayout>
