<section
  aria-labelledby="terms"
  id="terms"
  class="flex items-center w-full border-b-2 border-black">
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
    <div class="p-8 lg:p-20 items-center gap-12 h-full bg-lila-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl font-display text-black">Trouble signing in</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="py-[5.75rem] 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black border-b-2">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div></div>
      <div
        class="mx-auto prose-2xl prose text-black prose-h1:text-black prose-h1:font-medium prose-h1:lg:text-7xl prose-h1:tracking-tight prose-a:font-semibold prose-a:text-violet-600 hover:prose-a:text-black prose-img:border-2 prose-img:border-black prose-img:shadow">
        <p>
          How to regain access to your Lexingtonaccount if you can no longer
          sign in or have forgotten some of your log in information.
        </p>
        <h2>Forgotten username or email address</h2>
        <p>
          The username for your Lexingtonaccount is the email address that was
          used to register the account. Check your inbox for any lexington
          emails to confirm the email address you signed up with.
        </p>
        <p>Forgotten password</p>
        <ul>
          <li>Sing in to Flabbergasted</li>
          <li>Click your avatar in the top-right corner.</li>
          <li>Open settings</li>
          <li>CEnable dark mode</li>
        </ul>
      </div>
      <div
        class="mt-12 border-2 border-black bg-white rounded-xl p-4 max-w-[48rem] mx-auto shadow-large">
        <div class="items-center inline-flex w-full">
          <p class="text-black font-semibold">Was this helpful?</p><p></p><span
            class="isolate inline-flex ml-auto"
            ><button
              class="text-sm focus:outline-none px-4 py-2 bg-black border-2 border-black duration-200 focus:border-violet-500 focus:ring-1 focus:ring-violet-500 focus:z-10 font-medium hover:bg-gray-50 inline-flex items-center relative text-white hover:text-black rounded-l-md"
              type="button">Yes</button
            >
            <button
              class="text-sm focus:outline-none px-4 py-2 bg-black border-2 border-black duration-200 focus:border-violet-500 focus:ring-1 focus:ring-violet-500 focus:z-10 font-medium hover:bg-gray-50 inline-flex items-center relative text-white hover:text-black -ml-px rounded-r-md"
              type="button">No</button
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
