<section>
  <div
  class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black"
>
  <div
    class="p-8 lg:p-20 lg:py-32 items-center gap-12 h-full bg-lila-500 border-b-2 border-black"
  >
    <div class="text-center max-w-4xl mx-auto">
      <p class="text-5xl lg:text-7xl text-black">Open an account</p>

    </div>
  </div>
</div>
<div class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20 ">
  <div class="max-w-3xl mx-auto">
    <div class="prose-styles">
      <h2>Workspace Administration</h2>

        <ul class="list-disc">
          <li>
            <a href="/help-article">How to access admin insights</a>
          </li><li>
            <a href="/help-article"
              >How to invite Creator Lite members on Business</a
            >
          </li><li>
            <a href="/help-article"
              >How to make it easy for your team to join your Workspace</a
            >
          </li><li>
            <a href="/help-article">How to use 's privacy settings</a>
          </li><li>
            <a href="/help-article"
              >How to transfer Admins when an Admin has left your organization</a
            >
          </li>
        </ul>
        <h2>Account Settings</h2>
        <ul class="list-disc">
          <li>
            <a href="/helpcenter/help-article">How to change your account email</a>
          </li><li>
            <a href="/helpcenter/help-article">How to leave a Workspace</a>
          </li><li>
            <a href="/helpcenter/help-article">How to delete your account</a>
          </li><li>
            <a href="/helpcenter/help-article"
              >How to edit your personal account settings</a
            >
          </li><li>
            <a href="/helpcenter/help-article"
              >How to transfer Admins when an Admin has left your organization</a
            >
          </li>
        </ul>
        <h2>Billing & Payment</h2>
        <ul class="list-disc">
          <li>
            <a href="/helpcenter/help-article">’s Billing Policy (Business Plans)</a>
          </li><li>
            <a href="/helpcenter/help-article"
              >Where to find invoice and update your billing information</a
            >
          </li><li>
            <a href="/helpcenter/help-article">How to manage your team's billing</a>
          </li><li>
            <a href="/helpcenter/help-article">Billing FAQ</a>
          </li><li>
            <a href="/helpcenter/help-article">How to downgrade / cancel your plan</a>
          </li>
        </ul>
    </div>
  </div>
</div>
</section>

