<section
  aria-labelledby="terms"
  id="terms"
  class="flex items-center w-full border-b-2 border-black">
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
    <div class="p-8 lg:p-20 items-center gap-12 h-full bg-lila-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl font-display text-black">Open an account</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="py-[5.75rem] 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black border-b-2">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div></div>
      <div
        class="mx-auto prose-2xl prose text-black prose-h1:text-black prose-h2:font-medium prose-h2:lg:text-7xl prose-h1:tracking-tight prose-a:font-semibold prose-a:text-violet-600 hover:prose-a:text-black prose-img:border-2 prose-img:border-black prose-img:shadow">
        <h2>Workspace Administration</h2>

        <ul class="list-disc">
          <li>
            <a href="/help-article">How to access admin insights</a>
          </li><li>
            <a href="/help-article"
              >How to invite Creator Lite members on Business</a
            >
          </li><li>
            <a href="/help-article"
              >How to make it easy for your team to join your Workspace</a
            >
          </li><li>
            <a href="/help-article">How to use 's privacy settings</a>
          </li><li>
            <a href="/help-article"
              >How to transfer Admins when an Admin has left your organization</a
            >
          </li>
        </ul>
        <h2>Account Settings</h2>
        <ul class="list-disc">
          <li>
            <a href="/help-category">How to change your account email</a>
          </li><li>
            <a href="/help-category">How to leave a Workspace</a>
          </li><li>
            <a href="/help-category">How to delete your account</a>
          </li><li>
            <a href="/help-category"
              >How to edit your personal account settings</a
            >
          </li><li>
            <a href="/help-category"
              >How to transfer Admins when an Admin has left your organization</a
            >
          </li>
        </ul>
        <h2>Billing & Payment</h2>
        <ul class="list-disc">
          <li>
            <a

              href="/help-category">’s Billing Policy (Business Plans)</a>
          </li><li>
            <a

              href="/help-category"
              >Where to find invoice and update your billing information</a>
          </li><li>
            <a

              href="/help-category">How to manage your team's billing</a>
          </li><li>
            <a

              href="/help-category">Billing FAQ</a>
          </li><li>
            <a

              href="/help-category">How to downgrade / cancel your plan</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
