<section
  
  class="relative flex items-center w-full border-b-2 border-black 2xl:max-w-7xl mx-auto bg-violet-300">
  <div class="relative items-center w-full mx-auto">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-xl mx-auto items-center">
        <p class="text-5xl mt-3 font-display text-black">Help Center</p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          Track website traffic, user behavior, and conversion rates with our
          easy-to-use Dashboard
        </p>
      </div>
      <div class="justify-center mt-12 w-full mx-auto">
        <div
          class="border-black mx-auto justify-between shadow bg-white border-2 max-w-sm p-2 rounded-2xl sm:flex">
          <div class="relative flex items-center w-full">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="search...."
              class="block border-0 pr-14 text-black ring-1 ring-inset ring-transparent w-full px-5 border-transparent focus:ring-black py-3 bg-transparent focus:border-black placeholder-black rounded-md placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
            />
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <kbd
                class="inline-flex items-center rounded-lg border-0 bg-black p-2 font-sans text-xs text-white"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
      <a
        href="/help-category"
        class="shadow-large p-4 lg:p-8 border-2 border-black">
        <h2 class="text-3xl tracking-tight text-black">Open an account</h2>
        <p class="xl:text-xl tracking-tight text-black mt-3">12 articles</p>
      </a>
      <a
        href="/help-category"
        class="shadow-large p-4 lg:p-8 border-2 border-black">
        <h2 class="text-3xl tracking-tight text-black">Add a product</h2>
        <p class="xl:text-xl tracking-tight text-black mt-3">1 articles</p>
      </a>
      <a
        href="/help-category"
        class="shadow-large p-4 lg:p-8 border-2 border-black">
        <h2 class="text-3xl tracking-tight text-black">Start selling</h2>
        <p class="xl:text-xl tracking-tight text-black mt-3">20 articles</p>
      </a>
      <a
        href="/help-category"
        class="shadow-large p-4 lg:p-8 border-2 border-black">
        <h2 class="text-3xl tracking-tight text-black">Market your work</h2>
        <p class="xl:text-xl tracking-tight text-black mt-3">2 articles</p>
      </a>
      <a
        href="/help-category"
        class="shadow-large p-4 lg:p-8 border-2 border-black">
        <h2 class="text-3xl tracking-tight text-black">Get paid</h2>
        <p class="xl:text-xl tracking-tight text-black mt-3">45 articles</p>
      </a>
    </div>
  </div>
</section>
