<section aria-labelledby="feature-eight" id="feature-eight">
  <div
    class="mx-auto 2xl:max-w-7xl lg:flex 2xl:border-x-2 border-black border-b-2">
    <div class="lg:w-1/2 p-8 lg:p-20 bg-white">
      <div class="lg:sticker lg:sticky pb-16 pt-12 lg:pt-32 top-0">
        <div>
          <div>
            <p class="text-5xl tracking-tight lg:text-7xl text-black">
              Follow the steps
            </p>
            <p class="mt-4 mx-auto tracking-tight text-black text-3xl max-w-xl">
              Contact support 24x7 help from our support staff
            </p>
            <div class="mt-1 space-y-1" aria-labelledby="projects-headline">
              <div
                class="mt-6 space-y-2 mx-auto tracking-tight text-black max-w-xl">
                <a href="/single-topic" class="block"
                  ><span class="truncate">Website redesign</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">GraphQL API</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Customer migration guides</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Profit sharing program</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Conexions</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Deployments</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Payments</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Payouts</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Invoices</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Account</span>
                </a><a href="/single-topic" class="block"
                  ><span class="truncate">Privacy</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 p-8 lg:p-20 bg-lila-500 lg:border-l-2 border-black">
      <div class="flex-shrink-0">
        <div
          class="mx-auto prose-2xl prose text-black prose-h1:text-black prose-h1:font-medium prose-h1:lg:text-7xl prose-h1:tracking-tight prose-a:font-semibold prose-a:text-violet-600 hover:prose-a:text-black prose-img:border-2 prose-img:border-black prose-img:shadow">
          <h1>Trouble signing in</h1>
          <p>
            How to regain access to your Lexingtonaccount if you can no longer
            sign in or have forgotten some of your log in information.
          </p>
          <h2>Forgotten username or email address</h2>
          <p>
            The username for your Lexingtonaccount is the email address that was
            used to register the account. Check your inbox for any lexington
            emails to confirm the email address you signed up with.
          </p>
          <p>Forgotten password</p>
          <ul>
            <li>Sing in to Flabbergasted</li>
            <li>Click your avatar in the top-right corner.</li>
            <li>Open settings</li>
            <li>CEnable dark mode</li>
          </ul>
        </div>
        <div
          class="mt-12 border-2 border-black bg-white rounded-xl p-4 max-w-[48rem] mx-auto shadow-large">
          <div class="items-center inline-flex w-full">
            <p class="text-black font-semibold">Was this helpful?</p><p>
            </p><span class="isolate inline-flex ml-auto"
              ><button
                class="text-sm focus:outline-none px-4 py-2 bg-black border-2 border-black duration-200 focus:border-violet-500 focus:ring-1 focus:ring-violet-500 focus:z-10 font-medium hover:bg-gray-50 inline-flex items-center relative text-white hover:text-black rounded-l-md"
                type="button">Yes</button
              >
              <button
                class="text-sm focus:outline-none px-4 py-2 bg-black border-2 border-black duration-200 focus:border-violet-500 focus:ring-1 focus:ring-violet-500 focus:z-10 font-medium hover:bg-gray-50 inline-flex items-center relative text-white hover:text-black -ml-px rounded-r-md"
                type="button">No</button
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
