---
// Assets
import Cross from "@/components/assets/Cross.astro";
import StripesBG from "@/components/assets/StripesBG.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ChangelogEntry from "@/components/changelog/ChangelogEntry.astro";
// Content
import { getCollection } from "astro:content";
const allUpdatesUnsorted = await getCollection("changelog");
// Sort the posts in descending order by publication date (newest to oldest)
const allUpdates = allUpdatesUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12 relative overflow-hidden">
      <!-- Top Right Plus -->
      <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
      <!-- Top left Plus -->
      <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />
      <StripesBG
        variant="light"
        direction="horizontal"
        class="absolute hidden md:block inset-0 w-[25%] mt-auto -mx-px h-full ml-auto"
      />
      <StripesBG
        variant="accent"
        direction="horizontal"
        class="absolute hidden md:block inset-0 w-[25%] mt-auto -mx-px h-[35%] ml-auto"
      />
      <StripesBG
        variant="base"
        direction="horizontal"
        class="absolute hidden md:block inset-0 w-[25%] mt-auto -mx-px h-[20%] ml-auto"
      />
      <div class="text-balance max-w-xl relative">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-white"
        >
          What’s New (and What We Finally Fixed)
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          New features, improvements, and bugs we sent to the shadow realm — all
          tracked right here.
        </Text>
      </div>
    </Wrapper>
    <div class="flex flex-col gap-px border-t border-base-800">
      {allUpdates.map((post) => <ChangelogEntry post={post} />)}
    </div>
  </section>
</BaseLayout>
