<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Alerts</p>
      </div>
      <div class="divide-y-2 divide-black">
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Simple</h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl p-8"
            >
              <h3 class="text-lg lg:text-xl font-medium">
                Lexington's V3 is here with a new design
              </h3>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            With description
          </h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl p-8"
            >
              <div class="inline-flex items-center gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-6 icon icon-tabler icon-tabler-info-circle"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                  <path d="M12 9h.01"></path>
                  <path d="M11 12h1v4h1"></path>
                </svg>
                <h3 class="text-lg lg:text-xl font-medium">
                  Time for a Giggle Break!
                </h3>
              </div>
              <div class="mt-2 text-base lg:text-lg">
                <p>
                  Why don't scientists trust atoms? Because they make up
                  everything, just like my excuses for being late to the office!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">With list</h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl p-8"
            >
              <div class="inline-flex items-center gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-6 icon icon-tabler icon-tabler-info-circle"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                  <path d="M12 9h.01"></path>
                  <path d="M11 12h1v4h1"></path>
                </svg>
                <h3 class="text-lg lg:text-xl font-medium">
                  Time for a Giggle Break!
                </h3>
              </div>
              <div class="mt-2 text-base lg:text-lg">
                <ul role="list" class="pl-5 space-y-1 list-disc">
                  <li>
                    Your password must be at least 8 characters, because even
                    passwords need a little length to protect their secrets.
                  </li>
                  <li>
                    Your password must include at least one pro wrestling
                    finishing move, so you can 'pin' down your security like a
                    champ
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">With buttons</h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="overflow-hidden ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl divide-y-2 divide-black"
            >
             <div class="p-8">
                <div class="inline-flex items-center gap-4 ">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-6 icon icon-tabler icon-tabler-circle-check"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M9 12l2 2l4 -4"></path>
                  </svg>
                  <h3 class="text-lg lg:text-xl font-medium">
                    Time for a Giggle Break!
                  </h3>
                </div>
                <div class="mt-2 text-base lg:text-lg">
                  <p>
                    Why don't scientists trust atoms? Because they make up
                    everything, just like my excuses for being late to the office!
                  </p>
                </div>
             </div>

              <div class="flex flex-wrap w-full gap-2  p-8">
                <button
                  type="button"
                  class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3 ml-auto"
                  >Outlined button</button
                >
                <button
                  type="button"
                  class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500 gap-3"
                  >Primary button</button
                >
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">With link</h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl p-8"
            >
              <div class="flex p-4 text-black lg:items-center">
                <div class="flex-shrink-0">
                  <svg
                    class="size-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                      clip-rule="evenodd"></path>
                  </svg>
                </div>
                <div
                  class="flex-1 ml-3 md:flex md:justify-between text-base lg:text-lg lg:items-center"
                >
                  <p>
                    A new software update is available. See what’s new in
                    version 2.0.4.
                  </p>
                  <p class="mt-3 md:ml-6 md:mt-0">
                    <a
                      href="#"
                      class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                    >
                      Details
                      <svg
                        class="size-6"
                        viewBox="0 0 36 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5.22803 16.8936H4.22803V18.8936H5.22803V16.8936ZM31.228 18.8936C31.7803 18.8936 32.228 18.4458 32.228 17.8936C32.228 17.3413 31.7803 16.8936 31.228 16.8936V18.8936ZM22.228 7.89355V6.89355H20.228V7.89355H22.228ZM30.6487 18.671C31.1335 18.9354 31.741 18.7567 32.0054 18.2719C32.2699 17.787 32.0912 17.1796 31.6064 16.9151L30.6487 18.671ZM20.2279 27.793V28.793H22.2279V27.793H20.2279ZM5.22803 18.8936H31.1274V16.8936H5.22803V18.8936ZM31.1274 18.8936H31.228V16.8936H31.1274V18.8936ZM20.228 7.89355C20.228 9.36597 21.0233 10.7723 21.9996 11.9705C22.9958 13.1931 24.2997 14.3433 25.5663 15.3221C26.8389 16.3054 28.1065 17.1405 29.0531 17.7285C29.5273 18.0231 29.9232 18.2571 30.2018 18.4181C30.3411 18.4986 30.4513 18.561 30.5274 18.6036C30.5654 18.6249 30.5949 18.6413 30.6153 18.6526C30.6256 18.6583 30.6335 18.6626 30.6391 18.6657C30.6419 18.6672 30.6441 18.6684 30.6457 18.6693C30.6465 18.6697 30.6471 18.6701 30.6476 18.6704C30.6479 18.6705 30.6481 18.6707 30.6483 18.6707C30.6485 18.6709 30.6487 18.671 31.1275 17.793C31.6064 16.9151 31.6065 16.9152 31.6065 16.9152C31.6065 16.9152 31.6066 16.9153 31.6065 16.9152C31.6064 16.9152 31.6062 16.915 31.6058 16.9148C31.605 16.9144 31.6036 16.9136 31.6016 16.9125C31.5977 16.9104 31.5914 16.9069 31.5829 16.9022C31.5659 16.8928 31.5398 16.8783 31.5053 16.859C31.4364 16.8204 31.3339 16.7623 31.2025 16.6864C30.9397 16.5346 30.5622 16.3115 30.1084 16.0296C29.1988 15.4646 27.9915 14.6686 26.7892 13.7395C25.581 12.8059 24.41 11.7625 23.5501 10.7071C22.6702 9.62726 22.228 8.67114 22.228 7.89355H20.228ZM31.1274 17.8936C30.7528 16.9664 30.7525 16.9665 30.7522 16.9666C30.7521 16.9667 30.7517 16.9668 30.7514 16.9669C30.7508 16.9672 30.75 16.9675 30.7491 16.9679C30.7473 16.9686 30.7449 16.9696 30.7419 16.9708C30.7358 16.9733 30.7275 16.9767 30.7168 16.9812C30.6954 16.99 30.665 17.0027 30.626 17.0192C30.548 17.0523 30.4358 17.1007 30.2943 17.1639C30.0114 17.2902 29.6106 17.4761 29.131 17.7175C28.1744 18.1991 26.8919 18.9078 25.6031 19.8125C24.3195 20.7137 22.9945 21.8336 21.9826 23.1471C20.9695 24.462 20.2279 26.0278 20.2279 27.793H22.2279C22.2279 26.6086 22.7238 25.462 23.5669 24.3677C24.4111 23.272 25.561 22.2857 26.7523 21.4494C27.9383 20.6168 29.1308 19.9567 30.0303 19.5039C30.4788 19.2782 30.8514 19.1055 31.1099 18.99C31.2391 18.9323 31.3396 18.889 31.4066 18.8606C31.4401 18.8464 31.4652 18.8359 31.4813 18.8293C31.4894 18.8259 31.4952 18.8235 31.4987 18.8221C31.5004 18.8214 31.5016 18.8209 31.5021 18.8207C31.5024 18.8206 31.5026 18.8205 31.5026 18.8205C31.5026 18.8205 31.5024 18.8206 31.5024 18.8206C31.5023 18.8206 31.5021 18.8207 31.1274 17.8936Z"
                          fill="black"></path>
                      </svg>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Dissmisable</h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              x-show="showAlert"
              x-data="{ showAlert: true }"
              role="alert"
              class="ring-2 ring-inset ring-black text-black bg-white shadow-small rounded-xl p-8"
            >
              <div
                class="flex items-center justify-between w-full gap-4 text-black"
              >
                <p class="text-base lg:text-lg">
                  The cookie monster just ate your cookies.
                </p>
                <div>
                  <button
                    @click="showAlert = false"
                    class="underline bg-white ring-2 ring-black text-black focus:bg-black focus:text-white hover:bg-white hover:text-lila-500 rounded-full p-0.5"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="size-6 icon icon-tabler icon-tabler-x"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                      ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                      ></path></svg
                    ></button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            States filled
          </h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="p-8 text-info-900 shadow-info-400 shadow-small bg-info-200 rounded-xl border-2 border-info-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Info</h3>
            </div>
            <div
              class="p-8 text-success-900 shadow-success-400 shadow-small bg-success-200 rounded-xl border-2 border-success-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Success</h3>
            </div>
            <div
              class="p-8 text-warning-900 shadow-warning-400 shadow-small bg-warning-200 rounded-xl border-2 border-warning-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Warning</h3>
            </div>
            <div
              class="p-8 text-danger-900 shadow-warning-400 shadow-small bg-danger-200 rounded-xl border-2 border-danger-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Danger</h3>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            States outlined
          </h3>
          <div class="flex flex-col w-full gap-2 mt-12">
            <div
              class="p-8 text-info-500 shadow-info-400 shadow-small bg-white rounded-xl border-2 border-info-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Info</h3>
            </div>
            <div
              class="p-8 text-success-500 shadow-success-400 shadow-small bg-white rounded-xl border-2 border-success-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Success</h3>
            </div>
            <div
              class="p-8 text-warning-500 shadow-warning-400 shadow-small bg-white rounded-xl border-2 border-warning-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Warning</h3>
            </div>
            <div
              class="p-8 text-danger-500 shadow-warning-400 shadow-small bg-white rounded-xl border-2 border-danger-300"
            >
              <h3 class="text-lg lg:text-xl font-medium">Danger</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
