<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Breadcrumbs</p>
      </div>
      <div class="divide-y-2 divide-black">
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Simple with arrows
          </h3>
          <div class="max-w-2xl mt-10">
            <nav class="flex" aria-label="Breadcrumb">
              <ol role="list" class="items-center space-x-2 flex">
                <li>
                  <div
                    class=""
                  >
                    <a
                      href="#_"
                      class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex  focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-#-2 size-8"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                        ></path>
                        <path d="M10 12h4v4h-4z"></path>
                      </svg></a
                    >
                  </div>
                </li>
                <li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    >
                    <a
                      href="#_"
                      class="text-base ml-2 text-black hover:text-lila-800"
                    >
                      Help Center
                    </a>
                  </div>
                </li>
                <li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    ><a
                      href="#"
                      class="ml-2 text-base font-medium text-lila-800 hover:text-black"
                      >Help Category</a
                    >
                  </div>
                </li><li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    ><a
                      href="#_"
                      class="ml-2 text-sm font-medium text-white"
                      aria-current="page">Settings and billing</a
                    >
                  </div>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="p-8 lg:p-20"> <h3 class="text-xl font-medium leading-6 text-black">
          Simple with dividers
        </h3>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 flex">
              <li>
                <div>
                  <a href="#_" class="text-sm text-black hover:text-lila-800">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 size-8"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg></a
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash size-8 text-black"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg>
                  <a
                    href="#_"
                    class="text-base ml-2 text-black hover:text-lila-800"
                  >
                    Help Center
                  </a>
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash size-8 text-black"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg><a
                    href="#"
                    class="ml-2 text-base font-medium text-lila-800 hover:text-black"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash size-8 text-black"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div></div>
        <div class="p-8 lg:p-20">  <h3 class="text-xl font-medium leading-6 text-black">Boxed</h3>
          <div class="max-w-2xl mt-10">
            <nav class="flex" aria-label="Breadcrumb">
              <ol
                role="list"
                class="items-center space-x-2 flex border-2 py-2 px-4 h-16 bg-white rounded-xl border-black"
              >
                <li>
                  <div>
                    <a href="#_" class="text-sm text-black hover:text-lila-800">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-#-2 size-8"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                        ></path>
                        <path d="M10 12h4v4h-4z"></path>
                      </svg>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    >
                    <a
                      href="#_"
                      class="text-sm ml-2 text-black hover:text-lila-800"
                    >
                      Help Center
                    </a>
                  </div>
                </li><li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    ><a
                      href="#"
                      class="ml-2 text-sm font-medium text-black hover:text-lila-800"
                      >Help Category</a
                    >
                  </div>
                </li><li>
                  <div class="flex items-center">
                    <svg
                      class="flex-shrink-0 size-8 text-black"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                      ><path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path></svg
                    ><a
                      href="#_"
                      class="ml-2 text-sm font-medium text-black"
                      aria-current="page">Settings and billing</a
                    >
                  </div>
                </li>
              </ol>
            </nav>
          </div></div>
        <div class="p-8 lg:p-20"> <h3 class="text-xl font-medium leading-6 text-black">
          Button like
        </h3>
        <div class=" mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 flex">
              <li>
                <div

                >
                  <a href="#_" class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex  focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 size-8"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center gap-2">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex  focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                  >
                    Help Center
                  </a>
                </div>
              </li><li>
                <div class="flex items-center gap-2">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex  focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center gap-2">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div></div>
        <div class="p-8 lg:p-20"> <h3 class="text-xl font-medium leading-6 text-black">
          With options
        </h3>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 inline-flex">
              <li>
                <div class="flex items-center">
                  <a href="#_" class="text-sm text-black hover:text-lila-800">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 size-8"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg></a
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-base ml-2 text-black hover:text-lila-800"
                  >
                    Help Center
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="ml-2 text-base font-medium text-black hover:text-lila-800"
                    >Help Category</a
                  >
                </div>
              </li>
              <li
                class="flex items-center relative"
                @click.away="open = false"
                x-data="{ open: false }"
              >
                <svg
                  class="flex-shrink-0 size-8 text-black"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path></svg
                >
                <button
                  @click="open = !open"
                  class="bg-white px-4 ml-2 rounded border-black hover:bg-lila-200 border-2 justify-between text-sm text-black hover:text-lila-800"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-dots size-4"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  </svg>
                </button>
                <div
                  x-show="open"
                  style="display: none;"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 z-10 w-auto mt-2 origin-top-right rounded-lg bg-white ring-2 ring-black"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="menu-button"
                  tabindex="-1"
                >
                  <div class="py-1 bg-white rounded-xl" role="none">
                    <button
                      type="button"
                      class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-0">Overview </button
                    >
                    <button
                      type="button"
                      class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-1">Style Guide</button
                    >
                    <button
                      type="button"
                      class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-2">Components</button
                    >
                    <form
                      method="POST"
                      action="#"
                      role="none"
                      class="border-t border-white/5"
                    >
                      <button
                        type="submit"
                        class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-3">Sign out</button
                      >
                    </form>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 size-8 text-black"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="ml-2 text-base font-medium text-black"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div></div>
      </div>
    </div>
  </div>
</section>

