<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Buttons</p>
      </div>
      <div class="divide-y-2 divide-black">
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Default</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500"
              >Primary button</button
            >
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              >Secondary button</button
            >
            <button
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Info button</button
            >
            <button
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Success button</button
            >
            <button
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Warning button</button
            >
            <button
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Danger button</button
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Default full width
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500"
              >Primary button</button
            >
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              >Secondary button</button
            >
            <button
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none border-2 py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Info button</button
            >
            <button
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white focus:shadow-none border-2 py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Success button</button
            >
            <button
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white focus:shadow-none border-2 py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Warning button</button
            >
            <button
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none border-2 py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              >Danger button</button
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Default with left icon
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500 gap-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
               Primary button</button
            >
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >Secondary button</button
            >
            <button
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >Info button</button
            >
            <button
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >Success button</button
            >
            <button
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >Warning button</button
            >
            <button
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >Danger button</button
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Default with right icon
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500 gap-3"
            >
              Primary button
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
            >
              Secondary button
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              Info butto
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              Success button
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              Warning button
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              Danger button
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Icon only</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white gap-3 focus:shadow-none border-2 sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
            <button
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none gap-3 border-2 sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 icon icon-tabler icon-tabler-components"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 12l3 3l3 -3l-3 -3z"></path><path
                  d="M15 12l3 3l3 -3l-3 -3z"></path><path
                  d="M9 6l3 3l3 -3l-3 -3z"></path><path
                  d="M9 18l3 3l3 -3l-3 -3z"></path></svg
              >
            </button>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Disabled</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              disabled
              type="button"
              class="text-black items-center shadow shadow-lila-600 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-lila-300 focus:bg-lila-600 border-lila-600 duration-300 outline-none focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:bg-lila-500 cursor-not-allowed disabled:opacity-50"
              >Primary button</button
            >
            <button
              disabled
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 cursor-not-allowed disabled:opacity-50"
              >Secondary button</button
            >
            <button
              disabled
              type="button"
              class="text-info-950 items-center shadow shadow-info-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-info-300 focus:bg-info-500 border-info-500 ease-in-out duration-300 outline-none hover:bg-info-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full cursor-not-allowed disabled:opacity-50"
              >Info button</button
            >
            <button
              disabled
              type="button"
              class="text-success-950 items-center shadow shadow-success-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-success-300 focus:bg-success-500 border-success-500 ease-in-out duration-300 outline-none hover:bg-success-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full cursor-not-allowed disabled:opacity-50"
              >Success button</button
            >
            <button
              disabled
              type="button"
              class="text-warning-950 items-center shadow shadow-warning-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-warning-300 focus:bg-warning-500 border-warning-500 ease-in-out duration-300 outline-none hover:bg-warning-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full cursor-not-allowed disabled:opacity-50"
              >Warning button</button
            >
            <button
              disabled
              type="button"
              class="text-danger-950 items-center shadow shadow-danger-500 text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-danger-300 focus:bg-danger-500 border-danger-500 ease-in-out duration-300 outline-none hover:bg-danger-400 hover:text-white focus:text-white focus:shadow-none border-2 sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full cursor-not-allowed disabled:opacity-50"
              >Danger button</button
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Ghost</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-lila-800 hover:text-black duraton-300"
              >Primary button</button
            >
            <button
              type="button"
              class="text-black hover:text-lila-800 duration-300"
              >Secondary button</button
            >
            <button
              type="button"
              class="text-info-500 hover:text-black duraton-300"
              >Info button</button
            >
            <button
              type="button"
              class="text-success-500 hover:text-black duraton-300"
              >Success button</button
            >
            <button
              type="button"
              class="text-warning-400 hover:text-black duraton-300"
              >Warning button</button
            >
            <button
              type="button"
              class="text-danger-600 hover:text-black duraton-300"
              >Danger button</button
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Dropdown</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <div
              @click.away="open = false"
              class="relative"
              x-data="{ open: false }"
            >
              <button
                @click="open = !open"
                class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
                ><span>On Click Dropdown</span><svg
                  :class="{'rotate-180': open, 'rotate-0': !open}"
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline h-4 transition-transform duration-200 transform rotate-0 icon icon-tabler icon-tabler-chevron-down"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M6 9l6 6l6 -6"></path></svg
                ></button
              ><div
                x-show="open"
                style="display: none;"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="absolute right-0 z-10 w-full mt-2 origin-top-right rounded-lg bg-white ring-2 ring-black focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
              >
                <div class="py-1 bg-white rounded-xl" role="none">
                  <button
                    type="button"
                    class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800 w-full"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                    >Overview
                  </button><button
                    type="button"
                    class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800 w-full"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-2">Components</button
                  ><form
                    method="POST"
                    action="#"
                    role="none"
                    class="border-t-2 border-black"
                  >
                    <button
                      type="submit"
                      class="block text-left px-4 py-2 text-sm text-black hover:text-lila-800 w-full"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-3">Sign out</button
                    >
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Grouped horizontal
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <span class="inline-flex rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 px-4 py-2 text-sm font-semibold text-black duration-200 rounded-l-lg shadow bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Years</button
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 px-4 py-2 -ml-px text-sm font-semibold text-black duration-200 shadow bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Months</button
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 px-4 py-2 -ml-px text-sm font-semibold text-black shadow duration-200 rounded-r-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Days</button
              ></span
            >
            <span class="inline-flex rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 text-sm font-semibold text-black duration-200 shadow rounded-l-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
              >
                <svg
                  class="size-8"
                  viewBox="0 0 37 37"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.0835 19.418L32.0835 19.418L32.0835 17.418L31.0835 17.418L31.0835 19.418ZM5.0835 17.418C4.53121 17.418 4.0835 17.8657 4.0835 18.418C4.0835 18.9703 4.53121 19.418 5.0835 19.418L5.0835 17.418ZM14.0835 28.418L14.0835 29.418L16.0835 29.418L16.0835 28.418L14.0835 28.418ZM5.66284 17.6406C5.17799 17.3761 4.57055 17.5548 4.3061 18.0396C4.04164 18.5245 4.22031 19.1319 4.70517 19.3964L5.66284 17.6406ZM16.0836 8.51848L16.0836 7.51848L14.0836 7.51848L14.0836 8.51848L16.0836 8.51848ZM31.0835 17.418L5.18408 17.418L5.18408 19.418L31.0835 19.418L31.0835 17.418ZM5.18408 17.418L5.0835 17.418L5.0835 19.418L5.18408 19.418L5.18408 17.418ZM16.0835 28.418C16.0835 26.9456 15.2882 25.5392 14.3119 24.3411C13.3157 23.1184 12.0118 21.9682 10.7452 20.9894C9.47264 20.0061 8.20505 19.171 7.25847 18.583C6.78424 18.2884 6.38833 18.0545 6.10973 17.8935C5.97038 17.8129 5.86024 17.7506 5.78417 17.7079C5.74613 17.6866 5.71659 17.6702 5.69617 17.6589C5.68596 17.6533 5.67803 17.6489 5.67245 17.6458C5.66966 17.6443 5.66745 17.6431 5.66585 17.6422C5.66505 17.6418 5.6644 17.6414 5.66389 17.6411C5.66364 17.641 5.66338 17.6409 5.66325 17.6408C5.66303 17.6407 5.66284 17.6406 5.184 18.5185C4.70517 19.3964 4.70505 19.3963 4.70498 19.3963C4.705 19.3963 4.70496 19.3963 4.70501 19.3963C4.70511 19.3964 4.70536 19.3965 4.70576 19.3967C4.70655 19.3971 4.70794 19.3979 4.7099 19.399C4.71384 19.4011 4.72011 19.4046 4.72863 19.4093C4.74567 19.4187 4.77172 19.4332 4.80619 19.4525C4.87513 19.4911 4.97767 19.5492 5.10901 19.6251C5.37179 19.777 5.74928 20 6.20313 20.2819C7.1127 20.8469 8.31998 21.643 9.52231 22.572C10.7305 23.5056 11.9015 24.549 12.7615 25.6044C13.6413 26.6843 14.0835 27.6404 14.0835 28.418L16.0835 28.418ZM5.18408 18.418C5.55872 19.3451 5.55899 19.345 5.55929 19.3449C5.55945 19.3448 5.55979 19.3447 5.5601 19.3446C5.56071 19.3443 5.56147 19.344 5.56239 19.3437C5.56421 19.3429 5.56664 19.3419 5.56965 19.3407C5.57568 19.3382 5.58407 19.3348 5.59474 19.3304C5.61607 19.3215 5.64655 19.3088 5.68556 19.2923C5.76356 19.2592 5.87575 19.2108 6.01725 19.1476C6.30011 19.0213 6.70092 18.8354 7.18051 18.594C8.13717 18.1124 9.41959 17.4038 10.7084 16.499C11.9921 15.5978 13.317 14.4779 14.3289 13.1644C15.342 11.8495 16.0836 10.2838 16.0836 8.51848L14.0836 8.51848C14.0836 9.70292 13.5877 10.8495 12.7446 11.9438C11.9004 13.0396 10.7505 14.0258 9.55925 14.8621C8.37319 15.6947 7.18074 16.3548 6.28125 16.8076C5.83276 17.0333 5.46016 17.206 5.20165 17.3215C5.07246 17.3792 4.97196 17.4225 4.90495 17.4509C4.87146 17.4651 4.84634 17.4756 4.83022 17.4823C4.82216 17.4856 4.81635 17.488 4.81286 17.4894C4.81112 17.4901 4.80995 17.4906 4.80938 17.4908C4.8091 17.4909 4.80896 17.491 4.80897 17.491C4.80897 17.491 4.80909 17.4909 4.80909 17.4909C4.80925 17.4909 4.80945 17.4908 5.18408 18.418Z"
                    fill="currentColor"></path>
                </svg>
              </button><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 -ml-px text-sm font-semibold text-black shadow duration-200 rounded-r-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                ><svg
                  class="size-8"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.22803 16.8936H4.22803V18.8936H5.22803V16.8936ZM31.228 18.8936C31.7803 18.8936 32.228 18.4458 32.228 17.8936C32.228 17.3413 31.7803 16.8936 31.228 16.8936V18.8936ZM22.228 7.89355V6.89355H20.228V7.89355H22.228ZM30.6487 18.671C31.1335 18.9354 31.741 18.7567 32.0054 18.2719C32.2699 17.787 32.0912 17.1796 31.6064 16.9151L30.6487 18.671ZM20.2279 27.793V28.793H22.2279V27.793H20.2279ZM5.22803 18.8936H31.1274V16.8936H5.22803V18.8936ZM31.1274 18.8936H31.228V16.8936H31.1274V18.8936ZM20.228 7.89355C20.228 9.36597 21.0233 10.7723 21.9996 11.9705C22.9958 13.1931 24.2997 14.3433 25.5663 15.3221C26.8389 16.3054 28.1065 17.1405 29.0531 17.7285C29.5273 18.0231 29.9232 18.2571 30.2018 18.4181C30.3411 18.4986 30.4513 18.561 30.5274 18.6036C30.5654 18.6249 30.5949 18.6413 30.6153 18.6526C30.6256 18.6583 30.6335 18.6626 30.6391 18.6657C30.6419 18.6672 30.6441 18.6684 30.6457 18.6693C30.6465 18.6697 30.6471 18.6701 30.6476 18.6704C30.6479 18.6705 30.6481 18.6707 30.6483 18.6707C30.6485 18.6709 30.6487 18.671 31.1275 17.793C31.6064 16.9151 31.6065 16.9152 31.6065 16.9152C31.6065 16.9152 31.6066 16.9153 31.6065 16.9152C31.6064 16.9152 31.6062 16.915 31.6058 16.9148C31.605 16.9144 31.6036 16.9136 31.6016 16.9125C31.5977 16.9104 31.5914 16.9069 31.5829 16.9022C31.5659 16.8928 31.5398 16.8783 31.5053 16.859C31.4364 16.8204 31.3339 16.7623 31.2025 16.6864C30.9397 16.5346 30.5622 16.3115 30.1084 16.0296C29.1988 15.4646 27.9915 14.6686 26.7892 13.7395C25.581 12.8059 24.41 11.7625 23.5501 10.7071C22.6702 9.62726 22.228 8.67114 22.228 7.89355H20.228ZM31.1274 17.8936C30.7528 16.9664 30.7525 16.9665 30.7522 16.9666C30.7521 16.9667 30.7517 16.9668 30.7514 16.9669C30.7508 16.9672 30.75 16.9675 30.7491 16.9679C30.7473 16.9686 30.7449 16.9696 30.7419 16.9708C30.7358 16.9733 30.7275 16.9767 30.7168 16.9812C30.6954 16.99 30.665 17.0027 30.626 17.0192C30.548 17.0523 30.4358 17.1007 30.2943 17.1639C30.0114 17.2902 29.6106 17.4761 29.131 17.7175C28.1744 18.1991 26.8919 18.9078 25.6031 19.8125C24.3195 20.7137 22.9945 21.8336 21.9826 23.1471C20.9695 24.462 20.2279 26.0278 20.2279 27.793H22.2279C22.2279 26.6086 22.7238 25.462 23.5669 24.3677C24.4111 23.272 25.561 22.2857 26.7523 21.4494C27.9383 20.6168 29.1308 19.9567 30.0303 19.5039C30.4788 19.2782 30.8514 19.1055 31.1099 18.99C31.2391 18.9323 31.3396 18.889 31.4066 18.8606C31.4401 18.8464 31.4652 18.8359 31.4813 18.8293C31.4894 18.8259 31.4952 18.8235 31.4987 18.8221C31.5004 18.8214 31.5016 18.8209 31.5021 18.8207C31.5024 18.8206 31.5026 18.8205 31.5026 18.8205C31.5026 18.8205 31.5024 18.8206 31.5024 18.8206C31.5023 18.8206 31.5021 18.8207 31.1274 17.8936Z"
                    fill="currentColor"></path>
                </svg>
              </button></span
            ><span class="inline-flex rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 text-sm font-semibold text-black shadow duration-200 rounded-l-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                ><svg
                class="size-8"
                viewBox="0 0 38 37"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.0514 31.101L18.0688 32.1008L20.0685 32.0659L20.0511 31.0661L18.0514 31.101ZM19.5973 5.07004C19.5877 4.51784 19.1322 4.078 18.58 4.08764C18.0278 4.09728 17.588 4.55274 17.5976 5.10494L19.5973 5.07004ZM8.75604 14.2606L7.75619 14.2781L7.7911 16.2778L8.79095 16.2603L8.75604 14.2606ZM19.3848 5.65318C19.6408 5.16378 19.4515 4.55956 18.9622 4.30361C18.4728 4.04766 17.8685 4.2369 17.6126 4.72629L19.3848 5.65318ZM28.6874 15.9131L29.6873 15.8957L29.6524 13.896L28.6525 13.9134L28.6874 15.9131ZM20.0511 31.0661L19.599 5.17061L17.5994 5.20551L18.0514 31.101L20.0511 31.0661ZM19.599 5.17061L19.5973 5.07004L17.5976 5.10494L17.5994 5.20551L19.599 5.17061ZM8.79095 16.2603C10.2631 16.2346 11.6554 15.4149 12.8363 14.4179C14.0414 13.4005 15.1687 12.0768 16.1252 10.7932C17.0861 9.50368 17.899 8.22171 18.4704 7.26501C18.7567 6.78571 18.9837 6.38578 19.1398 6.10441C19.2179 5.96368 19.2783 5.85247 19.3196 5.77566C19.3403 5.73726 19.3562 5.70744 19.3671 5.68683C19.3726 5.67652 19.3768 5.66851 19.3797 5.66288C19.3812 5.66006 19.3824 5.65784 19.3832 5.65622C19.3837 5.65541 19.384 5.65475 19.3843 5.65424C19.3844 5.65399 19.3846 5.65372 19.3846 5.6536C19.3847 5.65337 19.3848 5.65318 18.4987 5.18974C17.6126 4.72629 17.6126 4.72618 17.6127 4.7261C17.6127 4.72613 17.6127 4.72609 17.6127 4.72614C17.6126 4.72624 17.6125 4.72649 17.6123 4.72689C17.6118 4.72769 17.6111 4.72909 17.6101 4.73108C17.608 4.73505 17.6046 4.74138 17.6001 4.74998C17.591 4.76718 17.5769 4.79348 17.5582 4.82828C17.5208 4.89788 17.4646 5.00143 17.391 5.13407C17.2437 5.39946 17.0273 5.78078 16.7533 6.23948C16.2043 7.15878 15.4294 8.37977 14.5215 9.59812C13.6091 10.8224 12.5863 12.0115 11.5461 12.8897C10.4818 13.7883 9.53351 14.2471 8.75604 14.2606L8.79095 16.2603ZM18.5992 5.18806C17.6787 5.57882 17.6788 5.57909 17.679 5.57939C17.679 5.57955 17.6792 5.57989 17.6793 5.58019C17.6796 5.5808 17.6799 5.58156 17.6803 5.58247C17.681 5.58428 17.6821 5.58668 17.6833 5.58968C17.6859 5.59566 17.6895 5.60399 17.6941 5.61458C17.7033 5.63576 17.7165 5.66601 17.7338 5.70472C17.7682 5.78214 17.8185 5.89347 17.8842 6.03384C18.0154 6.31445 18.2083 6.71196 18.458 7.18726C18.9562 8.13536 19.6872 9.40522 20.6143 10.6781C21.5377 11.9458 22.6806 13.251 24.0115 14.2398C25.344 15.2298 26.9224 15.9439 28.6874 15.9131L28.6525 13.9134C27.4682 13.9341 26.3132 13.4583 25.2043 12.6345C24.094 11.8095 23.0878 10.677 22.2309 9.50051C21.3777 8.32916 20.6969 7.14841 20.2285 6.25696C19.9949 5.81247 19.8158 5.44295 19.6958 5.18649C19.6359 5.05833 19.5908 4.9586 19.5612 4.8921C19.5464 4.85885 19.5355 4.83393 19.5286 4.81793C19.5251 4.80993 19.5226 4.80416 19.5211 4.80069C19.5204 4.79896 19.5199 4.79781 19.5197 4.79724C19.5195 4.79696 19.5195 4.79682 19.5195 4.79683C19.5195 4.79683 19.5195 4.79695 19.5195 4.79695C19.5196 4.79711 19.5197 4.7973 18.5992 5.18806Z"
                  fill="currentColor"></path>
              </svg></button
              ><button
                type="button"
                class="relative inline-flex items-center p-3 -ml-px text-sm font-semibold shadow text-black duration-200 rounded-r-lg bg-white hover:text-lila-800 focus:translate-y-1 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
              >
              <svg
              class="size-8"
              viewBox="0 0 37 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.7295 5.22778L19.7295 4.22778L17.7295 4.22778L17.7295 5.22778L19.7295 5.22778ZM17.7295 31.2278C17.7295 31.7801 18.1772 32.2278 18.7295 32.2278C19.2818 32.2278 19.7295 31.7801 19.7295 31.2278L17.7295 31.2278ZM28.7295 22.2278L29.7295 22.2278L29.7295 20.2278L28.7295 20.2278L28.7295 22.2278ZM17.9521 30.6484C17.6876 31.1333 17.8663 31.7407 18.3512 32.0052C18.836 32.2696 19.4434 32.091 19.7079 31.6061L17.9521 30.6484ZM8.83 20.2277L7.83 20.2277L7.83 22.2277L8.83 22.2277L8.83 20.2277ZM17.7295 5.22778L17.7295 31.1272L19.7295 31.1272L19.7295 5.22778L17.7295 5.22778ZM17.7295 31.1272L17.7295 31.2278L19.7295 31.2278L19.7295 31.1272L17.7295 31.1272ZM28.7295 20.2278C27.2571 20.2278 25.8508 21.0231 24.6526 21.9993C23.4299 22.9956 22.2797 24.2994 21.301 25.5661C20.3176 26.8386 19.4825 28.1062 18.8945 29.0528C18.5999 29.527 18.366 29.923 18.205 30.2016C18.1245 30.3409 18.0621 30.451 18.0194 30.5271C17.9981 30.5652 17.9817 30.5947 17.9704 30.6151C17.9648 30.6253 17.9604 30.6333 17.9574 30.6388C17.9558 30.6416 17.9546 30.6438 17.9537 30.6454C17.9533 30.6462 17.9529 30.6469 17.9527 30.6474C17.9525 30.6476 17.9524 30.6479 17.9523 30.648C17.9522 30.6483 17.9521 30.6484 18.83 31.1273C19.7079 31.6061 19.7078 31.6062 19.7078 31.6063C19.7078 31.6063 19.7078 31.6063 19.7078 31.6063C19.7079 31.6062 19.708 31.6059 19.7082 31.6055C19.7087 31.6047 19.7094 31.6033 19.7105 31.6014C19.7127 31.5974 19.7161 31.5912 19.7208 31.5827C19.7302 31.5656 19.7447 31.5396 19.764 31.5051C19.8027 31.4362 19.8607 31.3336 19.9366 31.2023C20.0885 30.9395 20.3115 30.562 20.5934 30.1082C21.1585 29.1986 21.9545 27.9913 22.8835 26.789C23.8171 25.5808 24.8606 24.4097 25.9159 23.5498C26.9958 22.6699 27.9519 22.2278 28.7295 22.2278L28.7295 20.2278ZM18.7295 31.1272C19.6567 30.7526 19.6566 30.7523 19.6564 30.752C19.6564 30.7518 19.6562 30.7515 19.6561 30.7512C19.6559 30.7506 19.6555 30.7498 19.6552 30.7489C19.6544 30.7471 19.6534 30.7446 19.6522 30.7416C19.6498 30.7356 19.6463 30.7272 19.6419 30.7165C19.6331 30.6952 19.6204 30.6647 19.6038 30.6257C19.5708 30.5477 19.5224 30.4355 19.4592 30.294C19.3328 30.0112 19.1469 29.6104 18.9055 29.1308C18.424 28.1741 17.7153 26.8917 16.8105 25.6029C15.9093 24.3192 14.7894 22.9943 13.476 21.9823C12.161 20.9693 10.5953 20.2277 8.83 20.2277L8.83 22.2277C10.0144 22.2277 11.161 22.7236 12.2553 23.5667C13.3511 24.4109 14.3373 25.5608 15.1736 26.752C16.0063 27.9381 16.6663 29.1305 17.1191 30.03C17.3449 30.4785 17.5176 30.8511 17.633 31.1096C17.6907 31.2388 17.734 31.3393 17.7624 31.4063C17.7766 31.4398 17.7871 31.4649 17.7938 31.4811C17.7971 31.4891 17.7995 31.4949 17.8009 31.4984C17.8016 31.5002 17.8021 31.5013 17.8023 31.5019C17.8025 31.5022 17.8025 31.5023 17.8025 31.5023C17.8025 31.5023 17.8025 31.5022 17.8025 31.5022C17.8024 31.502 17.8023 31.5018 18.7295 31.1272Z"
                fill="currentColor"></path>
            </svg></button
              ></span
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Grouped vertical
          </h3>
          <div class="inline-flex flex-wrap items-start w-full gap-4 mt-12">
            <span class="flex flex-col rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center justify-center focus:translate-y-1 px-4 py-2 text-sm font-semibold text-black duration-200 rounded-t-lg shadow bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Years</button
              ><button
                type="button"
                class="relative inline-flex items-center justify-center focus:translate-y-1 px-4 py-2 -mt-px text-sm font-semibold text-black duration-200 shadow bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Months</button
              ><button
                type="button"
                class="relative inline-flex items-center justify-center focus:translate-y-1 px-4 py-2 -mt-px text-sm font-semibold text-black shadow duration-200 rounded-b-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Days</button
              ></span
            ><span class="flex flex-col rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 text-sm font-semibold text-black duration-200 shadow rounded-t-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                ><svg
                  class="size-8"
                  viewBox="0 0 37 37"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.0835 19.418L32.0835 19.418L32.0835 17.418L31.0835 17.418L31.0835 19.418ZM5.0835 17.418C4.53121 17.418 4.0835 17.8657 4.0835 18.418C4.0835 18.9703 4.53121 19.418 5.0835 19.418L5.0835 17.418ZM14.0835 28.418L14.0835 29.418L16.0835 29.418L16.0835 28.418L14.0835 28.418ZM5.66284 17.6406C5.17799 17.3761 4.57055 17.5548 4.3061 18.0396C4.04164 18.5245 4.22031 19.1319 4.70517 19.3964L5.66284 17.6406ZM16.0836 8.51848L16.0836 7.51848L14.0836 7.51848L14.0836 8.51848L16.0836 8.51848ZM31.0835 17.418L5.18408 17.418L5.18408 19.418L31.0835 19.418L31.0835 17.418ZM5.18408 17.418L5.0835 17.418L5.0835 19.418L5.18408 19.418L5.18408 17.418ZM16.0835 28.418C16.0835 26.9456 15.2882 25.5392 14.3119 24.3411C13.3157 23.1184 12.0118 21.9682 10.7452 20.9894C9.47264 20.0061 8.20505 19.171 7.25847 18.583C6.78424 18.2884 6.38833 18.0545 6.10973 17.8935C5.97038 17.8129 5.86024 17.7506 5.78417 17.7079C5.74613 17.6866 5.71659 17.6702 5.69617 17.6589C5.68596 17.6533 5.67803 17.6489 5.67245 17.6458C5.66966 17.6443 5.66745 17.6431 5.66585 17.6422C5.66505 17.6418 5.6644 17.6414 5.66389 17.6411C5.66364 17.641 5.66338 17.6409 5.66325 17.6408C5.66303 17.6407 5.66284 17.6406 5.184 18.5185C4.70517 19.3964 4.70505 19.3963 4.70498 19.3963C4.705 19.3963 4.70496 19.3963 4.70501 19.3963C4.70511 19.3964 4.70536 19.3965 4.70576 19.3967C4.70655 19.3971 4.70794 19.3979 4.7099 19.399C4.71384 19.4011 4.72011 19.4046 4.72863 19.4093C4.74567 19.4187 4.77172 19.4332 4.80619 19.4525C4.87513 19.4911 4.97767 19.5492 5.10901 19.6251C5.37179 19.777 5.74928 20 6.20313 20.2819C7.1127 20.8469 8.31998 21.643 9.52231 22.572C10.7305 23.5056 11.9015 24.549 12.7615 25.6044C13.6413 26.6843 14.0835 27.6404 14.0835 28.418L16.0835 28.418ZM5.18408 18.418C5.55872 19.3451 5.55899 19.345 5.55929 19.3449C5.55945 19.3448 5.55979 19.3447 5.5601 19.3446C5.56071 19.3443 5.56147 19.344 5.56239 19.3437C5.56421 19.3429 5.56664 19.3419 5.56965 19.3407C5.57568 19.3382 5.58407 19.3348 5.59474 19.3304C5.61607 19.3215 5.64655 19.3088 5.68556 19.2923C5.76356 19.2592 5.87575 19.2108 6.01725 19.1476C6.30011 19.0213 6.70092 18.8354 7.18051 18.594C8.13717 18.1124 9.41959 17.4038 10.7084 16.499C11.9921 15.5978 13.317 14.4779 14.3289 13.1644C15.342 11.8495 16.0836 10.2838 16.0836 8.51848L14.0836 8.51848C14.0836 9.70292 13.5877 10.8495 12.7446 11.9438C11.9004 13.0396 10.7505 14.0258 9.55925 14.8621C8.37319 15.6947 7.18074 16.3548 6.28125 16.8076C5.83276 17.0333 5.46016 17.206 5.20165 17.3215C5.07246 17.3792 4.97196 17.4225 4.90495 17.4509C4.87146 17.4651 4.84634 17.4756 4.83022 17.4823C4.82216 17.4856 4.81635 17.488 4.81286 17.4894C4.81112 17.4901 4.80995 17.4906 4.80938 17.4908C4.8091 17.4909 4.80896 17.491 4.80897 17.491C4.80897 17.491 4.80909 17.4909 4.80909 17.4909C4.80925 17.4909 4.80945 17.4908 5.18408 18.418Z"
                    fill="currentColor"></path>
                </svg>
              </button><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 -mt-px text-sm font-semibold text-black shadow duration-200 rounded-b-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                ><svg
                  class="size-8"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.22803 16.8936H4.22803V18.8936H5.22803V16.8936ZM31.228 18.8936C31.7803 18.8936 32.228 18.4458 32.228 17.8936C32.228 17.3413 31.7803 16.8936 31.228 16.8936V18.8936ZM22.228 7.89355V6.89355H20.228V7.89355H22.228ZM30.6487 18.671C31.1335 18.9354 31.741 18.7567 32.0054 18.2719C32.2699 17.787 32.0912 17.1796 31.6064 16.9151L30.6487 18.671ZM20.2279 27.793V28.793H22.2279V27.793H20.2279ZM5.22803 18.8936H31.1274V16.8936H5.22803V18.8936ZM31.1274 18.8936H31.228V16.8936H31.1274V18.8936ZM20.228 7.89355C20.228 9.36597 21.0233 10.7723 21.9996 11.9705C22.9958 13.1931 24.2997 14.3433 25.5663 15.3221C26.8389 16.3054 28.1065 17.1405 29.0531 17.7285C29.5273 18.0231 29.9232 18.2571 30.2018 18.4181C30.3411 18.4986 30.4513 18.561 30.5274 18.6036C30.5654 18.6249 30.5949 18.6413 30.6153 18.6526C30.6256 18.6583 30.6335 18.6626 30.6391 18.6657C30.6419 18.6672 30.6441 18.6684 30.6457 18.6693C30.6465 18.6697 30.6471 18.6701 30.6476 18.6704C30.6479 18.6705 30.6481 18.6707 30.6483 18.6707C30.6485 18.6709 30.6487 18.671 31.1275 17.793C31.6064 16.9151 31.6065 16.9152 31.6065 16.9152C31.6065 16.9152 31.6066 16.9153 31.6065 16.9152C31.6064 16.9152 31.6062 16.915 31.6058 16.9148C31.605 16.9144 31.6036 16.9136 31.6016 16.9125C31.5977 16.9104 31.5914 16.9069 31.5829 16.9022C31.5659 16.8928 31.5398 16.8783 31.5053 16.859C31.4364 16.8204 31.3339 16.7623 31.2025 16.6864C30.9397 16.5346 30.5622 16.3115 30.1084 16.0296C29.1988 15.4646 27.9915 14.6686 26.7892 13.7395C25.581 12.8059 24.41 11.7625 23.5501 10.7071C22.6702 9.62726 22.228 8.67114 22.228 7.89355H20.228ZM31.1274 17.8936C30.7528 16.9664 30.7525 16.9665 30.7522 16.9666C30.7521 16.9667 30.7517 16.9668 30.7514 16.9669C30.7508 16.9672 30.75 16.9675 30.7491 16.9679C30.7473 16.9686 30.7449 16.9696 30.7419 16.9708C30.7358 16.9733 30.7275 16.9767 30.7168 16.9812C30.6954 16.99 30.665 17.0027 30.626 17.0192C30.548 17.0523 30.4358 17.1007 30.2943 17.1639C30.0114 17.2902 29.6106 17.4761 29.131 17.7175C28.1744 18.1991 26.8919 18.9078 25.6031 19.8125C24.3195 20.7137 22.9945 21.8336 21.9826 23.1471C20.9695 24.462 20.2279 26.0278 20.2279 27.793H22.2279C22.2279 26.6086 22.7238 25.462 23.5669 24.3677C24.4111 23.272 25.561 22.2857 26.7523 21.4494C27.9383 20.6168 29.1308 19.9567 30.0303 19.5039C30.4788 19.2782 30.8514 19.1055 31.1099 18.99C31.2391 18.9323 31.3396 18.889 31.4066 18.8606C31.4401 18.8464 31.4652 18.8359 31.4813 18.8293C31.4894 18.8259 31.4952 18.8235 31.4987 18.8221C31.5004 18.8214 31.5016 18.8209 31.5021 18.8207C31.5024 18.8206 31.5026 18.8205 31.5026 18.8205C31.5026 18.8205 31.5024 18.8206 31.5024 18.8206C31.5023 18.8206 31.5021 18.8207 31.1274 17.8936Z"
                    fill="currentColor"></path>
                </svg>
              </button></span
            ><span class="flex flex-col rounded-md isolate"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 p-3 text-sm font-semibold text-black shadow duration-200 rounded-t-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                ><svg
                  class="size-8"
                  viewBox="0 0 38 37"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18.0514 31.101L18.0688 32.1008L20.0685 32.0659L20.0511 31.0661L18.0514 31.101ZM19.5973 5.07004C19.5877 4.51784 19.1322 4.078 18.58 4.08764C18.0278 4.09728 17.588 4.55274 17.5976 5.10494L19.5973 5.07004ZM8.75604 14.2606L7.75619 14.2781L7.7911 16.2778L8.79095 16.2603L8.75604 14.2606ZM19.3848 5.65318C19.6408 5.16378 19.4515 4.55956 18.9622 4.30361C18.4728 4.04766 17.8685 4.2369 17.6126 4.72629L19.3848 5.65318ZM28.6874 15.9131L29.6873 15.8957L29.6524 13.896L28.6525 13.9134L28.6874 15.9131ZM20.0511 31.0661L19.599 5.17061L17.5994 5.20551L18.0514 31.101L20.0511 31.0661ZM19.599 5.17061L19.5973 5.07004L17.5976 5.10494L17.5994 5.20551L19.599 5.17061ZM8.79095 16.2603C10.2631 16.2346 11.6554 15.4149 12.8363 14.4179C14.0414 13.4005 15.1687 12.0768 16.1252 10.7932C17.0861 9.50368 17.899 8.22171 18.4704 7.26501C18.7567 6.78571 18.9837 6.38578 19.1398 6.10441C19.2179 5.96368 19.2783 5.85247 19.3196 5.77566C19.3403 5.73726 19.3562 5.70744 19.3671 5.68683C19.3726 5.67652 19.3768 5.66851 19.3797 5.66288C19.3812 5.66006 19.3824 5.65784 19.3832 5.65622C19.3837 5.65541 19.384 5.65475 19.3843 5.65424C19.3844 5.65399 19.3846 5.65372 19.3846 5.6536C19.3847 5.65337 19.3848 5.65318 18.4987 5.18974C17.6126 4.72629 17.6126 4.72618 17.6127 4.7261C17.6127 4.72613 17.6127 4.72609 17.6127 4.72614C17.6126 4.72624 17.6125 4.72649 17.6123 4.72689C17.6118 4.72769 17.6111 4.72909 17.6101 4.73108C17.608 4.73505 17.6046 4.74138 17.6001 4.74998C17.591 4.76718 17.5769 4.79348 17.5582 4.82828C17.5208 4.89788 17.4646 5.00143 17.391 5.13407C17.2437 5.39946 17.0273 5.78078 16.7533 6.23948C16.2043 7.15878 15.4294 8.37977 14.5215 9.59812C13.6091 10.8224 12.5863 12.0115 11.5461 12.8897C10.4818 13.7883 9.53351 14.2471 8.75604 14.2606L8.79095 16.2603ZM18.5992 5.18806C17.6787 5.57882 17.6788 5.57909 17.679 5.57939C17.679 5.57955 17.6792 5.57989 17.6793 5.58019C17.6796 5.5808 17.6799 5.58156 17.6803 5.58247C17.681 5.58428 17.6821 5.58668 17.6833 5.58968C17.6859 5.59566 17.6895 5.60399 17.6941 5.61458C17.7033 5.63576 17.7165 5.66601 17.7338 5.70472C17.7682 5.78214 17.8185 5.89347 17.8842 6.03384C18.0154 6.31445 18.2083 6.71196 18.458 7.18726C18.9562 8.13536 19.6872 9.40522 20.6143 10.6781C21.5377 11.9458 22.6806 13.251 24.0115 14.2398C25.344 15.2298 26.9224 15.9439 28.6874 15.9131L28.6525 13.9134C27.4682 13.9341 26.3132 13.4583 25.2043 12.6345C24.094 11.8095 23.0878 10.677 22.2309 9.50051C21.3777 8.32916 20.6969 7.14841 20.2285 6.25696C19.9949 5.81247 19.8158 5.44295 19.6958 5.18649C19.6359 5.05833 19.5908 4.9586 19.5612 4.8921C19.5464 4.85885 19.5355 4.83393 19.5286 4.81793C19.5251 4.80993 19.5226 4.80416 19.5211 4.80069C19.5204 4.79896 19.5199 4.79781 19.5197 4.79724C19.5195 4.79696 19.5195 4.79682 19.5195 4.79683C19.5195 4.79683 19.5195 4.79695 19.5195 4.79695C19.5196 4.79711 19.5197 4.7973 18.5992 5.18806Z"
                    fill="currentColor"></path>
                </svg>
              </button><button
                type="button"
                class="relative inline-flex items-center p-3 -mt-px text-sm font-semibold shadow text-black duration-200 rounded-b-lg bg-white hover:text-lila-800 focus:translate-y-1 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
              >
                <svg
                  class="size-8"
                  viewBox="0 0 37 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.7295 5.22778L19.7295 4.22778L17.7295 4.22778L17.7295 5.22778L19.7295 5.22778ZM17.7295 31.2278C17.7295 31.7801 18.1772 32.2278 18.7295 32.2278C19.2818 32.2278 19.7295 31.7801 19.7295 31.2278L17.7295 31.2278ZM28.7295 22.2278L29.7295 22.2278L29.7295 20.2278L28.7295 20.2278L28.7295 22.2278ZM17.9521 30.6484C17.6876 31.1333 17.8663 31.7407 18.3512 32.0052C18.836 32.2696 19.4434 32.091 19.7079 31.6061L17.9521 30.6484ZM8.83 20.2277L7.83 20.2277L7.83 22.2277L8.83 22.2277L8.83 20.2277ZM17.7295 5.22778L17.7295 31.1272L19.7295 31.1272L19.7295 5.22778L17.7295 5.22778ZM17.7295 31.1272L17.7295 31.2278L19.7295 31.2278L19.7295 31.1272L17.7295 31.1272ZM28.7295 20.2278C27.2571 20.2278 25.8508 21.0231 24.6526 21.9993C23.4299 22.9956 22.2797 24.2994 21.301 25.5661C20.3176 26.8386 19.4825 28.1062 18.8945 29.0528C18.5999 29.527 18.366 29.923 18.205 30.2016C18.1245 30.3409 18.0621 30.451 18.0194 30.5271C17.9981 30.5652 17.9817 30.5947 17.9704 30.6151C17.9648 30.6253 17.9604 30.6333 17.9574 30.6388C17.9558 30.6416 17.9546 30.6438 17.9537 30.6454C17.9533 30.6462 17.9529 30.6469 17.9527 30.6474C17.9525 30.6476 17.9524 30.6479 17.9523 30.648C17.9522 30.6483 17.9521 30.6484 18.83 31.1273C19.7079 31.6061 19.7078 31.6062 19.7078 31.6063C19.7078 31.6063 19.7078 31.6063 19.7078 31.6063C19.7079 31.6062 19.708 31.6059 19.7082 31.6055C19.7087 31.6047 19.7094 31.6033 19.7105 31.6014C19.7127 31.5974 19.7161 31.5912 19.7208 31.5827C19.7302 31.5656 19.7447 31.5396 19.764 31.5051C19.8027 31.4362 19.8607 31.3336 19.9366 31.2023C20.0885 30.9395 20.3115 30.562 20.5934 30.1082C21.1585 29.1986 21.9545 27.9913 22.8835 26.789C23.8171 25.5808 24.8606 24.4097 25.9159 23.5498C26.9958 22.6699 27.9519 22.2278 28.7295 22.2278L28.7295 20.2278ZM18.7295 31.1272C19.6567 30.7526 19.6566 30.7523 19.6564 30.752C19.6564 30.7518 19.6562 30.7515 19.6561 30.7512C19.6559 30.7506 19.6555 30.7498 19.6552 30.7489C19.6544 30.7471 19.6534 30.7446 19.6522 30.7416C19.6498 30.7356 19.6463 30.7272 19.6419 30.7165C19.6331 30.6952 19.6204 30.6647 19.6038 30.6257C19.5708 30.5477 19.5224 30.4355 19.4592 30.294C19.3328 30.0112 19.1469 29.6104 18.9055 29.1308C18.424 28.1741 17.7153 26.8917 16.8105 25.6029C15.9093 24.3192 14.7894 22.9943 13.476 21.9823C12.161 20.9693 10.5953 20.2277 8.83 20.2277L8.83 22.2277C10.0144 22.2277 11.161 22.7236 12.2553 23.5667C13.3511 24.4109 14.3373 25.5608 15.1736 26.752C16.0063 27.9381 16.6663 29.1305 17.1191 30.03C17.3449 30.4785 17.5176 30.8511 17.633 31.1096C17.6907 31.2388 17.734 31.3393 17.7624 31.4063C17.7766 31.4398 17.7871 31.4649 17.7938 31.4811C17.7971 31.4891 17.7995 31.4949 17.8009 31.4984C17.8016 31.5002 17.8021 31.5013 17.8023 31.5019C17.8025 31.5022 17.8025 31.5023 17.8025 31.5023C17.8025 31.5023 17.8025 31.5022 17.8025 31.5022C17.8024 31.502 17.8023 31.5018 18.7295 31.1272Z"
                    fill="currentColor"></path>
                </svg>
              </button></span
            >
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Social</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-between text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
            >
              <span>Register with</span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                  fill="#4285F4"></path>
                <path
                  d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                  fill="#34A853"></path>
                <path
                  d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                  fill="#FBBC05"></path>
                <path
                  d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                  fill="#EB4335"></path>
              </svg></button
            >
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-between text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                  fill="#4285F4"></path>
                <path
                  d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                  fill="#34A853"></path>
                <path
                  d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                  fill="#FBBC05"></path>
                <path
                  d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                  fill="#EB4335"></path>
              </svg>
              <span>Register with</span>
            </button>
            <button
              type="button"
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto p-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                  fill="#4285F4"></path>
                <path
                  d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                  fill="#34A853"></path>
                <path
                  d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                  fill="#FBBC05"></path>
                <path
                  d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                  fill="#EB4335"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Mobile App bagge
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-between text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
              type="button"
              ><svg
                class="size-8"
                viewBox="0 0 25 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g filter="url(#filter0_ii_1303_2191)"
                  ><path
                    d="M1.4359 0.538027C1.1449 0.846027 0.9729 1.32403 0.9729 1.94303V24.059C0.9729 24.679 1.1449 25.156 1.4359 25.464L1.5099 25.536L13.8989 13.147V13.001V12.855L1.5099 0.465027L1.4359 0.538027Z"
                    fill="url(#paint0_linear_1303_2191)"></path><path
                    d="M18.0279 17.278L13.8989 13.147V13.001V12.855L18.0289 8.72498L18.1219 8.77798L23.0149 11.558C24.4119 12.352 24.4119 13.651 23.0149 14.446L18.1219 17.226L18.0279 17.278Z"
                    fill="url(#paint1_linear_1303_2191)"></path><g
                    filter="url(#filter1_i_1303_2191)"
                    ><path
                      d="M18.1218 17.225L13.8978 13.001L1.43579 25.464C1.89579 25.952 2.65679 26.012 3.51379 25.526L18.1218 17.225Z"
                      fill="url(#paint2_linear_1303_2191)"></path></g
                  ><path
                    d="M18.1218 8.77701L3.51379 0.477005C2.65679 -0.0099946 1.89579 0.0510057 1.43579 0.539006L13.8988 13.002L18.1218 8.77701Z"
                    fill="url(#paint3_linear_1303_2191)"></path></g
                ><defs
                  ><filter
                    id="filter0_ii_1303_2191"
                    x="0.9729"
                    y="0.14093"
                    width="23.0898"
                    height="25.7207"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                    ><feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood><feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"></feBlend><feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix><feOffset dy="-0.15"
                    ></feOffset><feComposite
                      in2="hardAlpha"
                      operator="arithmetic"
                      k2="-1"
                      k3="1"></feComposite><feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"
                    ></feColorMatrix><feBlend
                      mode="normal"
                      in2="shape"
                      result="effect1_innerShadow_1303_2191"
                    ></feBlend><feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix><feOffset dy="0.15"
                    ></feOffset><feComposite
                      in2="hardAlpha"
                      operator="arithmetic"
                      k2="-1"
                      k3="1"></feComposite><feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"
                    ></feColorMatrix><feBlend
                      mode="normal"
                      in2="effect1_innerShadow_1303_2191"
                      result="effect2_innerShadow_1303_2191"></feBlend></filter
                  ><filter
                    id="filter1_i_1303_2191"
                    x="1.43579"
                    y="13.001"
                    width="16.686"
                    height="12.8607"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                    ><feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood><feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"></feBlend><feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix><feOffset dy="-0.15"
                    ></feOffset><feComposite
                      in2="hardAlpha"
                      operator="arithmetic"
                      k2="-1"
                      k3="1"></feComposite><feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
                    ></feColorMatrix><feBlend
                      mode="normal"
                      in2="shape"
                      result="effect1_innerShadow_1303_2191"></feBlend></filter
                  ><linearGradient
                    id="paint0_linear_1303_2191"
                    x1="12.8007"
                    y1="1.70903"
                    x2="-3.9813"
                    y2="18.491"
                    gradientUnits="userSpaceOnUse"
                    ><stop stop-color="#00A0FF"></stop><stop
                      offset="0.0066"
                      stop-color="#00A1FF"></stop><stop
                      offset="0.2601"
                      stop-color="#00BEFF"></stop><stop
                      offset="0.5122"
                      stop-color="#00D2FF"></stop><stop
                      offset="0.7604"
                      stop-color="#00DFFF"></stop><stop
                      offset="1"
                      stop-color="#00E3FF"></stop></linearGradient
                  ><linearGradient
                    id="paint1_linear_1303_2191"
                    x1="24.8334"
                    y1="13.001"
                    x2="0.637527"
                    y2="13.001"
                    gradientUnits="userSpaceOnUse"
                    ><stop stop-color="#FFE000"></stop><stop
                      offset="0.4087"
                      stop-color="#FFBD00"></stop><stop
                      offset="0.7754"
                      stop-color="#FFA500"></stop><stop
                      offset="1"
                      stop-color="#FF9C00"></stop></linearGradient
                  ><linearGradient
                    id="paint2_linear_1303_2191"
                    x1="15.8279"
                    y1="15.2949"
                    x2="-6.93061"
                    y2="38.0534"
                    gradientUnits="userSpaceOnUse"
                    ><stop stop-color="#FF3A44"></stop><stop
                      offset="1"
                      stop-color="#C31162"></stop></linearGradient
                  ><linearGradient
                    id="paint3_linear_1303_2191"
                    x1="-1.70281"
                    y1="-6.82319"
                    x2="8.45949"
                    y2="3.33911"
                    gradientUnits="userSpaceOnUse"
                    ><stop stop-color="#32A071"></stop><stop
                      offset="0.0685"
                      stop-color="#2DA771"></stop><stop
                      offset="0.4762"
                      stop-color="#15CF74"></stop><stop
                      offset="0.8009"
                      stop-color="#06E775"></stop><stop
                      offset="1"
                      stop-color="#00F076"></stop></linearGradient
                  ></defs
                ></svg
              ><span class="flex flex-col items-start gap-1 leading-none"
                ><span>GET IT ON</span><span class="font-medium"
                  >Google Play</span
                ></span
              ></button
            ><button
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-between text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800 gap-3"
              type="button"
              ><svg
                class="size-8"
                viewBox="0 0 19 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M15.769 12.3008C15.7907 10.6198 16.6934 9.02922 18.1256 8.14876C17.2221 6.85844 15.7088 6.04034 14.1344 5.99108C12.4552 5.81482 10.8272 6.99591 9.97149 6.99591C9.09922 6.99591 7.78172 6.00858 6.36299 6.03777C4.51374 6.09751 2.78977 7.1489 1.89007 8.76564C-0.0439277 12.1141 1.39866 17.0351 3.25127 19.7417C4.17817 21.0671 5.26145 22.5475 6.6789 22.495C8.06596 22.4375 8.584 21.6105 10.2583 21.6105C11.9171 21.6105 12.4031 22.495 13.8493 22.4616C15.3377 22.4375 16.2754 21.1304 17.1698 19.7925C17.8358 18.8481 18.3483 17.8044 18.6882 16.7C16.9391 15.9602 15.771 14.2 15.769 12.3008Z"
                  fill="currentColor"></path><path
                  d="M13.0373 4.21108C13.8489 3.23687 14.2487 1.98469 14.1518 0.720459C12.912 0.850679 11.7668 1.44324 10.9443 2.38007C10.14 3.2954 9.72143 4.52555 9.80056 5.74146C11.0408 5.75423 12.2601 5.17773 13.0373 4.21108Z"
                  fill="currentColor"></path></svg
              ><span class="flex flex-col items-start gap-1 leading-none"
                ><span>Download on the</span><span class="font-medium"
                  >App Store</span
                ></span
              ></button
            >
          </div>
          <div class="inline-flex flex-wrap items-center w-full gap-4 mt-12">
            <button
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler size-8 icon-tabler-brand-google-play"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
                ></path><path d="M15 9l-10.5 11.5"></path><path
                  d="M4.5 3.5l10.5 11.5"></path></svg
              ><span class="ml-2 flex items-start flex-col leading-none">
                Download on Google Play
              </span></button
            ><button
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler size-8 icon-tabler-brand-apple"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 7c-3 0 -4 3 -4 5.5c0 3 2 7.5 4 7.5c1.088 -.046 1.679 -.5 3 -.5c1.312 0 1.5 .5 3 .5s4 -3 4 -5c-.028 -.01 -2.472 -.403 -2.5 -3c-.019 -2.17 2.416 -2.954 2.5 -3c-1.023 -1.492 -2.951 -1.963 -3.5 -2c-1.433 -.111 -2.83 1 -3.5 1c-.68 0 -1.9 -1 -3 -1z"
                ></path><path d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2"
                ></path></svg
              ><span class="ml-2 flex items-start flex-col leading-none">
                Download on the App Store
              </span></button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
