<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black 2xl:border-x-2 border-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Color platte</p>
      </div>
      <div class="divide-y-2 divide-black">
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium text-black">Brand</h3>
          <div class="flex flex-wrap gap-4 mt-12">
            <div
              class="p-6 bg-white shadow-small rounded-lg border-2 border-black"
            >
            </div>

            <div
              class="p-6 bg-lila-500 shadow-small rounded-lg border-2 border-black"
            >
            </div>
            <div
              class="p-6 bg-yellow-500 shadow-small rounded-lg border-2 border-black"
            >
            </div>
            <div
              class="p-6 bg-green-500 shadow-small rounded-lg border-2 border-black"
            >
            </div>
            <div
              class="p-6 bg-red-500 shadow-small rounded-lg border-2 border-black"
            >
            </div>
            <div
              class="p-6 bg-black shadow-small rounded-lg border-2 border-black"
            >
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 p-8 lg:p-20">
          <div>
            <h3 class="text-xl font-medium text-black">Text</h3>
            <div class="mt-12 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 bg-black shadow-small rounded-lg"></div><p
                  class="text-black text-sm"
                >
                  text-black
                </p>
              </div>
            </div>
          </div><div>
            <div class="pb-5">
              <h3 class="text-base font-semibold text-black">Background</h3>
            </div><div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-white shadow-small rounded-lg border-2 border-black"
                >
                </div><p class="text-black text-sm">bg-white</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-lila-500 shadow-small rounded-lg border-2 border-black"
                >
                </div>
                <p class="text-black text-sm">bg-lila-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-yellow-500 shadow-small rounded-lg border-2 border-black"
                >
                </div>
                <p class="text-black text-sm">bg-yellow-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-green-500 shadow-small rounded-lg border-2 border-black"
                >
                </div>
                <p class="text-black text-sm">bg-green-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-red-500 shadow-small rounded-lg border-2 border-black"
                >
                </div>
                <p class="text-black text-sm">bg-red-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div
                  class="p-6 bg-black shadow-small rounded-lg border-2 border-black"
                >
                </div>
                <p class="text-black text-sm">bg-black</p>
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-12 p-8 lg:p-20">
          <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-12">
            <div>
              <h3 class="text-base font-semibold text-black">Lila</h3>
              <div class="mt-12 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-50"
                  >
                  </div>
                  <p class="text-black text-sm">bg-lila-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-100"
                  >
                  </div><p class="text-black text-sm">bg-lila-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-200"
                  >
                  </div><p class="text-black text-sm">bg-lila-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-300"
                  >
                  </div><p class="text-black text-sm">bg-lila-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-400"
                  >
                  </div><p class="text-black text-sm">bg-lila-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-500"
                  >
                  </div><p class="text-black text-sm">bg-lila-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-600"
                  >
                  </div><p class="text-black text-sm">bg-lila-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-700"
                  >
                  </div><p class="text-black text-sm">bg-lila-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-800"
                  >
                  </div><p class="text-black text-sm">bg-lila-800</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-lila-900"
                  >
                  </div><p class="text-black text-sm">bg-lila-900</p>
                </div>
              </div>
            </div>
            <div>
              <h3 class="text-base font-semibold text-black">Yellow</h3>

              <div class="mt-12 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-50"
                  >
                  </div><p class="text-black text-sm">bg-yellow-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-100"
                  >
                  </div><p class="text-black text-sm">bg-yellow-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-200"
                  >
                  </div><p class="text-black text-sm">bg-yellow-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-300"
                  >
                  </div><p class="text-black text-sm">bg-yellow-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-400"
                  >
                  </div><p class="text-black text-sm">bg-yellow-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-500"
                  >
                  </div><p class="text-black text-sm">bg-yellow-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-600"
                  >
                  </div><p class="text-black text-sm">bg-yellow-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-700"
                  >
                  </div><p class="text-black text-sm">bg-yellow-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-800"
                  >
                  </div><p class="text-black text-sm">bg-yellow-800</p>
                </div>
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-yellow-900"
                  >
                  </div><p class="text-black text-sm">bg-yellow-900</p>
                </div>
              </div>
            </div>
            <div>
              <h3 class="text-base font-semibold text-black">Green</h3>

              <div class="mt-12 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-50"
                  >
                  </div><p class="text-black text-sm">bg-green-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-100"
                  >
                  </div><p class="text-black text-sm">bg-green-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-200"
                  >
                  </div><p class="text-black text-sm">bg-green-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-300"
                  >
                  </div><p class="text-black text-sm">bg-green-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-400"
                  >
                  </div><p class="text-black text-sm">bg-green-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-500"
                  >
                  </div><p class="text-black text-sm">bg-green-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-600"
                  >
                  </div><p class="text-black text-sm">bg-green-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-700"
                  >
                  </div><p class="text-black text-sm">bg-green-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-800"
                  >
                  </div><p class="text-black text-sm">bg-green-800</p>
                </div>
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-green-900"
                  >
                  </div><p class="text-black text-sm">bg-green-900</p>
                </div>
              </div>
            </div>
            <div>
              <h3 class="text-base font-semibold text-black">Red</h3>

              <div class="mt-12 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-50"
                  >
                  </div><p class="text-black text-sm">bg-red-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-100"
                  >
                  </div><p class="text-black text-sm">bg-red-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-200"
                  >
                  </div><p class="text-black text-sm">bg-red-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-300"
                  >
                  </div><p class="text-black text-sm">bg-red-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-400"
                  >
                  </div><p class="text-black text-sm">bg-red-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-500"
                  >
                  </div><p class="text-black text-sm">bg-red-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-600"
                  >
                  </div><p class="text-black text-sm">bg-red-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-700"
                  >
                  </div><p class="text-black text-sm">bg-red-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-800"
                  >
                  </div><p class="text-black text-sm">bg-red-800</p>
                </div>
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-red-900"
                  >
                  </div><p class="text-black text-sm">bg-red-900</p>
                </div>
              </div>
            </div>
            <div>
              <h3 class="text-base font-semibold text-black">Success</h3>
              <div class="mt-6 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-50"
                  >
                  </div><p class="text-black text-sm">bg-success-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-100"
                  >
                  </div><p class="text-black text-sm">bg-success-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-200"
                  >
                  </div><p class="text-black text-sm">bg-success-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-300"
                  >
                  </div><p class="text-black text-sm">bg-success-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-400"
                  >
                  </div><p class="text-black text-sm">bg-success-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-500"
                  >
                  </div><p class="text-black text-sm">bg-success-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-600"
                  >
                  </div><p class="text-black text-sm">bg-success-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-700"
                  >
                  </div><p class="text-black text-sm">bg-success-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-800"
                  >
                  </div><p class="text-black text-sm">bg-success-800</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-900"
                  >
                  </div><p class="text-black text-sm">bg-success-900</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-success-950"
                  >
                  </div><p class="text-black text-sm">bg-success-950</p>
                </div>
              </div>
            </div><div>
              <h3 class="text-base font-semibold text-black">Warning</h3>
              <div class="mt-6 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-50"
                  >
                  </div><p class="text-black text-sm">bg-warning-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-100"
                  >
                  </div><p class="text-black text-sm">bg-warning-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-200"
                  >
                  </div><p class="text-black text-sm">bg-warning-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-300"
                  >
                  </div><p class="text-black text-sm">bg-warning-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-400"
                  >
                  </div><p class="text-black text-sm">bg-warning-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-500"
                  >
                  </div><p class="text-black text-sm">bg-warning-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-600"
                  >
                  </div><p class="text-black text-sm">bg-warning-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-700"
                  >
                  </div><p class="text-black text-sm">bg-warning-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-800"
                  >
                  </div><p class="text-black text-sm">bg-warning-800</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-900"
                  >
                  </div><p class="text-black text-sm">bg-warning-900</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-warning-950"
                  >
                  </div><p class="text-black text-sm">bg-warning-950</p>
                </div>
              </div>
            </div><div>
              <h3 class="text-base font-semibold text-black">Warning</h3>
              <div class="mt-6 flex flex-col gap-2">
                <div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-50"
                  >
                  </div><p class="text-black text-sm">bg-danger-50</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-100"
                  >
                  </div><p class="text-black text-sm">bg-danger-100</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-200"
                  >
                  </div><p class="text-black text-sm">bg-danger-200</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-300"
                  >
                  </div><p class="text-black text-sm">bg-danger-300</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-400"
                  >
                  </div><p class="text-black text-sm">bg-danger-400</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-500"
                  >
                  </div><p class="text-black text-sm">bg-danger-500</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-600"
                  >
                  </div><p class="text-black text-sm">bg-danger-600</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-700"
                  >
                  </div><p class="text-black text-sm">bg-danger-700</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-800"
                  >
                  </div><p class="text-black text-sm">bg-danger-800</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-900"
                  >
                  </div><p class="text-black text-sm">bg-danger-900</p>
                </div><div class="inline-flex items-center gap-2">
                  <div
                    class="p-6 shadow-small rounded-lg border-2 border-black bg-danger-950"
                  >
                  </div><p class="text-black text-sm">bg-danger-950</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
