<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Forms</p>
      </div>
      <div class="divide-y-2 divide-black">
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Checkboxes</h3>
          <div class="inline-flex flex-wrap items-center w-full gap-2 mt-10">
            <fieldset>
              <legend class="sr-only">Word</legend>
              <div class="space-y-5">
                <div class="relative flex items-start">
                  <div class="flex h-6 items-center">
                    <input
                      id="comments"
                      aria-describedby="comments-description"
                      name="comments"
                      type="checkbox"
                      class="h-4 w-4 text-black focus:ring-black border-black border-2 rounded-full"
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="comments"
                      class="font-medium text-black"
                      >Default</label
                    >
                  </div>
                </div>
                <div class="relative flex items-start">
                  <div class="flex h-6 items-center">
                    <input
                      id="text"
                      aria-describedby="#"
                      name="text"
                      type="checkbox"
                      class="h-4 w-4 text-black focus:ring-black border-black border-2 rounded-full"
                    />
                  </div>
                  <div class="ml-3 text-sm gap-2 flex">
                    <label
                      for="#"
                      class="font-medium text-black"
                      >Default</label
                    >
                    <span
                      id="#"
                      class="text-black"
                      >With support text.</span
                    >
                  </div>
                </div>
                <div class="relative flex items-start opacity-50">
                  <div class="flex h-6 items-center">
                    <input
                      id="text"
                      aria-describedby="#"
                      name="text"
                      type="checkbox"
                      disabled
                      class="cursor-not-allowed disabled:opacity-50 h-4 w-4 text-black focus:ring-black border-black border-2 rounded-full"
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="#"
                      class="font-medium text-black"
                      >Disabled</label
                    >
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">
            Radio buttons
          </h3>
          <div class="inline-flex flex-wrap items-center w-full gap-2 mt-10">
            <fieldset>
              <legend class="sr-only">Word</legend>
              <div class="space-y-5">
                <div class="flex items-center">
                  <input
                    id="#"
                    name="#"
                    type="radio"
                    class="border-black text-black focus:ring-lila-800 border-2 ring-2 ring-transparent bg-white focus:ring-offset-white"
                  />
                  <label
                    for="#"
                    class="ml-3 block text-sm font-medium leading-6 text-black"
                    >Default</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    id="#"
                    name="#"
                    type="radio"
                    class="h-4 w-4 border-black text-black focus:ring-lila-800 border-2 ring-2 ring-transparent bg-white focus:ring-offset-white"
                  />
                  <div class="ml-3 text-sm gap-2 flex">
                    <label
                      for="#"
                      class="font-medium text-black"
                      >Default</label
                    >
                    <span
                      id="#"
                      class="text-black"
                      >With support text.</span
                    >
                  </div>
                </div>
                <div class="flex items-center opacity-50">
                  <input
                    id="#"
                    name="#"
                    type="radio"
                    class="cursor-not-allowed disabled:opacity-50 border-black text-black focus:ring-lila-800 border-2 ring-2 ring-transparent bg-white focus:ring-offset-white"
                  />
                  <label
                    for="#"
                    class="ml-3 block text-sm font-medium leading-6 text-black"
                    >Default</label
                  >
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Toggle</h3>
          <div class="inline-flex flex-wrap w-full gap-2 mt-12">
            <div class="space-y-5">
              <div
                x-data="{ value: false }"
                class="flex items-center gap-2"
                x-id="['toggle-label']">
                <input
                  type="hidden"
                  name="sendNotifications"
                  :value="value"
                  value="false"
                />
                <div class="ml-3 text-sm flex order-last">
                  <label
                    @click="$refs.toggle.click(); $refs.toggle.focus()"
                    :id="$id('toggle-label')"
                    id="toggle-label-1"
                    for="toggle-1"
                    class="font-medium text-black"
                    >Default</label
                  >
                </div>
                <button
                  x-ref="toggle"
                  @click="value = ! value"
                  type="button"
                  role="switch"
                  :aria-checked="value"
                  :aria-labelledby="$id('toggle-label')"
                  :class="value ? '' : 'bg-black'"
                  class="relative inline-flex w-10 rounded-full py-1 transition bg-lila-500 border-2 shadow-small border-black"
                  aria-checked="true"
                  aria-labelledby="toggle-label-1"
                  id="toggle-1"
                  ><span
                    :class="value ? 'translate-x-6 bg-white' : 'translate-x-1 '"
                    class="bg-black h-2 w-2 rounded-full transition shadow-md translate-x-1"
                    aria-hidden="true"
                  ></span></button
                >
              </div>
              <div
                x-data="{ value: false }"
                class="flex items-center gap-2"
                x-id="['toggle-label']">
                <input
                  type="hidden"
                  name="sendNotifications"
                  :value="value"
                  value="false"
                />
                <div class="ml-3 text-sm gap-2 flex order-last">
                  <label
                    @click="$refs.toggle.click(); $refs.toggle.focus()"
                    :id="$id('toggle-label')"
                    id="toggle-label-2"
                    for="toggle-2"
                    class="font-medium text-black"
                    >Default</label
                  >
                  <span
                    id="#"
                    class="text-black"
                    >With support text.</span
                  >
                </div>
                <button
                  x-ref="toggle"
                  @click="value = ! value"
                  type="button"
                  role="switch"
                  :aria-checked="value"
                  :aria-labelledby="$id('toggle-label')"
                  :class="value ? '' : 'bg-black'"
                  class="relative inline-flex w-10 rounded-full py-1 transition bg-lila-500 border-2 shadow-small border-black"
                  aria-checked="true"
                  aria-labelledby="toggle-label-2"
                  id="toggle-2"
                  ><span
                    :class="value ? 'translate-x-6 bg-white' : 'translate-x-1 '"
                    class="bg-black h-2 w-2 rounded-full transition shadow-md translate-x-1"
                    aria-hidden="true"
                  ></span></button
                >
              </div>
              <div
                x-data="{ value: false }"
                class="flex items-center gap-2 opacity-50"
                x-id="['toggle-label']">
                <input
                  class="cursor-not-allowed disabled:opacity-50"
                  type="hidden"
                  name="sendNotifications"
                  :value="value"
                  value="false"
                />
                <div class="ml-3 text-sm flex order-last">
                  <label
                    @click="$refs.toggle.click(); $refs.toggle.focus()"
                    :id="$id('toggle-label')"
                    id="toggle-label-3"
                    for="toggle-3"
                    class="font-medium text-black"
                    >Default</label
                  >
                </div>
                <button
                  x-ref="toggle"
                  @click="value = ! value"
                  type="button"
                  role="switch"
                  :aria-checked="value"
                  :aria-labelledby="$id('toggle-label')"
                  :class="value ? '' : 'bg-black'"
                  class="relative inline-flex w-10 rounded-full py-1 transition bg-lila-500 border-2 shadow-small border-black"
                  aria-checked="true"
                  aria-labelledby="toggle-label-3"
                  id="toggle-3"
                  disabled
                  ><span
                    :class="value ? 'translate-x-6 bg-white' : 'translate-x-1 '"
                    class="bg-black h-2 w-2 rounded-full transition shadow-md translate-x-1"
                    aria-hidden="true"
                  ></span></button
                >
              </div>
            </div>
          </div>
        </div>
        <div class="p-8 lg:p-20">
          <h3 class="text-xl font-medium leading-6 text-black">Default</h3>
          <div
            class="flex-wrap grid grid-cols-1 md:grid-cols-2 items-start w-full gap-12 mt-10">
            <div class="w-full">
              <label
                for="full_name"
                class="block text-sm font-medium text-black"
                >Name</label
              >
              <input
                type="text"
                name="name"
                id="name"
                required
                aria-required="true"
                aria-labelledby="name-label"
                class="block w-full px-4 py-2 mt-4 border-2 bg-white border-black h-16 shadow shadow-black rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm"
              />

              <p
                id="name-label"
                class="sr-only">
                Name
              </p>
            </div>
            <div class="w-full">
              <label
                class="block text-sm font-medium text-black"
                for="message"
                >Text area</label
              >
              <div class="mt-1">
                <textarea
                  id="message"
                  name="message"
                  class="block w-full px-4 py-2 mt-4 border-2 bg-white border-black h-16 shadow shadow-black rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm"
                  rows="4"
                ></textarea>
              </div>
            </div>
            <div class="w-full">
              <label
                class="block text-sm font-medium text-black"
                for="email"
                >Email</label
              >
              <input
                id="email"
                name="email"
                class="block w-full px-4 py-2 mt-4 border-2 bg-white border-black h-16 shadow shadow-black rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm"
                placeholder="email@example.com"
                autocomplete="off"
                type="email"
              />
              <p
                class="sr-only"
                id="email-description">
                We are so going to spam you.
              </p>
            </div>
            <div class="w-full">
              <label
                for="email"
                class="block text-sm font-medium text-black"
                >Email passed</label
              >
              <div class="relative mt-4">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="block w-full px-4 py-2 mt-4 border-2 bg-white border-success-500 h-16 shadow shadow-success-500 rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm"
                  placeholder="you@example.com"
                  value="lexington"
                  aria-invalid="true"
                  aria-describedby="email-error"
                />
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check h-5 w-5 text-success-500"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M9 12l2 2l4 -4"></path>
                  </svg>
                </div>
              </div>
              <p
                class="mt-2 text-sm text-success-600"
                id="email-error">
                Well done!
              </p>
            </div>
            <div class="w-full">
              <label
                for="email"
                class="block text-sm font-medium text-black"
                >Email error</label
              >
              <div class="relative mt-4">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="block w-full px-4 py-2 mt-4 border-2 bg-white border-danger-500 h-16 shadow shadow-danger-500 rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm"
                  placeholder="you@example.com"
                  value="lexington"
                  aria-invalid="true"
                  aria-describedby="email-error"
                />
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-alert-circle h-5 w-5 text-danger-500"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                    <path d="M12 8v4"></path>
                    <path d="M12 16h.01"></path>
                  </svg>
                </div>
              </div>
              <p
                class="mt-2 text-sm text-danger-600"
                id="email-error">
                Not a valid email address.
              </p>
            </div>
            <div class="w-full">
              <label
                for="search"
                class="block text-sm font-medium text-black"
                >Search anything</label
              >
              <div class="relative text-black focus-within:text-lila-800">
                <div
                  class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg
                    class="h-6 w-6"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  id="search"
                  class="block w-full px-4 py-2 mt-4 border-2 bg-white border-black h-16 shadow shadow-black rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm pl-10"
                  placeholder="Search"
                  type="search"
                  name="search"
                />
              </div>
            </div>
            <div class="w-full">
              <label
                for="cover-photo"
                class="block text-sm font-medium text-black"
                >Upload</label
              >
              <div
                class="mt-4 flex justify-center rounded-lg border-2 border-black shadow px-6 py-10 hover:border-lila-800 duration-300 group">
                <div class="text-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-file-upload mx-auto h-10 w-10 text-black duration-300 group-hover:text-lila-800"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    ></path>
                    <path d="M12 11v6"></path>
                    <path d="M9.5 13.5l2.5 -2.5l2.5 2.5"></path>
                  </svg>
                  <div
                    class="mt-4 flex text-xs leading-6 items-center text-black">
                    <label
                      for="file-upload"
                      class="relative cursor-pointer text-black items-center shadow shadow-black text-xs font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-8 tracking-wide focus:translate-y-1 w-full hover:text-lila-800">
                      <span>Upload a file</span>
                      <input
                        id="file-upload"
                        name="file-upload"
                        type="file"
                        class="sr-only"
                      />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  <p class="text-xs mt-4 text-black">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div>
            </div>
            <div class="">
              <label
                for="location"
                class="block text-sm font-medium text-black"
                >Select</label
              >
              <select
                id="location"
                name="location"
                class="mt-4 pl-3 block w-full px-4 py-2 border-2 bg-white border-black h-16 shadow shadow-black rounded-lg appearance-none text-black placeholder-black focus:border-lila-800 focus:outline-none focus:ring-lila-800 focus:shadow-lila-800 sm:text-sm pr-10">
                <option>Åland islands</option>
                <option selected>Alicante</option>
                <option>Milano</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
