<section class="bg-white" aria-labelledby="feature-eight" id="feature-eight">
  <div class="mx-auto 2xl:max-w-7xl lg:flex">
    <div class="lg:w-1/2 p-8 lg:p-20 bg-black">
      <div class="lg:sticker lg:sticky pb-16 pt-12 lg:pt-32 top-0">
        <div>
          <div>
            <h2 class="inline-flex items-center text-white">
              <span class="text-base font-medium tracking-tight">Feature</span>
              <span class="ml-3 h-3.5 w-px bg-white"></span>
              <span class="font-mono text-sm ml-3" aria-hidden="true">08</span>
            </h2>
            <p
              class="text-5xl mt-3 tracking-tight lg:text-7xl text-yellow-500 font-mono"
            >
              Getting <span class="lg:block"> jiggy with it</span>
            </p>
            <p class="mt-4 mx-auto tracking-tight text-white text-3xl max-w-xl">
              We want you to live a get out from the fake till you make it, and
              start to make it so you make.
            </p>
            <div
              class="flex gap-3 mt-10 justify-start md:justify-center lg:justify-start"
            >
              <a
                href="#_"
                class="relative inline-block px-4 lg:px-8 lg:py-4 py-2 font-medium group"
              >
                <span
                  class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-orange-500 group-hover:-translate-x-0 group-hover:-translate-y-0"
                ></span>
                <span
                  class="absolute inset-0 w-full h-full bg-white border-2 border-orange-500 group-hover:bg-orange-500"
                ></span>
                <span
                  class="relative lg:text-2xl text-black group-hover:text-white"
                  >Find out <span class="ml-3">&rarr;</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 p-8 lg:p-20 bg-white">
      <div class="flex-shrink-0">
        <div>
          <ul
            class="grid grid-cols-1 lg:gap-24 gap-12 list-none mt-24"
            role="list"
          >
            <li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div>
              <div class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Prebuilt integrations
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                Join Supreme engineers and designers for a technical look at
                Supreme Apps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                To achieve global net zero emissions by 2050, we need not only
                to reduce emissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about Supreme Climate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailored to customers’
                specific needs. Hear from a range of businesses on how they're
                using BaaS in radically different ways.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Prebuilt integrations
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                Join Supreme engineers and designers for a technical look at
                Supreme Apps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                To achieve global net zero emissions by 2050, we need not only
                to reduce emissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about Supreme Climate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-orange-500">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black"
              >
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailored to customers’
                specific needs. Hear from a range of businesses on how they're
                using BaaS in radically different ways.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
