<section
  class="relative flex items-center w-full border-b-2 border-black"
  aria-labelledby="feature-four"
  id="feature-four"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div class="block w-full aspect-square lg:mt-0 bg-orange-500 h-full">
        <img alt="hero" src="./images/balls.png" />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-white"
      >
        <div class="max-w-xl text-left">
          <div>
            <h2 class="inline-flex items-center text-black">
              <span class="text-base font-medium tracking-tight">Feature</span>
              <span class="ml-3 h-3.5 w-px bg-black"></span>
              <span class="font-mono text-sm ml-3" aria-hidden="true">04</span>
            </h2>
            <p
              class="text-5xl mt-3 lg:text-7xl tracking-tight text-black font-mono"
            >
              Test and get buy-in
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              We all make mistakes, have struggles, and even regret things in
              our past. But you are not your mistakes, you are not your
              struggles, and you are here NOW with the power to shape your day
              and your future
            </p>
          </div>
          <div class="mt-6">
            <ul
              class="xl:text-xl tracking-tight text-black flex flex-col"
              role="list"
            >
              <li class="inline-flex items-center gap-3">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 27 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 2.24991C15.0001 1.42153 14.3285 0.75 13.5002 0.75V0.75C12.6718 0.75 12.0002 1.42153 12.0002 2.24991V3.6505C12.0002 6.23455 8.87605 7.52867 7.04882 5.70151L5.85321 4.50596C5.27398 3.92675 4.33489 3.92676 3.75567 4.50598V4.50598C3.17645 5.0852 3.17644 6.0243 3.75564 6.60353L4.95104 7.79898C6.77802 9.62604 5.48402 12.7499 2.90022 12.7499H1.49991C0.671531 12.7499 0 13.4215 0 14.2498V14.2498C0 15.0782 0.671533 15.7498 1.49991 15.7498H2.89968C5.48298 15.7498 6.77673 18.8731 4.9501 20.6998L3.75061 21.8993C3.17107 22.4789 3.17108 23.4185 3.75063 23.9981V23.9981C4.3302 24.5777 5.26987 24.5777 5.84944 23.9981L7.04889 22.7986C8.87606 20.9715 12.0002 22.2655 12.0002 24.8496V26.2501C12.0002 27.0785 12.6718 27.75 13.5002 27.75V27.75C14.3285 27.75 15.0001 27.0785 15.0001 26.2501V24.8498C15.0001 22.2661 18.124 20.9721 19.951 22.7991L21.1514 23.9995C21.7307 24.5788 22.6699 24.5788 23.2492 23.9995V23.9995C23.8285 23.4202 23.8285 22.481 23.2492 21.9017L22.0486 20.7011C20.2215 18.8739 21.5155 15.7498 24.0996 15.7498H25.5001C26.3285 15.7498 27 15.0782 27 14.2498V14.2498C27 13.4215 26.3285 12.7499 25.5001 12.7499H24.0997C21.5157 12.7499 20.2217 9.62585 22.0488 7.79873L23.2434 6.60414C23.823 6.02457 23.823 5.08492 23.2434 4.50535V4.50535C22.6638 3.92579 21.7242 3.92579 21.1446 4.50536L19.95 5.69995C18.1234 7.5266 15.0001 6.23289 15.0001 3.64961V2.24991Z"
                    fill="black"></path>
                </svg>

                Share
              </li>
              <li class="inline-flex items-center gap-3">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 27 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 2.24991C15.0001 1.42153 14.3285 0.75 13.5002 0.75V0.75C12.6718 0.75 12.0002 1.42153 12.0002 2.24991V3.6505C12.0002 6.23455 8.87605 7.52867 7.04882 5.70151L5.85321 4.50596C5.27398 3.92675 4.33489 3.92676 3.75567 4.50598V4.50598C3.17645 5.0852 3.17644 6.0243 3.75564 6.60353L4.95104 7.79898C6.77802 9.62604 5.48402 12.7499 2.90022 12.7499H1.49991C0.671531 12.7499 0 13.4215 0 14.2498V14.2498C0 15.0782 0.671533 15.7498 1.49991 15.7498H2.89968C5.48298 15.7498 6.77673 18.8731 4.9501 20.6998L3.75061 21.8993C3.17107 22.4789 3.17108 23.4185 3.75063 23.9981V23.9981C4.3302 24.5777 5.26987 24.5777 5.84944 23.9981L7.04889 22.7986C8.87606 20.9715 12.0002 22.2655 12.0002 24.8496V26.2501C12.0002 27.0785 12.6718 27.75 13.5002 27.75V27.75C14.3285 27.75 15.0001 27.0785 15.0001 26.2501V24.8498C15.0001 22.2661 18.124 20.9721 19.951 22.7991L21.1514 23.9995C21.7307 24.5788 22.6699 24.5788 23.2492 23.9995V23.9995C23.8285 23.4202 23.8285 22.481 23.2492 21.9017L22.0486 20.7011C20.2215 18.8739 21.5155 15.7498 24.0996 15.7498H25.5001C26.3285 15.7498 27 15.0782 27 14.2498V14.2498C27 13.4215 26.3285 12.7499 25.5001 12.7499H24.0997C21.5157 12.7499 20.2217 9.62585 22.0488 7.79873L23.2434 6.60414C23.823 6.02457 23.823 5.08492 23.2434 4.50535V4.50535C22.6638 3.92579 21.7242 3.92579 21.1446 4.50536L19.95 5.69995C18.1234 7.5266 15.0001 6.23289 15.0001 3.64961V2.24991Z"
                    fill="black"></path>
                </svg>Present
              </li>
              <li class="inline-flex items-center gap-3">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 27 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 2.24991C15.0001 1.42153 14.3285 0.75 13.5002 0.75V0.75C12.6718 0.75 12.0002 1.42153 12.0002 2.24991V3.6505C12.0002 6.23455 8.87605 7.52867 7.04882 5.70151L5.85321 4.50596C5.27398 3.92675 4.33489 3.92676 3.75567 4.50598V4.50598C3.17645 5.0852 3.17644 6.0243 3.75564 6.60353L4.95104 7.79898C6.77802 9.62604 5.48402 12.7499 2.90022 12.7499H1.49991C0.671531 12.7499 0 13.4215 0 14.2498V14.2498C0 15.0782 0.671533 15.7498 1.49991 15.7498H2.89968C5.48298 15.7498 6.77673 18.8731 4.9501 20.6998L3.75061 21.8993C3.17107 22.4789 3.17108 23.4185 3.75063 23.9981V23.9981C4.3302 24.5777 5.26987 24.5777 5.84944 23.9981L7.04889 22.7986C8.87606 20.9715 12.0002 22.2655 12.0002 24.8496V26.2501C12.0002 27.0785 12.6718 27.75 13.5002 27.75V27.75C14.3285 27.75 15.0001 27.0785 15.0001 26.2501V24.8498C15.0001 22.2661 18.124 20.9721 19.951 22.7991L21.1514 23.9995C21.7307 24.5788 22.6699 24.5788 23.2492 23.9995V23.9995C23.8285 23.4202 23.8285 22.481 23.2492 21.9017L22.0486 20.7011C20.2215 18.8739 21.5155 15.7498 24.0996 15.7498H25.5001C26.3285 15.7498 27 15.0782 27 14.2498V14.2498C27 13.4215 26.3285 12.7499 25.5001 12.7499H24.0997C21.5157 12.7499 20.2217 9.62585 22.0488 7.79873L23.2434 6.60414C23.823 6.02457 23.823 5.08492 23.2434 4.50535V4.50535C22.6638 3.92579 21.7242 3.92579 21.1446 4.50536L19.95 5.69995C18.1234 7.5266 15.0001 6.23289 15.0001 3.64961V2.24991Z"
                    fill="black"></path>
                </svg>Gather feedback
              </li>
              <li class="inline-flex items-center gap-3">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 27 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 2.24991C15.0001 1.42153 14.3285 0.75 13.5002 0.75V0.75C12.6718 0.75 12.0002 1.42153 12.0002 2.24991V3.6505C12.0002 6.23455 8.87605 7.52867 7.04882 5.70151L5.85321 4.50596C5.27398 3.92675 4.33489 3.92676 3.75567 4.50598V4.50598C3.17645 5.0852 3.17644 6.0243 3.75564 6.60353L4.95104 7.79898C6.77802 9.62604 5.48402 12.7499 2.90022 12.7499H1.49991C0.671531 12.7499 0 13.4215 0 14.2498V14.2498C0 15.0782 0.671533 15.7498 1.49991 15.7498H2.89968C5.48298 15.7498 6.77673 18.8731 4.9501 20.6998L3.75061 21.8993C3.17107 22.4789 3.17108 23.4185 3.75063 23.9981V23.9981C4.3302 24.5777 5.26987 24.5777 5.84944 23.9981L7.04889 22.7986C8.87606 20.9715 12.0002 22.2655 12.0002 24.8496V26.2501C12.0002 27.0785 12.6718 27.75 13.5002 27.75V27.75C14.3285 27.75 15.0001 27.0785 15.0001 26.2501V24.8498C15.0001 22.2661 18.124 20.9721 19.951 22.7991L21.1514 23.9995C21.7307 24.5788 22.6699 24.5788 23.2492 23.9995V23.9995C23.8285 23.4202 23.8285 22.481 23.2492 21.9017L22.0486 20.7011C20.2215 18.8739 21.5155 15.7498 24.0996 15.7498H25.5001C26.3285 15.7498 27 15.0782 27 14.2498V14.2498C27 13.4215 26.3285 12.7499 25.5001 12.7499H24.0997C21.5157 12.7499 20.2217 9.62585 22.0488 7.79873L23.2434 6.60414C23.823 6.02457 23.823 5.08492 23.2434 4.50535V4.50535C22.6638 3.92579 21.7242 3.92579 21.1446 4.50536L19.95 5.69995C18.1234 7.5266 15.0001 6.23289 15.0001 3.64961V2.24991Z"
                    fill="black"></path>
                </svg>Interact with prototypes
              </li>
              <li class="inline-flex items-center gap-3">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 27 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 2.24991C15.0001 1.42153 14.3285 0.75 13.5002 0.75V0.75C12.6718 0.75 12.0002 1.42153 12.0002 2.24991V3.6505C12.0002 6.23455 8.87605 7.52867 7.04882 5.70151L5.85321 4.50596C5.27398 3.92675 4.33489 3.92676 3.75567 4.50598V4.50598C3.17645 5.0852 3.17644 6.0243 3.75564 6.60353L4.95104 7.79898C6.77802 9.62604 5.48402 12.7499 2.90022 12.7499H1.49991C0.671531 12.7499 0 13.4215 0 14.2498V14.2498C0 15.0782 0.671533 15.7498 1.49991 15.7498H2.89968C5.48298 15.7498 6.77673 18.8731 4.9501 20.6998L3.75061 21.8993C3.17107 22.4789 3.17108 23.4185 3.75063 23.9981V23.9981C4.3302 24.5777 5.26987 24.5777 5.84944 23.9981L7.04889 22.7986C8.87606 20.9715 12.0002 22.2655 12.0002 24.8496V26.2501C12.0002 27.0785 12.6718 27.75 13.5002 27.75V27.75C14.3285 27.75 15.0001 27.0785 15.0001 26.2501V24.8498C15.0001 22.2661 18.124 20.9721 19.951 22.7991L21.1514 23.9995C21.7307 24.5788 22.6699 24.5788 23.2492 23.9995V23.9995C23.8285 23.4202 23.8285 22.481 23.2492 21.9017L22.0486 20.7011C20.2215 18.8739 21.5155 15.7498 24.0996 15.7498H25.5001C26.3285 15.7498 27 15.0782 27 14.2498V14.2498C27 13.4215 26.3285 12.7499 25.5001 12.7499H24.0997C21.5157 12.7499 20.2217 9.62585 22.0488 7.79873L23.2434 6.60414C23.823 6.02457 23.823 5.08492 23.2434 4.50535V4.50535C22.6638 3.92579 21.7242 3.92579 21.1446 4.50536L19.95 5.69995C18.1234 7.5266 15.0001 6.23289 15.0001 3.64961V2.24991Z"
                    fill="black"></path>
                </svg>Smart animate
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
