---
// Assets
import { Image } from "astro:assets";
import Blob1 from "@/images/blobs/blob1.svg";
import Blob2 from "@/images/blobs/blob2.svg";
import Blob3 from "@/images/blobs/blob3.svg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    image: Blob1,
    title: "Secure Wallets",
    description:
      "Rest easy knowing your crypto assets are protected by state-of-the-art security measures and encryption, ensuring your safety",
  },
  {
    image: Blob2,
    title: "Instant Transactions",
    description:
      "Experience the convenience of near-instantaneous cryptocurrency transfers, allowing you to send and receive digital assets in real-time, eliminating delays.",
  },
  {
    image: Blob3,
    title: "Multi-Currency Support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore and manage various digital assets effortlessly.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24 border-t-2 bg-yellow">
    <div class="max-w-xl mx-auto text-center">
      <Text tag="h2" variant="displayMD" class="font-medium text-black">
        Navigating the <span class="md:block">digital financial frontier</span>
      </Text>
      <Text tag="p" variant="textLG" class="mt-4 text-black">
        Join us on our journey to transform the financial landscape with
        cutting-edge cryptocurrency solutions and groundbreaking blockchain
        technologies.
      </Text>
    </div>
    <div
      class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12"
    >
      {
        features.map((feature) => (
          <div>
            <Image
              width={800}
              height={800}
              src={feature.image}
              alt="#_"
              class="mx-auto size-12 lg:size-24"
            />
            <Text
              tag="h3"
              variant="textXL"
              class="mt-12 font-medium text-black"
            >
              {feature.title}
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-black  text-balance"
            >
              {feature.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
