---
// Define the features array
const features = [
  {
    imgSrc: "/images/blob1.svg",
    title: "Secure Wallets",
    description:
      "Rest easy knowing your crypto assets are protected by state-of-the-art security measures and encryption.",
  },
  {
    imgSrc: "/images/blob2.svg",
    title: "Instant Transactions",
    description:
      "Experience the convenience of near-instantaneous cryptocurrency transfers, allowing you to send.",
  },
  {
    imgSrc: "/images/blob3.svg",
    title: "Multi-Currency Support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore.",
  },
];
---

<section class="relative flex items-center w-full">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-b-2 border-black">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-yellow-500">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-3xl lg:text-5xl font-medium text-black">
          Navigating the <span class="md:block">digital financial frontier</span
          >
        </p>
        <p class="xl:text-xl text-black tracking-wide max-w-xl mx-auto mt-4">
          Join us on our journey to transform the financial landscape with
          cutting-edge cryptocurrency solutions and groundbreaking blockchain
          technologies.
        </p>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        {
          features.map((feature) => (
            <div>
              <img
                class="size-20  mx-auto"
                src={feature.imgSrc}
                alt={feature.title}
              />
              <h2 class="text-3xl text-black font-medium mt-8">
                {feature.title}
              </h2>
              <p class="text-lg tracking-wide text-black mt-4">
                {feature.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
