---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const platformFeatures = [
  {
    title: "Secure Wallets",
    description:
      "Rest easy knowing your crypto assets are protected by state-of-the-art security measures and encryption, ensuring the safety of your digital wealth.",
  },
  {
    title: "Instant Transactions",
    description:
      "Experience the convenience of near-instantaneous cryptocurrency transfers, allowing you to send and receive digital assets in real-time, eliminating delays.",
  },
  {
    title: "Multi-Currency Support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore and manage various digital assets effortlessly.",
  },
  {
    title: "Decentralized Exchanges",
    description:
      "Embrace peer-to-peer trading without intermediaries. Trade directly with other users on our platform, enjoying the benefits of decentralization.",
  },
  {
    title: "Staking Rewards",
    description:
      "Put your crypto assets to work and earn passive income through staking, a feature that allows you to participate in network validation and reap rewards.",
  },
  {
    title: "NFT Marketplace",
    description:
      "Immerse yourself in the world of non-fungible tokens (NFTs) with our marketplace. Buy, sell, and even create unique digital collectibles.",
  },
  {
    title: "User-Friendly Interface",
    description:
      "Our platform boasts an intuitive and user-friendly design, ensuring a seamless and pleasant experience for both novice and experienced users.",
  },
  {
    title: "Crypto Education",
    description:
      "Access a wealth of educational resources to expand your knowledge of blockchain technology and cryptocurrencies, empowering you to make informed decisions.",
  },
  {
    title: "Real-time Market Data",
    description:
      "Stay informed and make well-informed trading decisions with access to live cryptocurrency prices, charts, and trends, available 24/7.",
  },
  {
    title: "24/7 Customer Support",
    description:
      "Count on our dedicated customer support team to assist you round the clock, addressing your queries and concerns promptly and effectively.",
  },
  {
    title: "Mobile App",
    description:
      "Seamlessly trade and manage your crypto assets on the go with our mobile application, offering all the features and convenience you expect.",
  },
  {
    title: "Community Forum",
    description:
      "Connect with like-minded crypto enthusiasts, share insights, and participate in discussions within our community forum, fostering knowledge sharing and collaboration.",
  },
];
---

<section>
  <Wrapper variant="standardPaddingless" class="border-t-2">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:divide-x-2 lg:divide-black">
      <div class="p-8 lg:px-20 bg-yellow">
        <div class="py-16 lg:sticker lg:sticky top-20">
          <div>
            <Text
              tag="h2"
              variant="displayLG"
              class="font-medium tracking-tight text-black"
            >
              Unleash the potential <span class="md:block"
                >of digital assets</span
              >
            </Text>
            <Text
              tag="p"
              variant="textLG"
              class="max-w-md mt-4 text-lg text-black xl:text-xl"
            >
              Count on our dedicated customer support team to assist you round
              the clock, addressing your queries and concerns promptly and
              effectively.
              <br />
              <br />
              Seamlessly trade and manage your crypto assets on the go with our mobile
              application, offering all the features and convenience you expect.
            </Text>

            <Button
              isLink={true}
              href="/"
              size="xl"
              variant="default"
              class="mt-8 w-fit">Get started</Button
            >
          </div>
        </div>
      </div>
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-0.5 bg-black list-none"
        role="list"
      >
        {
          platformFeatures.map((feature, index) => (
            <li class="p-8 bg-white lg:p-12">
              <div>
                <div class="flex items-center justify-center font-semibold border-2 border-black rounded-full size-10 shadow-xs duration-300 shadow-black bg-yellow">
                  {index + 1}
                </div>
                <Text
                  tag="h3"
                  variant="textXL"
                  class="mt-8 font-medium text-black "
                >
                  {feature.title}
                </Text>
              </div>
              <Text tag="p" variant="textBase" class="mt-4 text-black ">
                {feature.description}
              </Text>
            </li>
          ))
        }
      </ul>
    </div>
  </Wrapper>
</section>
