---
// Assets
import { Image } from "astro:assets";
import Blob2 from "@/images/blobs/blob2.svg";
import Blob3 from "@/images/blobs/blob4.svg";

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
const featureList = [
  "Share",
  "Present",
  "Gather feedback",
  "Interact with prototypes",
  "Smart animate",
];
---

<section>
  <Wrapper
    variant="standardPaddingless"
    class="border-t-2 divide-y-2 divide-black"
  >
    <div
      class="w-full grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div
        class="flex flex-col items-center justify-center block w-full h-full aspect-square lg:mt-0 bg-green"
      >
        <Image
          class="size-24 lg:size-82"
          width={800}
          height={800}
          loading="eager"
          decoding="async"
          src={Blob2}
          alt="#_"
        />
      </div>
      <div
        class="relative items-center h-full p-8 bg-white lg:px-20 gap-12 lg:flex"
      >
        <div class="max-w-xl text-left">
          <Text tag="h2" variant="displayLG" class="font-medium text-black">
            Staking Rewards
          </Text>
          <Text tag="p" variant="textLG" class="mt-4 text-black">
            Put your crypto assets to work and earn passive income through
            staking, a feature that allows you to participate in network
            validation and reap rewards.
          </Text>
          <ul class="flex flex-col mt-6 text-black xl:text-xl" role="list">
            {
              featureList.map((item) => (
                <li class="inline-flex items-center gap-3">
                  <ArrowRight class="size-4" />
                  {item}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div
        class="relative items-center h-full p-8 bg-white lg:px-20 gap-12 lg:flex"
      >
        <div class="max-w-xl mx-auto text-center lg:text-left">
          <div>
            <Text tag="h2" variant="displayLG" class="font-medium text-black">
              Navigating the digital financial frontier
            </Text>
            <Text tag="p" variant="textLG" class="mt-4 text-black">
              Access a diverse range of cryptocurrencies in one unified
              platform, enabling you to explore and manage various digital
              assets effortlessly.
            </Text>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center block w-full h-full aspect-square lg:mt-0 bg-pink"
      >
        <Image
          class="size-24 lg:size-82"
          width={800}
          height={800}
          decoding="async"
          src={Blob3}
          alt="#_"
        />
      </div>
    </div>
  </Wrapper>
</section>
