<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0 border-b-2 border-black 2xl:border-x-2 bg-red-500"
  >
    <div
      class="relative p-8 lg:px20 2xl:px-0 items-center text-center justify-center max-w-3xl mx-auto"
    >
      <h2 class="text-3xl lg:text-5xl tracking-tight font-medium">
        Your window into <span class="md:block">the crypto world</span>
      </h2>
      <p class="max-w-md mt-4 xl:text-xl text-lg mx-auto">
        Exploring the boundless horizons of digital currency
      </p>
    </div>
  </div>
  <div
    class="grid grid-cols-1 lg:p-20 p-8 md:grid-cols-2 2xl:max-w-7xl border-b-2 mx-auto 2xl:border-x-2 border-black text-black xl:grid-cols-3 gap-4"
  >
    <div class="border-2 border-black shadow-large p-8 rounded-3xl bg-lila-500">
      <img class="w-20 h-20" src="/images/blob1.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">Decentralized Exchanges</h2>
      <p class="text-lg tracking-wide mt-4">
        Embrace peer-to-peer trading without intermediaries. Trade directly with
        other users on our platform, enjoying the benefits of decentralization.
      </p>
    </div>
    <div
      class="border-2 border-black shadow-large p-8 rounded-3xl bg-green-500"
    >
      <img class="w-20 h-20" src="/images/blob2.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">Staking Rewards</h2>
      <p class="text-lg tracking-wide mt-4">
        Put your crypto assets to work and earn passive income through staking,
        a feature that allows you to participate in network validation and reap
        rewards.
      </p>
    </div>
    <div
      class="border-2 border-black shadow-large p-8 rounded-3xl bg-yellow-500"
    >
      <img class="w-20 h-20" src="/images/blob3.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">NFT Marketplace</h2>
      <p class="text-lg tracking-wide mt-4">
        Immerse yourself in the world of non-fungible tokens (NFTs) with our
        marketplace. Buy, sell, and even create unique digital collectibles.
      </p>
    </div>
    <div class="border-2 border-black shadow-large p-8 rounded-3xl bg-red-500">
      <img class="w-20 h-20" src="/images/blob4.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">Instant Transactions</h2>
      <p class="text-lg tracking-wide mt-4">
        Experience the convenience of near-instantaneous cryptocurrency
        transfers, allowing you to send and receive digital assets.
      </p>
    </div>
    <div class="border-2 border-black shadow-large p-8 rounded-3xl bg-lila-500">
      <img class="w-20 h-20" src="/images/blob5.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">Crypto Education</h2>
      <p class="text-lg tracking-wide mt-4">
        Access a wealth of educational resources to expand your knowledge of
        blockchain technology.
      </p>
    </div>
    <div
      class="border-2 border-black shadow-large p-8 rounded-3xl bg-green-500"
    >
      <img class="w-20 h-20" src="/images/blob6.svg" alt="" />
      <h2 class="text-xl font-medium mt-12">Mobile App</h2>
      <p class="text-lg tracking-wide mt-4">
        Seamlessly trade and manage your crypto assets on the go with our mobile
        application, offering all the features and convenience you expect.
      </p>
    </div>
  </div>
</section>
