<section
  aria-labelledby="feature-three"
  id="feature-three"
  class="relative flex items-center w-full border-2 border-t-0 border-black 2xl:max-w-7xl mx-auto">
  <div class="relative items-center w-full mx-auto">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <p
          class="text-5xl mt-3 tracking-tight lg:text-7xl text-black font-display">
          Analytics Dashboard
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          Track website traffic, user behavior, and conversion rates with our
          easy-to-use Dashboard
        </p>
      </div>
    </div>
  </div>
</section>

<section class="relative flex items-center w-full border-b-2 border-black">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl divide-y-2 divide-black 2xl:border-x-2 border-black">
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y divide-black md:divide-y-0 md:divide-x-2">
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:px-20 py-12 lg:py-32 items-center gap-12 h-full lg:inline-flex bg-yellow-500">
          <div class="max-w-xl text-center mx-auto">
            <p class="text-4xl text-black font-display">
              Explore ideas together
            </p>
          </div>
        </div>
        <div class="w-full aspect-square h-full">
          <img
            class="border-b-0 object-cover"
            src="/images/switches.png"
            alt="#"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:px-20 py-12 lg:py-32 items-center gap-12 h-full lg:inline-flex bg-lila-500">
          <div class="max-w-xl text-center mx-auto">
            <p class="text-4xl text-black font-display">
              Bring those ideas to life
            </p>
          </div>
        </div>
        <div class="w-full aspect-square lg:mt-0 bg-lila-500 h-full">
          <img
            class="border-b-0 object-cover"
            src="/images/checkboxes.png"
            alt="#"
          />
        </div>
      </div>
    </div>
  </div>
</section>
