<section
  class="border-b-2 border-black 2xl:max-w-7xl mx-auto 2xl:border-x-2"
>
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
    <section class="grid grid-cols-1 items-baseline gap-y-10 gap-6">
      <div class="max-w-xl mx-auto text-center">
        <div>
          <h2 class="text-5xl font-display text-black">Get flabbergastered</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Flabbergasted is a modern design kit with a neo-brutalist style.
            With this kit, you can quickly create landing pages or even entire
            websites by combining different page categories and customizing them
            to your liking.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-red-500">
          <h2 class="text-3xl tracking-tight text-black">Website Builder</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Build professional websites with ease using our drag-and-drop
            editor. No coding required
          </p>
        </div>
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-lila-500">
          <h2 class="text-3xl tracking-tight text-black">Code Editor</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Create and edit code with syntax highlighting, autocompletion, and
            collaboration tools
          </p>
        </div>
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-black">
          <h2 class="text-3xl tracking-tight text-lila-500">
            Analytics Dashboard
          </h2>
          <p class="xl:text-xl tracking-tight text-lila-500 mt-3">
            Track website traffic, user behavior, and conversion rates with our
            easy-to-use dashboard
          </p>
        </div>
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-yellow-500">
          <h2 class="text-3xl tracking-tight text-black">SEO Optimization</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Optimize your website for search engines and improve your visibility
            online.
          </p>
        </div>
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-white">
          <h2 class="text-3xl tracking-tight text-black">
            Hosting & Deployment .
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Host your website on our secure servers and deploy with one-click.
          </p>
        </div>
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-green-500">
          <h2 class="text-3xl tracking-tight text-black">
            Collaboration Tools
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Collaborate with your team members, clients, and stakeholders on
            projects with ease
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
