---
// Assets
import Collab from "@/images/assets/collab.svg";
import { Image } from "astro:assets";
// Fundations
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Text from "@/components/foundations/elements/Text.astro";
const features = [
  {
    title: "Secure Wallets",
    description:
      "Rest easy knowing your crypto assets are protected by state-of-the-art security measures and encryption, ensuring your safety",
  },
  {
    title: "Instant Transactions",
    description:
      "Experience the convenience of near-instantaneous cryptocurrency transfers, allowing you to send and receive digital assets in real-time, eliminating delays.",
  },
  {
    title: "Multi-Currency Support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore and manage various digital assets effortlessly.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24 border-t-2 bg-yellow">
    <Text
      tag="h2"
      variant="displayXL"
      class="font-medium font-display text-center text-black"
    >
      デジファイナンスの未来を共に築く
    </Text>
    <Image
      width={800}
      height={800}
      loading="eager"
      decoding="async"
      src={Collab}
      class="object-cover object-top w-full mt-12 bg-white border-2 border-black lg:rounded-full h-96"
      alt="#_"
    />
    <div
      class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12"
    >
      {
        features.map((feature) => (
          <div>
            <Text tag="h3" variant="textXL" class="font-medium text-black">
              {feature.title}
            </Text>
            <Text
              tag="p"
              variant="textLG"
              class="mt-4 text-black  text-balance"
            >
              {feature.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
