---
// Define an array of items
const items = [
  {
    number: "1",
    title: "Secure Wallets",
    description:
      "Rest easy knowing your crypto assets are protected by state-of-the-art security measures and encryption, ensuring the safety of your digital wealth.",
  },
  {
    number: "2",
    title: "Instant Transactions",
    description:
      "Experience the convenience of near-instantaneous cryptocurrency transfers, allowing you to send and receive digital assets in real-time, eliminating delays.",
  },
  {
    number: "3",
    title: "Multi-Currency Support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore and manage various digital assets effortlessly.",
  },
  {
    number: "4",
    title: "Decentralized Exchanges",
    description:
      "Embrace peer-to-peer trading without intermediaries. Trade directly with other users on our platform, enjoying the benefits of decentralization.",
  },
  {
    number: "5",
    title: "Staking Rewards",
    description:
      "Put your crypto assets to work and earn passive income through staking, a feature that allows you to participate in network validation and reap rewards.",
  },
  {
    number: "6",
    title: "NFT Marketplace",
    description:
      "Immerse yourself in the world of non-fungible tokens (NFTs) with our marketplace. Buy, sell, and even create unique digital collectibles.",
  },
  {
    number: "7",
    title: "User-Friendly Interface",
    description:
      "Our platform boasts an intuitive and user-friendly design, ensuring a seamless and pleasant experience for both novice and experienced users.",
  },
  {
    number: "8",
    title: "Crypto Education",
    description:
      "Access a wealth of educational resources to expand your knowledge of blockchain technology and cryptocurrencies, empowering you to make informed decisions.",
  },
  {
    number: "9",
    title: "Real-time Market Data",
    description:
      "Stay informed and make well-informed trading decisions with access to live cryptocurrency prices, charts, and trends, available 24/7.",
  },
  {
    number: "10",
    title: "24/7 Customer Support",
    description:
      "Count on our dedicated customer support team to assist you round the clock, addressing your queries and concerns promptly and effectively.",
  },
  {
    number: "11",
    title: "Mobile App",
    description:
      "Seamlessly trade and manage your crypto assets on the go with our mobile application, offering all the features and convenience you expect.",
  },
  {
    number: "12",
    title: "Community Forum",
    description:
      "Connect with like-minded crypto enthusiasts, share insights, and participate in discussions within our community forum, fostering knowledge sharing and collaboration.",
  },
];
---

<section>
  <div
    class="mx-auto 2xl:max-w-7xl lg:flex 2xl:border-x-2 border-black border-b-2">
    <div class="lg:w-1/2 p-8 lg:px-20 bg-green-500">
      <div class="lg:sticker lg:sticky py-16 top-20">
        <div>
          <img
            class="size-8 lg:w-20 lg:h-20 shadow-small shadow-black rounded-full"
            src="/images/blob2.svg"
            alt="your alt-text"
          />

          <h2
            class="text-3xl mt-12 xl:text-6xl tracking-tight font-medium text-black">
            Unleash the potential <span class="md:block">of digital assets</span
            >
          </h2>
          <p class="max-w-md mt-4 tracking-wide xl:text-xl text-lg text-black">
            Count on our dedicated customer support team to assist you round the
            clock, addressing your queries and concerns promptly and
            effectively.
            <br />
            <br />
            Seamlessly trade and manage your crypto assets on the go with our mobile
            application, offering all the features and convenience you expect.
          </p>
          <div class="flex-col flex gap-3 mt-10 sm:flex-row">
            <a
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
              href="/"
              >Explore all pages
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 bg-green-500 lg:border-l-2 border-black">
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-0.5 bg-black list-none"
        role="list">
        {
          items.map((item) => (
            <li class="bg-white p-8 lg:p-12">
              <div>
                <div class="flex h-10 w-10 items-center justify-center border-2 border-black shadow-tiny duration-300 shadow-black rounded-full bg-green-500 font-semibold">
                  {item.number}
                </div>
                <p class="text-xl mt-8 text-black font-medium">{item.title}</p>
              </div>
              <div class="max-w-xl mt-4 text-base tracking-wide text-black">
                {item.description}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
