<section aria-labelledby="feature-eight" id="feature-eight">
  <div
    class="mx-auto 2xl:max-w-7xl lg:flex 2xl:border-x-2 border-black border-b-2">
    <div class="lg:w-1/2 p-8 lg:p-20 bg-white">
      <div class="lg:sticker lg:sticky pb-16 pt-12 lg:pt-32 top-0">
        <div>
          <div>
            <h2 class="inline-flex items-center text-black">
              <span class="text-base font-medium tracking-tight">Feature</span>
              <span class="ml-3 h-3.5 w-px bg-lila-500"></span>
              <span class="text-sm ml-3" aria-hidden="true">08</span>
            </h2>
            <p class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">
              Getting <span class="lg:block"> jiggy with it</span>
            </p>
            <p class="mt-4 mx-auto tracking-tight text-black text-3xl max-w-xl">
              We want you to live a get out from the fake till you make it, and
              start to make it so you make.
            </p>
            <div class="flex-col flex gap-3 mt-10 sm:flex-row">
              <a
                class="text-black items-center shadow-[5px_5px_black] inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-black lg:w-auto py-3 rounded-xl w-full"
                href="/overview"
                >Explore all pages <span class="ml-3">&rarr;</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 p-8 lg:p-20 bg-lila-500">
      <div class="flex-shrink-0">
        <div>
          <ul
            class="grid grid-cols-1 lg:gap-24 gap-12 list-none mt-24"
            role="list">
            <li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div>
              <div class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Prebuilt integrations
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Join Lexington engineers and designers for a technical look at
                Lexington Apps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                To achieve global net zero emissions by 2050, we need not only
                to blackemissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about Lexington Climate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailoblackcustomers’ specific
                needs. Hear from a range of businesses on how they're using BaaS
                in radically different ways.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Prebuilt integrations
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Join Lexington engineers and designers for a technical look at
                Lexington Apps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                To achieve global net zero emissions by 2050, we need not only
                to blackemissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about Lexington Climate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li><li>
              <div>
                <p class="text-3xl tracking-tight text-black">
                  Tools for every stack
                </p>
              </div><div
                class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailoblackcustomers’ specific
                needs. Hear from a range of businesses on how they're using BaaS
                in radically different ways.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
