<section
  aria-labelledby="feature-five"
  id="feature-five"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-white">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-black">
          <span class="text-base font-medium tracking-tight">Feature</span>
          <span class="ml-3 h-3.5 w-px bg-black"></span>
          <span class="text-sm ml-3" aria-hidden="true">07</span>
        </h2>
        <p class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">
          Getting <span class="lg:block"> jiggy with it</span>
        </p>
        <p class="mt-4 mx-auto tracking-tight text-black text-3xl max-w-xl">
          We want you to live a get out from the fake till you make it, and
          start to make it so you make.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  class="relative flex items-center w-full border-b-2 border-black bg-black"
  aria-labelledby="feature-five"
  id="feature-five"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="grid grid-cols-1 lg:grid-cols-3 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-black"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p
              class="text-xl tracking-tight text-cyan-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>

              Breathtakingly fast
            </p>
            <p class="tracking-tight text-white">
              Built for speed with 50ms interactions and real-time sync.
            </p>
          </div><div>
            <p
              class="text-xl tracking-tight text-cyan-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>

              Built for your keyboard
            </p>
            <p class="tracking-tight text-white">
              Fly through your tasks with rapid-fire keyboard shortcuts for
              everything. Literally everything.
            </p>
          </div><div>
            <p
              class="text-xl tracking-tight text-cyan-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>

              Meet your command line
            </p>
            <p class="tracking-tight text-white">
              Complete any action in seconds with the global command menu.
            </p>
          </div>
        </div>
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-yellow-500 h-full">
        <img alt="hero" src="./public/images/switches.png" />
      </div>

      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-white"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p
              class="text-xl tracking-tight text-orange-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              Designed for modern software
            </p>
            <p class="tracking-tight text-black">
              Comes with built-in workflows that create focus and routine.
            </p>
          </div><div>
            <p
              class="text-xl tracking-tight text-orange-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>In seconds
            </p>
            <p class="tracking-tight text-blac">
              Create tasks in seconds, discuss issues in context, and breeze
              through your work in views tailored to you and your team.
            </p>
          </div><div>
            <p
              class="text-xl tracking-tight text-orange-500 inline-flex gap-3 items-center"
            >
              <span
                ><svg
                  class="flex-shrink-0 w-5 h-5"
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0001 1.49991C15.0001 0.671533 14.3285 0 13.5002 0V0C12.6718 0 12.0002 0.671534 12.0002 1.49991V2.9005C12.0002 5.48455 8.87605 6.77867 7.04882 4.95151L5.85321 3.75596C5.27398 3.17675 4.33489 3.17676 3.75567 3.75598V3.75598C3.17645 4.3352 3.17644 5.2743 3.75564 5.85353L4.95104 7.04898C6.77802 8.87604 5.48402 11.9999 2.90022 11.9999H1.49991C0.671531 11.9999 0 12.6715 0 13.4998V13.4998C0 14.3282 0.671533 14.9998 1.49991 14.9998H2.89968C5.48298 14.9998 6.77673 18.1231 4.9501 19.9498L3.75061 21.1493C3.17107 21.7289 3.17108 22.6685 3.75063 23.2481V23.2481C4.3302 23.8277 5.26987 23.8277 5.84944 23.2481L7.04889 22.0486C8.87606 20.2215 12.0002 21.5155 12.0002 24.0996V25.5001C12.0002 26.3285 12.6718 27 13.5002 27V27C14.3285 27 15.0001 26.3285 15.0001 25.5001V24.0998C15.0001 21.5161 18.124 20.2221 19.951 22.0491L21.1514 23.2495C21.7307 23.8288 22.6699 23.8288 23.2492 23.2495V23.2495C23.8285 22.6702 23.8285 21.731 23.2492 21.1517L22.0486 19.9511C20.2215 18.1239 21.5155 14.9998 24.0996 14.9998H25.5001C26.3285 14.9998 27 14.3282 27 13.4998V13.4998C27 12.6715 26.3285 11.9999 25.5001 11.9999H24.0997C21.5157 11.9999 20.2217 8.87585 22.0488 7.04873L23.2434 5.85414C23.823 5.27457 23.823 4.33492 23.2434 3.75535V3.75535C22.6638 3.17579 21.7242 3.17579 21.1446 3.75536L19.95 4.94995C18.1234 6.7766 15.0001 5.48289 15.0001 2.89961V1.49991Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              Parent and sub-issues
            </p>
            <p class="tracking-tight text-black">
              Break larger tasks into smaller issues.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
