<section >
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-b-2 border-black 2xl:border-x-2">
    <div
      class="relative p-8 lg:p-20 2xl:px-0 items-center gap-12 h-full bg-white  "
    >
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl text-black">
          Issue tracking <span class="lg:block">you’ll enjoy using</span>
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          We want you to live a get out from the fake till you make it, and
          start to make it so you make it.
        </p>
      </div>
    </div>
  </div>

  <div class="relative items-center divide-y-2 divide-black w-full mx-auto 2xl:max-w-7xl 2xl:border-b-2 border-black 2xl:border-x-2">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-white"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p class="text-3xl tracking-tight text-black">
              Breathtakingly fast
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Built for speed with 50ms interactions and real-time sync.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-black">
              Built for your keyboard
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Fly through your tasks with rapid-fire keyboard shortcuts for
              everything. Literally everything.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-black">
              Meet your command line
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Complete any action in seconds with the global command menu.
            </p>
          </div>
        </div>
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-lila-500 h-full">
        <img class="object-cover" src="/images/thumbnail1.svg" alt="#" />
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div class="block w-full aspect-square lg:mt-0 bg-yellow-500 h-full">
        <img class="object-cover" src="/images/thumbnail3.svg" alt="#" />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-white"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p class="text-3xl tracking-tight text-black">
              Designed for modern software teams
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Comes with built-in workflows that create focus and routine.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-black">In seconds</p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Create tasks in seconds, discuss issues in context, and breeze
              through your work in views tailored to you and your team.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-black">
              Parent and sub-issues
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Break larger tasks into smaller issues.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
