<section
  class="bg-white border-b-2 border-black"
  aria-labelledby="feature-six"
  id="feature-six"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <section class="grid grid-cols-1 items-baseline gap-y-10 gap-6">
      <div class="max-w-xl mx-auto text-center">
        <div class="lg:col-span-2 lg:col-start-2">
          <h2 class="inline-flex items-center text-black">
            <span class="text-base font-medium tracking-tight">Feature</span>
            <span class="ml-3 h-3.5 w-px bg-black"></span>
            <span class="text-sm ml-3" aria-hidden="true">06</span>
          </h2>
          <h2 class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">
            Gettin' Flabbergaster
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Flabbergasted is a neo brutalist UI Kit that allows you to put
            togheter pages from different categories and customize them to your
            needs to create a landing page or a whole website in hours, not
            months.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-12"
      >
        <div
          class="shadow-large p-4 lg:p-8 border-2 border-black bg-orange-500"
        >
          <h2 class="text-3xl tracking-tight text-black">
            Built with Astro.js.
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Astro is an all-in-one web framework for building fast,
            content-focused websites.
          </p>
        </div>
        <div class="shadow-large p-4 lg:p-8 border-2 border-black bg-cyan-500">
          <h2 class="text-3xl tracking-tight text-black">
            Styled with Tailwind CSS.
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Tailwind CSS works by scanning all of your HTML files, JavaScript
            components, and any other templates for class names, generating the
            corresponding styles and then writing them to a static CSS file.
          </p>
        </div>
        <div class="shadow-large p-4 lg:p-8 border-2 border-black bg-black">
          <h2 class="text-3xl tracking-tight text-white">
            Relived with Alpine.js
          </h2>
          <p class="xl:text-xl tracking-tight text-white mt-3">
            Alpine is a rugged, minimal tool for composing behavior directly in
            your markup. Think of it like jQuery for the modern web. Plop in a
            script tag and get going.
          </p>
        </div>
        <div
          class="shadow-large p-4 lg:p-8 border-2 border-black bg-yellow-500"
        >
          <h2 class="text-3xl tracking-tight text-black">
            Keyboard accessible.
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Everything I build is keyboard accessible, and I meticulously write
            the markup to deliver the best screenreader experience I can
            provide.
          </p>
        </div>
        <div class="shadow-large p-4 lg:p-8 border-2 border-black bg-white">
          <h2 class="text-3xl tracking-tight text-black">Production-ready .</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            I tested the template in the latest versions of all browsers to
            handle lots of edge-cases you might encounter.
          </p>
        </div>
        <div class="shadow-large p-4 lg:p-8 border-2 border-black bg-green-500">
          <h2 class="text-3xl tracking-tight text-black">Simple deploys</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            The template is production-ready and easily deployed anywhere that
            you can deploy a static wbsites, like Vercel, Netlify, GitHub pages,
            a bounch of options..
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
