<section
  aria-labelledby="feature-three"
  id="feature-three"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-black">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">Feature</span>
          <span class="ml-3 h-3.5 w-px bg-white"></span>
          <span class="font-mono text-sm ml-3" aria-hidden="true">03</span>
        </h2>
        <p
          class="text-5xl mt-3 tracking-tight lg:text-7xl text-white font-mono"
        >
          Issue tracking <span class="lg:block">you’ll enjoy using</span>
        </p>
        <p
          class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-cyan-500"
        >
          We want you to live a get out from the fake till you make it, and
          start to make it so you make it.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="relative flex items-center w-full border-b-2 border-black">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl divide-y-2 divide-black"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y divide-black md:divide-y-0 md:divide-x-2"
    >
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:px-20 py-12 lg:py-32 items-center gap-12 h-full lg:inline-flex bg-yellow-500"
        >
          <div class="max-w-xl text-center mx-auto">
            <p class="text-5xl tracking-tight text-black font-mono">
              Explore ideas together
            </p>
          </div>
        </div>
        <div class="w-full aspect-square bg-black h-full">
          <img alt="hero" src="./images/switches.svg" />
        </div>
      </div>
      <div class="grid grid-cols-1 divide-y-2 divide-black">
        <div
          class="relative p-8 lg:px-20 py-12 lg:py-32 items-center gap-12 h-full lg:inline-flex bg-cyan-500"
        >
          <div class="max-w-xl text-center mx-auto">
            <p class="text-5xl tracking-tight text-black font-mono">
              Bring those ideas to life
            </p>
          </div>
        </div>
        <div class="w-full aspect-square lg:mt-0 bg-white h-full">
          <img alt="hero" src="./images/checkboxes.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
