---
// Assets
import { Image } from "astro:assets";
import Blob1 from "@/images/blobs/blob1.svg";
import Blob2 from "@/images/blobs/blob2.svg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    title: "Multi-currency support",
    description:
      "Access a diverse range of cryptocurrencies in one unified platform, enabling you to explore and manage various digital assets.",
    image: Blob1,
    bgColor: "bg-accent-200",
  },
  {
    title: "Decentralized exchanges",
    description:
      "Embrace peer-to-peer trading without intermediaries. Trade directly with other users on our platform and enjoying the benefits.",
    image: Blob2,
    bgColor: "bg-green",
  },
];
---

<section>
  <Wrapper
    variant="standardPaddingless"
    class="border-t-2 divide-y-2 divide-black"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 divide-y divide-black md:divide-y-0 md:divide-x-2"
    >
      {
        features.map((feature) => (
          <div class="grid grid-cols-1 divide-y-2 divide-black">
            <div class="relative items-center h-full p-8 py-12 bg-white lg:px-20 gap-12 lg:inline-flex">
              <div class="max-w-xl mx-auto text-center">
                <Text
                  tag="h3"
                  variant="displayMD"
                  class="font-medium text-black"
                >
                  {feature.title}
                </Text>
                <Text
                  tag="p"
                  variant="textLG"
                  class="mt-4 font-normal text-black  text-balance"
                >
                  {feature.description}
                </Text>
              </div>
            </div>
            <div
              class={`block w-full aspect-square lg:mt-0 ${feature.bgColor} h-full flex flex-col justify-center items-center`}
            >
              <Image
                class="size-24 lg:size-82"
                width={800}
                height={800}
                loading="eager"
                decoding="async"
                src={feature.image}
                alt="#_"
              />
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
