<section
  aria-labelledby="feature-five"
  id="feature-five"
  class="relative flex items-center w-full border-b-2 border-black"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-white">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="inline-flex items-center text-black">
          <span class="text-base font-medium tracking-tight">Feature</span>
          <span class="ml-3 h-3.5 w-px bg-black"></span>
          <span class="text-sm ml-3" aria-hidden="true">05</span>
        </h2>
        <p class="text-5xl mt-3 tracking-tight lg:text-7xl text-black">
          Issue tracking <span class="lg:block">you’ll enjoy using</span>
        </p>
        <p class="max-w-xl mt-4 xl:text-2xl mx-auto tracking-tight text-black">
          We want you to live a get out from the fake till you make it, and
          start to make it so you make it.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  class="relative flex items-center w-full border-b-2 border-black bg-black"
  aria-labelledby="feature-five"
  id="feature-five"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2"
    >
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-black"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p class="text-3xl tracking-tight text-yellow-500">
              Breathtakingly fast
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Built for speed with 50ms interactions and real-time sync.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-yellow-500">
              Built for your keyboard
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Fly through your tasks with rapid-fire keyboard shortcuts for
              everything. Literally everything.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-yellow-500">
              Meet your command line
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Complete any action in seconds with the global command menu.
            </p>
          </div>
        </div>
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-yellow-500 h-full">
        <img alt="hero" src="./public/images/switches.png" />
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-cyan-500 h-full">
        <img alt="hero" src="./public/images/balls.png" />
      </div>
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-black"
      >
        <div
          class="max-w-xl text-left md:text-center lg:text-left mx-auto space-y-12"
        >
          <div>
            <p class="text-3xl tracking-tight text-cyan-500">
              Designed for modern software teams
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Comes with built-in workflows that create focus and routine.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-cyan-500">In seconds</p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Create tasks in seconds, discuss issues in context, and breeze
              through your work in views tailored to you and your team.
            </p>
          </div><div>
            <p class="text-3xl tracking-tight text-cyan-500">
              Parent and sub-issues
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-white">
              Break larger tasks into smaller issues.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
