<section class="relative flex items-center w-full border-b-2 border-black">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div
        class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-cyan-500"
      >
        <div class="max-w-xl text-left">
          <div>
            <p class="max-w-xl mt-4 xl:text-5xl tracking-tight text-black">
              "With Flabbergasted, everyone works towards a shared goal. This
              has enabled our product teams to ship new products faster and feel
              more confident in their decisions. "
            </p>
            <p class="max-w-xl mt-4 xl:text-2xl tracking-tight text-black">
              Matt Lenoir Head of Design Ops at FRII-ends
            </p>
          </div>
        </div>
      </div>
      <div class="block w-full aspect-square lg:mt-0 bg-cyan-500 h-full">
        <img
          class="h-full object-cover border-black"
          alt="hero"
          src="./public/images/testimonial.png"
        />
      </div>
    </div>
  </div>
</section>
