---
// Assets
import { Image } from "astro:assets";
import Testimonial from "@/images/assets/testimonial.png";

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24 border-t-2 bg-green">
    <div class="max-w-3xl mx-auto text-center">
      <Text
        tag="h3"
        variant="displayMD"
        class="font-medium tracking-tight text-black"
      >
        "I've been using Ella Mae for over a year now, and it has truly
        been a game-changer in my crypto journey. The platform's interface
        helped me understand the complex world of digital finance. "
      </Text>
      <Text tag="p" variant="textSM" class="mt-4 tracking-tight text-black">
        Matt Lenoir Head of Design Ops at FRII-ends
      </Text>
    </div>

    <Image
      width={800}
      height={800}
      alt="testimonial"
      src={Testimonial}
      class="object-cover object-top mx-auto mt-12 border-4 border-black rounded-full shadow-lg size-24 lg:size-72"
    />
  </Wrapper>
</section>
