<section class="bg-white">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <section class="grid grid-cols-1 items-baseline gap-y-10 gap-6">
      <div class="max-w-xl mx-auto text-center">
        <div class="lg:col-span-2 lg:col-start-2">
          <h2 class="text-3xl lg:text-5xl tracking-tight text-black">
            Latest news and resources
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Flabbergasted is a neo brutalist UI Kit that allows you to put
            togheter pages from different categories and customize them to your
            needs to create a landing page or a whole website in hours, not
            months.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 lg:gap-12 mt-12"
      >
        <div
          class="flex flex-col overflow-hidden shadow-large border-2 divide-y-2 divide-black border-black hover:shadow-none duration-200"
        >
          <div class="flex-shrink-0 bg-orange-500">
            <img
              class="w-full h-64 object-cover"
              src="./images/switches.png"
              alt=""
            />
          </div>
          <div class="flex flex-1 flex-col justify-between bg-white p-6">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600"></p><div
                class="flex space-x-1 text-sm text-gray-500"
              >
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <span aria-hidden="true">&middot;</span>
                <span>6 min read</span>
              </div>

              <a href="/blog-post" class="mt-2 block">
                <p class="text-xl lg:text-3xl text-black">
                  Behind Flabbergasted New Design System
                </p>
                <p class="mt-3 text-xl text-black">
                  The story of our site-wide redesign and web tech and
                  accessibility wins.
                </p>
              </a>
            </div>
            <div class="mt-6">
              <a class="text-xl text-black hover:text-orange-500" href="#">
                Read more <span class="ml-3">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden shadow-large border-2 divide-y-2 divide-black border-black hover:shadow-none duration-200"
        >
          <div class="flex-shrink-0 bg-green-500">
            <img
              class="w-full h-64 object-cover"
              src="./images/checkboxes.png"
              alt=""
            />
          </div>
          <div class="flex flex-1 flex-col justify-between bg-white p-6">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600"></p><div
                class="flex space-x-1 text-sm text-gray-500"
              >
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <span aria-hidden="true">&middot;</span>
                <span>6 min read</span>
              </div>

              <a href="/blog-post" class="mt-2 block">
                <p class="text-xl lg:text-3xl text-black">
                  How to use Flabbergasted free email marketing to build an
                  audience & generate sales
                </p>
                <p class="mt-3 text-xl text-black">
                  Learn how creators can build an audience and generate more
                  sales using Gumroad's built-in, free email marketing tool.
                </p>
              </a>
            </div>
            <div class="mt-6">
              <a class="text-xl text-black hover:text-orange-500" href="#">
                Read more <span class="ml-3">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden shadow-large border-2 divide-y-2 divide-black border-black hover:shadow-none duration-200"
        >
          <div class="flex-shrink-0 bg-cyan-500">
            <img
              class="w-full h-64 object-cover"
              src="./images/buttons.png"
              alt=""
            />
          </div>
          <div class="flex flex-1 flex-col justify-between bg-white p-6">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600"></p><div
                class="flex space-x-1 text-sm text-gray-500"
              >
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <span aria-hidden="true">&middot;</span>
                <span>6 min read</span>
              </div>

              <a href="/blog-post" class="mt-2 block">
                <p class="text-xl lg:text-3xl text-black">
                  How to earn a side income selling digital products
                </p>
                <p class="mt-3 text-xl text-black">
                  A whole new world of potential revenue streams await you and
                  getting started is easier than you think. In fact, your
                  greatest monetary gains may be the easiest you’ve ever made.
                </p>
              </a>
            </div>
            <div class="mt-6">
              <a class="text-xl text-black hover:text-orange-500" href="#">
                Read more <span class="ml-3">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col overflow-hidden shadow-large border-2 divide-y-2 divide-black border-black hover:shadow-none duration-200"
        >
          <div class="flex-shrink-0 bg-yellow-500">
            <img
              class="w-full h-64 object-cover"
              src="./images/balls.png"
              alt=""
            />
          </div>
          <div class="flex flex-1 flex-col justify-between bg-white p-6">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600"></p><div
                class="flex space-x-1 text-sm text-gray-500"
              >
                <time datetime="2020-03-16">Mar 16, 2020</time>
                <span aria-hidden="true">&middot;</span>
                <span>6 min read</span>
              </div>

              <a href="/blog-post" class="mt-2 block">
                <p class="text-xl lg:text-3xl text-black">
                  53 free Procreate brushes you can download on Flabbergasted
                </p>
                <p class="mt-3 text-xl text-black">
                  Download 53 Procreate Brushes from top Flabbergasted creators
                  and take your illustration art to the next level!
                </p>
              </a>
            </div>
            <div class="mt-6">
              <a class="text-xl text-black hover:text-orange-500" href="#">
                Read more <span class="ml-3">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
