<section
  class="mx-auto 2xl:max-w-7xl bg-top bg-contain bg-no-repeat bg-green-500 h-[65vh] border-b-2 border-black"
  style="background-image:url(./images/checkboxes.png)"
>
</section>
<section>
  <main class="py-[5.75rem]">
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div
        class="mx-auto max-w-[48rem] prose-2xl prose prose-h3:lg:text-6xl text-black prose-h3:text-black prose-a:font-semibold prose-a:text-orange-500 hover:prose-a:text-black"
      >
        <h3>How we built Project Updates</h3>
        <p>
          Last week we introduced a new concept to Linear called Project
          Updates. Project Updates are short status reports that keep everyone
          in your company informed about the progress and health of your
          projects.
        </p>
        <p>
          “Projects” was one of the core themes of our 2022 roadmap planning
          session and we spent a lot of time discussing what features we should
          work on to meaningfully improve this part of the Linear experience.
        </p>
        <p>
          Project Updates wasn’t part of our initial list of things to build. It
          slowly emerged as a problem space that we should tackle as we were
          building other things.
        </p>
        <p>Here’s what happened.</p>
        <p>
          As we started working on our 2022 initiatives, we realized that some
          of our coordination and reporting processes needed upgrading. Linear
          is still a fairly small company, but even with just 22 employees it
          felt like we needed a more formal process to keep everyone up-to-date
          on the progress of all the projects that people were working on.
        </p>
        <p>Our first solution was a setup of different Slack channels:</p>
        <ul>
          <li>Each project received a dedicated Slack channel</li>
          <li>
            Once a week, the project owner would write a short progress update
            and post it in the respective Slack channel
          </li>
          <li>
            Every update would then be cross-posted to a global #project-updates
            channel so that everyone outside the project was also notified of
            the update
          </li>
        </ul>
        <p>It worked. But not well.</p>
        <img
          class="aspect-video border-2 border-black shadow"
          src="./images/switches.png"
          alt=""
        />
        <p>So we asked other companies how they managed project updates.</p>
        <p>
          The exact process differs from company to company, but the first step
          typically involves a tool to collect updates. Sometimes that tool is a
          spreadsheet, sometimes it’s a slide deck, sometimes it’s a Notion doc.
          But in every case the process is manual and requires switching between
          several different applications.
        </p>
        <p>
          In a second step, a dedicated person has to collect and format all the
          updates that have been submitted, and finally send them via email to
          all relevant stakeholders in the company.
        </p>
      </div>
      <div class="mt-12 border-t-2 border-black pt-3 mx-auto max-w-[48rem]">
        <div class="items-center inline-flex gap-3">
          <p>Share:</p>
          <span
            ><svg
              class="text-black w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              ><path d="M0 0h24v24H0z" fill="none" stroke="none"></path><circle
                cx="6"
                cy="12"
                r="3"></circle><circle cx="18" cy="6" r="3"></circle><circle
                cx="18"
                cy="18"
                r="3"></circle><line x1="8.7" x2="15.3" y1="10.7" y2="7.3"
              ></line><line x1="8.7" x2="15.3" y1="13.3" y2="16.7"></line>
            </svg>
          </span><span
            ><svg
              class="text-black w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              ><path d="M0 0h24v24H0z" fill="none" stroke="none"></path><path
                d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"
              ></path>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </main>
</section>
