---
const {
  variant,
  size,
  onlyIconSize,
  iconOnly = false,
  gap,
  isLink = false,
  class: className,
  ...rest
} = Astro.props;
const defaultClass = [
  "text-base-900",
  "bg-white",
  "hover:bg-base-200",
  "focus:outline-base-200",
];
const accentClass = [
  "text-white",
  "bg-accent-600",
  "hover:bg-accent-700",
  "focus:outline-accent-700",
];
const mutedClass = [
  "text-white",
  "bg-base-800",
  "hover:bg-base-700",
  "focus:outline-base-700",
];
const alternativeClass = [
  "text-black",
  "bg-meshLightBlue",
  "hover:bg-trans",
  "focus:outline-white",
];
// Size
const sizes = {
  xxs: ["h-7.5", "px-5", "py-2", "text-xs"],
  xs: ["h-9", "px-6", "py-3", "text-xs"],
  sm: ["h-10", "px-6", "py-3", "text-sm"],
  base: ["h-11", "px-8", "py-4", "text-base"],
  md: ["h-12", "px-8", "py-4", "text-md"],
  lg: ["h-13", "px-8", "py-4", "text-lg"],
  xl: ["h-14", "px-8", "py-4", "text-lg"],
};
// Icon size
const iconSizes = {
  xxs: ["size-7.5", "py-2", "text-xs"],
  xs: ["size-9", "text-xs"],
  sm: ["size-10", "text-sm"],
  base: ["size-11", "text-base"],
  md: ["size-12", "text-md"],
  lg: ["size-13", "text-lg"],
  xl: ["size-14", "text-base"],
};
// Gaps
const gapMap = {
  xs: ["gap-2"],
  sm: ["gap-4"],
  base: ["gap-8"],
  md: ["gap-10"],
  lg: ["gap-12"],
};
const variantClass = {
  default: defaultClass,
  accent: accentClass,
  muted: mutedClass,
  alternative: alternativeClass,
  none: [],
};
const sizeClass = iconOnly ? iconSizes[size] : sizes[size] || [];
const gapClass = !iconOnly && gap ? gapMap[gap] : [];
const additionalClasses = className ? className.split(" ") : [];
const baseClass = [
  "flex",
  "justify-center",
  "text-center",
  "font-medium",
  "items-center",
  " rounded-full",
  "transition-colors",
  "ease-in-out",
  "duration-500",
  "focus:outline",
  "focus:outline-2 outline-inset",
];
---

{
  isLink ? (
    <a
      href={rest.href}
      class:list={[
        ...baseClass,
        ...(variantClass[variant] || []),
        ...sizeClass,
        ...gapClass,
        ...additionalClasses,
      ]}
      {...rest}
    >
      {iconOnly ? (
        <slot name="icon" />
      ) : (
        <>
          <slot name="left-icon" />
          <slot />
          <slot name="right-icon" />
        </>
      )}
    </a>
  ) : (
    <button
      class:list={[
        ...baseClass,
        ...(variantClass[variant] || []),
        ...sizeClass,
        ...gapClass,
        ...additionalClasses,
      ]}
      {...rest}
    >
      {iconOnly ? (
        <slot name="icon" />
      ) : (
        <>
          <slot name="left-icon" />
          <slot />
          <slot name="right-icon" />
        </>
      )}
    </button>
  )
}
