---
const { class: className, ...rest } = Astro.props;
---

<div
  {...rest}
  aria-hidden="true"
  class={`absolute hidden  size-5 lg:flex items-center justify-center pointer-events-none ${className}`}
>
  <div class="absolute w-full h-[0.1px] bg-white"></div>
  <div class="absolute h-full w-[0.1px] bg-white"></div>
</div>
