---
const { class: className, ...rest } = Astro.props;
---

<svg
  class={className}
  {...rest}
  viewBox="0 0 124 118"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_41_746)">
    <ellipse
      cx="22.9446"
      cy="32.8521"
      rx="22.9446"
      ry="32.8521"
      transform="matrix(0.687621 -0.726069 -0.726069 -0.687621 39.7057 98.4983)"
      fill="currentColor"
      fill-opacity="0.37"></ellipse>
    <ellipse
      cx="91.5161"
      cy="59.2491"
      rx="22.9446"
      ry="32.8521"
      transform="rotate(-133.442 91.5161 59.2491)"
      fill="currentColor"
      fill-opacity="0.37"></ellipse>
    <foreignObject x="13.5172" y="17.8129" width="57.4072" height="83.9204"
      ><div
        xmlns="http://www.w3.org/1999/xhtml"
        style="backdrop-filter:blur(5.07px);clip-path:url(#bgblur_1_41_746_clip_path);height:100%;width:100%"
      >
      </div></foreignObject
    ><ellipse
      opacity="0.7"
      data-figma-bg-blur-radius="10.1452"
      cx="16.7843"
      cy="32.7796"
      rx="16.7843"
      ry="32.7796"
      transform="matrix(-0.959719 0.280963 0.280963 0.959719 49.1191 23.5981)"
      fill="currentColor"></ellipse>
    <foreignObject x="52.1676" y="18.2037" width="57.4072" height="83.9204"
      ><div
        xmlns="http://www.w3.org/1999/xhtml"
        style="backdrop-filter:blur(5.07px);clip-path:url(#bgblur_2_41_746_clip_path);height:100%;width:100%"
      >
      </div></foreignObject
    ><ellipse
      opacity="0.7"
      data-figma-bg-blur-radius="10.1452"
      cx="80.8712"
      cy="60.1639"
      rx="16.7843"
      ry="32.7796"
      transform="rotate(16.3177 80.8712 60.1639)"
      fill="currentColor"></ellipse>
  </g>
  <defs>
    <clipPath
      id="bgblur_1_41_746_clip_path"
      transform="translate(-13.5172 -17.8129)"
      ><ellipse
        cx="16.7843"
        cy="32.7796"
        rx="16.7843"
        ry="32.7796"
        transform="matrix(-0.959719 0.280963 0.280963 0.959719 49.1191 23.5981)"
      ></ellipse>
    </clipPath><clipPath
      id="bgblur_2_41_746_clip_path"
      transform="translate(-52.1676 -18.2037)"
      ><ellipse
        cx="80.8712"
        cy="60.1639"
        rx="16.7843"
        ry="32.7796"
        transform="rotate(16.3177 80.8712 60.1639)"></ellipse>
    </clipPath><clipPath id="clip0_41_746">
      <rect width="123.93" height="117.997" fill="currentColor"></rect>
    </clipPath>
  </defs>
</svg>
