---
// Assets
import Cross from "@/components/assets/Cross.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry2 from "@/components/blog/BlogEntry2.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <section>
    <Wrapper variant="standard" class="relative pt-32 pb-12">
      <!-- Top Right Plus -->
      <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
      <!-- Top left Plus -->
      <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />
      <div class="max-w-xl text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="tracking-tight text-white font-display"
        >
          All posts tagged about {tag}
        </Text>
      </div>
    </Wrapper>
    <div class="mt-8 flex flex-col">
      {posts.map((post) => <BlogEntry2 post={post} />)}
    </div>
  </section>
</BaseLayout>
