---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="p-8 lg:p-20 lg:py-32 items-center 2xl:max-w-7xl mx-auto gap-12 h-full bg-yellow-500 border-b-2 2xl:border-x-2 border-black">
      <div class="text-center max-w-4xl mx-auto">
        <img
          class="invert mx-auto"
          src="/brands/1.svg"
          alt="your alt-text"
        />
        <p class="text-5xl mt-12 lg:text-7xl text-black">
          {frontmatter.customer}
        </p>
       <div class="flex flex-wrap justify-center mt-12 gap-8">
          {
            Object.entries(frontmatter.details).map(([key, value]) => (
              <div>
                <p class="text-black font-medium text-lg block">{key}</p>
                <p class="text-black mt-2 tracking-wide">{value}</p>
              </div>
            ))
          }
       </div>
      </div>
    </div>
    <div class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20">
      <div class="max-w-3xl mx-auto">
        <div class="prose-styles">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
