---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
      <div
        class="p-8 lg:p-20 lg:py-32 items-center gap-12 h-full bg-lila-500 border-b-2 border-black">
        <div class="text-center max-w-4xl mx-auto">
          <p class="text-5xl lg:text-7xl text-black">{frontmatter.page}</p>
        </div>
      </div>
    </div>
    <div class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20">
      <div class="max-w-3xl mx-auto">
        <div class="prose-styles">
          <slot />
        </div>
        <div
          class="mt-12 border-2 border-black bg-white rounded-xl p-4 max-w-[48rem] mx-auto shadow-large">
          <div class="items-center inline-flex w-full">
            <p class="text-black font-semibold">Was this helpful?</p><p></p>

            <span class="inline-flex rounded-md isolate ml-auto"
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 px-4 py-2 text-sm font-semibold text-black duration-200 rounded-l-lg shadow bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >Yes</button
              ><button
                type="button"
                class="relative inline-flex items-center focus:translate-y-1 px-4 py-2 -ml-px text-sm font-semibold text-black shadow duration-200 rounded-r-lg bg-white hover:text-lila-800 ring-2 h-16 ring-inset ring-black focus:z-10 ease-in-out transform transition-all focus:ring-lila-700"
                >No</button
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
