---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="p-8 lg:p-20 lg:py-32 items-center 2xl:max-w-7xl mx-auto gap-12 h-full bg-lila-500 border-b-2 2xl:border-x-2 border-black">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-5xl lg:text-7xl text-black">{frontmatter.page}</p>
        <div class="flex flex-wrap justify-center gap-8 mt-12">
          {
            Object.entries(frontmatter.details).map(([key, value]) => (
              <div>
                <p class="text-lg  text-black">{key}</p>
                <p class="text-black text-sm">{value}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20">
      <div class="max-w-3xl mx-auto">
        <div class="prose-styles">
          <slot />
        </div>
        <form class="mt-12">
          <div
            class="border-2 border-black divide-y-2 divide-black shadow-large rounded-xl overflow-hidden">
            <div>
              <label
                for="name"
                class="sr-only"
                >First name</label
              >
              <input
                id="name"
                name="name"
                type="text"
                placeholder="Your name"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              />
            </div>
            <div>
              <label
                for="email"
                class="sr-only"
                >Email</label
              >
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="off"
                placeholder="email@example.com"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              />
            </div>
            <div>
              <label
                for="message"
                class="sr-only"
                >Cover letter</label
              >
              <textarea
                id="message"
                name="message"
                rows="4"
                placeholder="What are you working on?"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              ></textarea>
            </div>
            <div >
              <label
                for="cover-photo"
                class="sr-only"
                >Cover photo</label
              >
              <div class="flex justify-center  px-6 py-10">
                <div class="text-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-file-upload mx-auto size-10 text-black duration-300 group-hover:text-lila-800"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    ></path>
                    <path d="M12 11v6"></path>
                    <path d="M9.5 13.5l2.5 -2.5l2.5 2.5"></path>
                  </svg>
                  <div
                    class="mt-4 flex text-xs leading-6 items-center text-black">
                    <label
                      for="file-upload"
                      class="relative cursor-pointer text-black items-center shadow shadow-black text-xs font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-8 tracking-wide focus:translate-y-1 w-full hover:text-lila-800">
                      <span>Upload a file</span>
                      <input
                        id="file-upload"
                        name="file-upload"
                        type="file"
                        class="sr-only"
                      />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  <p class="text-xs mt-4 text-black">PNG, JPG, GIF up to 10MB</p>
                </div>
              </div>
            </div>
            <div>
              <label
                for="portfolio"
                class="sr-only"
                >Portfolio</label
              >
              <input
                id="portfolio"
                name="portfolio"
                type="text"
                autocomplete="off"
                placeholder="Your site"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              />
            </div>
            <div>
              <label
                for="linkedin"
                class="sr-only"
                >Linkedin</label
              >
              <input
                id="linkedin"
                name="linkedin"
                type="text"
                autocomplete="off"
                placeholder="your link"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              />
            </div>

            <div>
              <label
                for="country"
                class="sr-only"
                >What country are you based in?</label
              >
              <input
                id="country"
                name="country"
                type="text"
                autocomplete="off"
                placeholder="your country"
                class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
              />
            </div>
          </div>
          <div class="justify-center lg:justify-start mt-12">
            <button
              type="submit"
              class="text-black items-center w-full shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 hover:text-lila-800">
              Apply today
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</BaseLayout>
