<section aria-labelledby="demopages" id="demospages">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="p-8 lg:p-20">
      <div class="justify-center">
        <div>
          <p class="text-5xl tracking-tight lg:text-7xl text-black">
            Overview
          </p><p class="mt-4 xl:text-2xl tracking-tight text-black">
            Explore all pages and sections.
          </p>
        </div>
      </div>
      <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3">
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl"
            >
              Landing Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/landing-one"
              >Landing Page One
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/landing-two">Landing Page Two</a
            >
            <a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/landing-three">Landing Page Three</a
            ><p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl mt-12"
            >
              About
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/about-one"
              >About Page One
            </a>
          </div>
        </div><div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl"
            >
              Pricing Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/pricing"
              >Pricing Page
            </a>
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl mt-12"
            >
              Blog Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/blog">Blog </a
            >

            <a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="blog-post"
              >Blog Post
            </a>
          </div>
        </div><div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl"
            >
              Utility Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/changelog"
              >Changelog
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/terms"
              >Terms Of use
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/privacy"
              >Privacy Policy
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/coming-soon"
              >Coming Soon
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/404">404</a
            ><p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl mt-12"
            >
              All sections
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/all-features">All feature sections</a
            >
            <a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/all-pricing"
              >All pricing
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/all-cta">All Call to actions</a
            >
          </div>
        </div><div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl"
            >
              Forms Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/contact"
              >Contact
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/submit"
              >Submit
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/login"
              >Login
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/signup"
              >Sign up
            </a><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/forgot">Forgot Password</a
            >
          </div>
        </div><div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-orange-500 text-xl lg:text-2xl"
            >
              System Pages
            </p><a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="/styleguide">Style Guide</a
            >
            <a
              class="font-semibold hover:text-orange-500 text-lg lg:py-0 py-2 mt-2 text-black"
              href="https://supremeui.dev/license.html">License</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
