<section  class="bg-white">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="p-8 lg:p-20">
      <div class="justify-center">
        <div>
          <p class="text-5xl font-display lg:text-7xl text-black">Overview</p>
          <p class="mt-4 xl:text-2xl tracking-tight text-black">
            Explore all pages and sections.
          </p>
        </div>
      </div>
      <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3">
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3">
              Landing Pages
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/"
              >Landing One
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/index-two"
              >Landing Two
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/about"
              >About
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/team"
              >Team
            </a>
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mt-12 mb-3">
              Jobs
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/carriers"
              >Carriers
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/carrier-info"
              >Carriers Information
            </a>
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mt-12 mb-3">
              Customers
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/customers"
              >Customers
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/case-study"
              >Case study
            </a>
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3">
              Blog Pages
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/blog"
              >Blog layout 1
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/blog-two"
              >Blog layout 2
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/blog-three"
              >Blog layout 3
            </a>

            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/posts/1"
              >Blog Post
            </a>

            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/tags"
              >Tag index
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/tags/neomorphism"
              >Tag category
            </a>
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3 mt-12">
              Integrations
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/integrations"
              >Integrations
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/integrations-details"
              >Integrations details
            </a>
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3">
              Utility Pages
            </p><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/changelog"
              >Changelog
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/changelog-details"
              >Changelog details
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/dpa"
              >Data process agreement
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/cookies"
              >Cookies
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/terms"
              >Terms Of use
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/privacy"
              >Privacy Policy
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/coming-soon"
              >Coming Soon
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/404">404</a
            >
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mt-12 mb-3">
              E Commerce
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/store"
              >Store
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/product-info"
              >Product Information
            </a>
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3">
              Help Center
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/help-center">
              Help Center
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/help-category">
              Help category
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/help-article"
              >Help center Articles
            </a>
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mt-12 mb-3">
              Forms Pages
            </p>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/contact"
              >Contact
            </a>
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/contact-two"
              >Contact two
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/submit"
              >Submit
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/login"
              >Login
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/signup"
              >Sign up
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/forgot">Forgot Password</a
            >
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/download">Download</a
            >
          </div>
        </div>
        <div class="text-sm mt-10" aria-label="quick links">
          <div class="flex flex-col justify-start">
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mb-3">
              System Pages
            </p><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/styleguide">Style Guide</a
            >
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="https://lexingtonthemes.com/license.html">License</a
            >
            <p
              class="font-semibold font-display text-black text-xl lg:text-2xl mt-12 mb-3">
              All sections
            </p><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/all-features">All feature sections</a
            >
            <a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/all-pricing"
              >All pricing
            </a><a
              class="font-semibold hover:text-lila-900 text-lg lg:py-0 py-2 mt-2 text-black before:content-['✺__']"
              href="/all-cta">All Call to actions</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
