<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black"
  >
    <div class="p-8 lg:p-20 bg-yellow-500 lg:py-32 border-b-2 border-black">
      <p class="text-5xl lg:text-7xl text-black"> Overview</p>
      <p class="mt-4 xl:text-2xl tracking-wide text-black">
        Explore all pages and components
      </p>
    </div>
    <div
      class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 p-8 lg:p-20"
    >
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
            Components
          </p>

          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/overview"
            >Explore all components
          </a>
           <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/typography"
            >Typography
          </a>
           <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/colors"
            >colors
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mt-12 mb-3">
            All sections
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/all-features">All feature sections</a
          >
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/all-pricing"
            >All pricing
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/components/all-cta">All Call to actions</a
          >
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3 mt-12">
            Landing Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/landingpages/index-one"
            >Landing One
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/landingpages/index-two"
            >Landing Two
          </a>
        </div>
      </div>
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
            Blog Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/blog/blog"
            >Blog layout 1
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/blog/blog-two"
            >Blog layout 2
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/blog/blog-three"
            >Blog layout 3
          </a>

          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/posts/1"
            >Blog Post
          </a>

          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/tags"
            >Tag index
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/tags/Tailwind"
            >Tag category
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3 mt-12">
            Integrations
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/integrations/integrations"
            >Integrations
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/integrations/integrations-details"
            >Integrations details
          </a>
        </div>
      </div>
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
            Utility Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/changelog/changelog"
            >Changelog
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/changelog/changelog-details"
            >Changelog details
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3 mt-12">
            Utility Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/about"
            >About
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/team"
            >Team
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/dpa"
            >Data process agreement
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/cookies"
            >Cookies
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/terms"
            >Terms Of use
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/privacy"
            >Privacy Policy
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/infopages/coming-soon"
            >Coming Soon
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/404">404</a
          >
          <p class="font-semibold text-black text-xl lg:text-2xl mt-12 mb-3">
            E Commerce
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/store/store"
            >Store
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/store/product-info"
            >Product Information
          </a>
        </div>
      </div>
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
            Help Center
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/helpcenter/help-center"
          >
            Help Center
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/helpcenter/help-category"
          >
            Help category
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/helpcenter/help-article"
            >Help center Articles
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mt-12 mb-3">
            Forms Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/contact"
            >Contact
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/contact-two"
            >Contact two
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/login"
            >Login
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/signup"
            >Sign up
          </a><a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/forgot">Forgot Password</a
          >
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/forms/download">Download</a
          >
        </div>
      </div>
      <div class="text-sm mt-10">
        <div class="flex flex-col justify-start">
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3">Jobs</p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/carriers/carriers"
            >Carriers
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/carriers/carrier-info"
            >Carriers Information
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mt-12 mb-3">
            Customers
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/customers/customers"
            >Customers
          </a>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="/customers/case-study"
            >Case study
          </a>
          <p class="font-semibold text-black text-xl lg:text-2xl mb-3 mt-12">
            System Pages
          </p>
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="https://lexingtonthemes.com/license.html">License</a
          >
          <a
            class="font-meidum hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
            href="https://www.lexingtonthemes.com/documentation">Documentation</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
