---
const navData = [
  {
    category: "All pages",
    sections: [
      {
        title: "Components",
        links: [
          { name: "Explore all components", href: "/components/overview" },
          { name: "Typography", href: "/components/typography" },
          { name: "Colors", href: "/components/colors" },
        ],
      },
      {
        title: "Landing Pages",
        links: [
          { name: "Landing One", href: "/landingpages/index-one" },
          { name: "Landing Two", href: "/landingpages/index-two" },
          { name: "Download", href: "/forms/download" },
          { name: "404", href: "/404" },
        ],
      },
      {
        title: "All Sections",
        links: [
          { name: "All feature sections", href: "/components/all-features" },
          { name: "All pricing", href: "/components/all-pricing" },
        ],
      },
      {
        title: "Forms Pages",
        links: [
          { name: "Login", href: "/forms/login" },
          { name: "Sign Up", href: "/forms/signup" },
          { name: "Contact", href: "/forms/contact" },
          { name: "Contact Two", href: "/forms/contact-two" },
          { name: "Coming Soon", href: "/forms/coming-soon" },
          { name: "Forgot Password", href: "/forms/forgot" },
        ],
      },
      {
        title: "Resources",
        links: [
          {
            name: "License",
            href: "https://lexingtonthemes.com/legal/license.html",
          },
          {
            name: "Documentation",
            href: "https://www.lexingtonthemes.com/documentation/quick-start",
          },
        ],
      },
    ],
  },
  {
    category: "Content collections",
    sections: [
      {
        title: "Blog Pages",
        links: [
          { name: "Blog layout 1", href: "/blog/blog" },
          { name: "Blog layout 2", href: "/blog/blog-two" },
          { name: "Blog layout 3", href: "/blog/blog-three" },
          { name: "Blog Post", href: "/posts/1" },
          { name: "Tag index", href: "/tags" },
          { name: "Tag category", href: "/tags/Tailwind" },
        ],
      },
      {
        title: "Utility Pages",
        links: [
          { name: "About", href: "/infopages/about" },
          { name: "DPA", href: "/infopages/dpa" },
          { name: "Cookies", href: "/infopages/cookies" },
          { name: "Terms of Use", href: "/infopages/terms" },
          { name: "Privacy Policy", href: "/infopages/privacy" },
        ],
      },
      {
        title: "Changelog",
        links: [
          { name: "Home", href: "/changelog/home" },
          { name: "Details", href: "/changelog/1" },
        ],
      },
      {
        title: "Customers",
        links: [
          { name: "Home", href: "/customers/home" },
          { name: "Details", href: "/customers/1" },
        ],
      },
      {
        title: "Team",
        links: [
          { name: "Home ", href: "/team/home" },
          {
            name: "Details",
            href: "/team/1",
          },
        ],
      },
      {
        title: "Help Center",
        links: [
          { name: "Home", href: "/helpcenter/home" },
          { name: "Details", href: "/helpcenter/1" },
        ],
      },
      {
        title: "Jobs",
        links: [
          { name: "Home", href: "/jobs/home" },
          { name: "Details", href: "/jobs/1" },
        ],
      },
      {
        title: "Integrations",
        links: [
          { name: "Home", href: "/integrations/home" },
          {
            name: "Details",
            href: "/integrations/1",
          },
        ],
      },
      {
        title: "Store",
        links: [
          { name: "Home", href: "/store/home" },
          { name: "Details", href: "/store/1" },
        ],
      },
    ],
  },
];
---
<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
    <div class="p-8 lg:p-20 bg-yellow-500 border-b-2 border-black">
      <p class="text-5xl lg:text-7xl text-black">Overview</p>
    </div>
    <div class="gap-12 p-8 lg:px-20">
      {
        navData.map((category) => (
          <>
            <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
              {category.category}
            </p>
            <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 mt-10">
              {category.sections.map((section) => (
                <div class="text-sm">
                  <div class="flex flex-col justify-start">
                    <p class="font-semibold text-black text-xl lg:text-2xl mb-3">
                      {section.title}
                    </p>
                    {section.links.map((link) => (
                      <a
                        class="font-medium hover:text-lila-900 text-base lg:py-0 py-2 mt-2 text-black"
                        href={link.href}>
                        {link.name}
                      </a>
                    ))}
                  </div>
                </div>
              ))}
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
