<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20">
    <div>
      <div class="max-w-3xl">
        <p class="text-3xl font-medium font-display text-black lg:text-5xl">
          Style guide
        </p>
      </div>
      <div
        class="p-4 lg:p-10 bg-lila-500 mt-12 lg:mt-24 border-2 border-black text-xl text-black shadow rounded-xl">
        <strong>Typography</strong>: Source Sans Pro
      </div>

      <div class="py-3 space-y-6 mt-12">
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-black">Header 1</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-4xl tracking-tight text-black">Header 1</span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-black">Header 2</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-3xl tracking-tight text-black">Header 2</span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-black">Link</span></div>
          <div class="col-span-2 lg:col-span-3">
            <a class="text-3xl text-black hover:text-lila-500" href="#">
              Explore features
            </a>
          </div>
        </div>

        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-black">Paragraph</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="xl:text-xl tracking-tight text-black mt-3"
              >I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that I neglect my talents.
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-black">Caption</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-xs text-black">Picture about somethign</span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div>
            <span class="text-black">List</span>
          </div>
          <div class="col-span-2 lg:col-span-3">
            <ul
              class="list-decimal list-inside space-y-3 xl:text-xl tracking-tight text-black mt-3"
              role="list">
              <li>Next.js and/or Nuxt.js</li>
              <li>CReact Native .</li>
              <li>AWS and/or Firebase</li>
              <li>Familiarity with noSQL databases</li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="p-4 lg:p-10 bg-lila-500 mt-12 lg:mt-24 border-2 border-black text-xl text-black shadow rounded-xl">
        Color palette
      </div>

      <div class="grid grid-cols-2 md:grid-cols-3 mt-12 gap-2 lg:grid-cols-4">
        <div class="border-2 border-black shadow rounded-3xl overflow-hidden">
          <div class="lg:justify-center p-6 rounded-t-lg bg-green-50"></div>
          <div class="lg:justify-center p-6 bg-green-100"></div>
          <div class="lg:justify-center p-6 bg-green-200"></div>
          <div class="lg:justify-center p-6 bg-green-300"></div>
          <div class="lg:justify-center p-6 bg-green-400"></div>
          <div class="lg:justify-center p-6 bg-green-500"></div>
          <div class="lg:justify-center p-6 bg-green-600"></div>
          <div class="lg:justify-center p-6 bg-green-700"></div>
          <div class="lg:justify-center p-6 bg-green-800"></div>
          <div class="lg:justify-center rounded-b-lg p-6 bg-green-900"></div>
        </div>
        <div class="border-2 border-black shadow rounded-3xl overflow-hidden">
          <div class="lg:justify-center p-6 rounded-t-lg bg-lila-50"></div>
          <div class="lg:justify-center p-6 bg-lila-100"></div>
          <div class="lg:justify-center p-6 bg-lila-200"></div>
          <div class="lg:justify-center p-6 bg-lila-300"></div>
          <div class="lg:justify-center p-6 bg-lila-400"></div>
          <div class="lg:justify-center p-6 bg-lila-500"></div>
          <div class="lg:justify-center p-6 bg-lila-600"></div>
          <div class="lg:justify-center p-6 bg-lila-700"></div>
          <div class="lg:justify-center p-6 bg-lila-800"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-lila-900"></div>
        </div>
        <div class="border-2 border-black shadow rounded-3xl overflow-hidden">
          <div class="lg:justify-center p-6 rounded-t-lg bg-yellow-50"></div>
          <div class="lg:justify-center p-6 bg-yellow-100"></div>
          <div class="lg:justify-center p-6 bg-yellow-200"></div>
          <div class="lg:justify-center p-6 bg-yellow-300"></div>
          <div class="lg:justify-center p-6 bg-yellow-400"></div>
          <div class="lg:justify-center p-6 bg-yellow-500"></div>
          <div class="lg:justify-center p-6 bg-yellow-600"></div>
          <div class="lg:justify-center p-6 bg-yellow-700"></div>
          <div class="lg:justify-center p-6 bg-yellow-800"></div>
          <div class="lg:justify-centerrounded-b-lg p-6 bg-yellow-900"></div>
        </div>

        <div class="border-2 border-black shadow rounded-3xl overflow-hidden">
          <div class="lg:justify-center p-6 rounded-t-lg bg-red-50"></div>
          <div class="lg:justify-center p-6 bg-red-100"></div>
          <div class="lg:justify-center p-6 bg-red-200"></div>
          <div class="lg:justify-center p-6 bg-red-300"></div>
          <div class="lg:justify-center p-6 bg-red-400"></div>
          <div class="lg:justify-center p-6 bg-red-500"></div>
          <div class="lg:justify-center p-6 bg-red-600"></div>
          <div class="lg:justify-center p-6 bg-red-700"></div>
          <div class="lg:justify-center p-6 bg-red-800"></div>
          <div class="lg:justify-center rounded-b-lg p-6 bg-red-900"></div>
        </div>
      </div>

      <div
        class="p-4 lg:p-10 bg-lila-500 mt-12 lg:mt-24 border-2 border-black text-xl text-black shadow rounded-xl">
        All buttons
      </div>
      <div class="flex-col flex gap-6 py-3 items-center md:flex-row mt-12">
        <a
          class="text-black items-center shadow-[5px_5px_black] inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-black lg:w-auto py-3 rounded-xl w-full"
          href="/overview">Primary button</a
        >
        <a class="text-black hover:text-lila-500" href="#"> Secondary button</a>
      </div>
    </div>
  </div>
</section>
