<section>
  <div class="2xl:max-w-7xl mx-auto bg-yellow-500 2xl:border-x-2 border-black">
    <div
      class="relative justify-center max-h-full overflow-hidden lg:px-0 md:px-12 grid lg:grid-cols-2 h-screen lg:divide-x-2 divide-black">
      <div
        class="relative z-10 flex flex-col px-4 py-10 bg-yellow-500 lg:py-24 md:flex-none md:px-28 sm:justify-center">
        <div class="w-full mx-auto md:px-0 sm:px-4 text-center">
          <h2 class="text-3xl lg:text-5xl font-medium text-black max-w-4xl">
            Contact us
          </h2>

          <form class="mt-6">
            <div class="space-y-6">
              <div
                class="border-2 border-black divide-y-2 divide-black shadow-large rounded-xl overflow-hidden">
                <div>
                  <label
                    for="name"
                    class="sr-only"
                    >Your name</label
                  >
                  <input
                    id="name"
                    type="text"
                    placeholder="Your name"
                    class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
                  />
                </div>
                <div>
                  <label
                    for="company"
                    class="sr-only"
                    >Company name</label
                  >
                  <input
                    id="company"
                    type="text"
                    placeholder="Company name"
                    class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
                  />
                </div>
                <div>
                  <label
                    for="email"
                    class="sr-only"
                    >Email</label
                  >
                  <input
                    id="email"
                    type="email"
                    placeholder="Email"
                    class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
                  />
                </div>
                <div>
                  <label
                    for="project-details"
                    class="sr-only"
                    >Project details</label
                  >
                  <textarea
                    id="project-details"
                    class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
                    placeholder="What are you working on?"
                    rows="4"
                  ></textarea>
                </div>
              </div>

              <div class="flex-col flex gap-3 mt-10 sm:flex-row">
                <button
                  type="submit"
                  aria-label="Submit"
                  class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="hidden bg-lila-500 lg:block lg:flex-1 lg:relative sm:contents">
        <div class="absolute inset-0 object-cover w-full h-full bg-lila-500">
          <img
            class="object-center w-full h-full"
            src="/images/thumbnail1.svg"
            alt="your alt-text"
            width="1310"
            height="873"
          />
        </div>
      </div>
    </div>
  </div>
</section>
