<section
  class="border-b-2 border-black 2xl:max-w-7xl mx-auto 2xl:border-x-2">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
    <section class="grid grid-cols-1 items-baseline gap-y-10 gap-6">
      <div class="max-w-xl mx-auto text-center">
        <div>
          <h2 class="text-5xl mt-3 font-display text-black">Get in contact</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            We'll help you find the right plan and pricing for your business or
            track any issues.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        <div
          class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black flex flex-col bg-yellow-500 justify-between">
          <div>
            <h2 class="text-3xl font-display text-black">Sales support</h2>
            <p class="xl:text-xl tracking-tight text-black mt-3">
              If there is any issue related to your purchase such as not
              receiving the receipt, entering the incorrect email address during
              the purchase, or requiring a refund, feel free to email us.
            </p>
          </div>
          <div class="mt-12">
            <a href="/contact">Contact sales <span class="ml-3">&rarr;</span></a
            >
          </div>
        </div>
        <div
          class="shadow-large bg-green-500 rounded-xl p-4 lg:p-8 border-2 border-black flex flex-col justify-between">
          <div>
            <h2 class="text-3xl font-display text-black">Technical support</h2>
            <p class="xl:text-xl tracking-tight text-black mt-3">
              If you need assistance with tasks like integrating a component
              into your project, customizing a design in a specific manner,
              implementing interactive behavior using JavaScript, etc.
            </p>
          </div>
          <div class="mt-12">
            <a href="/contact">Contact sales <span class="ml-3">&rarr;</span></a
            >
          </div>
        </div>
        <div
          class="shadow-large bg-red-500 rounded-xl p-4 lg:p-8 border-2 border-black flex flex-col justify-between">
          <div>
            <h2 class="text-3xl font-display text-black">Bug repports</h2>
            <p class="xl:text-xl tracking-tight text-black mt-3">
              In case you come across a bug with a component that you want us to
              rectify, kindly create an issue on GitHub to report it.
            </p>
          </div>
          <div class="mt-12">
            <a href="/contact">Contact sales <span class="ml-3">&rarr;</span></a
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
