<section class="bg-orange-500">
  <div
    class="relative justify-center max-h-full overflow-hidden lg:px-0 md:px-12"
  >
    <div
      class="relative z-10 flex flex-col flex-1 px-4 py-10 bg-yellow-500 lg:py-24 md:flex-none md:px-28 sm:justify-center"
    >
      <div class="w-full mx-auto md:px-0 sm:px-4 max-w-xl">
        <div class="flex flex-col">
          <div>
            <h2 class="mt-6 text-xl text-black">Forgot your password?</h2>
          </div>
        </div>
        <form action="https://submit-form.com/r4PIGvAB" class="mt-6">
          <input
            autocomplete="false"
            name="hidden"
            type="text"
            style="display:none;"
          />
          <input type="hidden" name="_redirect" value="#" />
          <div class="space-y-6">
            <div class="border-2 border-black divide-y-2 divide-black shadow">


              <div>
                <label name="name" class="sr-only"> Email</label>
                <input
                  type="text"
                  placeholder="email"
                  class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-white focus:outline-none focus:ring-black sm:text-sm"
                />
              </div>

            </div>

            <div class="col-span-full">
              <a
                href="/overview"
                class="relative inline-block px-4 lg:px-8 lg:py-4 py-2 group w-full text-center"
              >
                <span
                  class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
                ></span>
                <span
                  class="absolute inset-0 w-full h-full bg-black border-2 border-black group-hover:bg-white"
                ></span>
                <span
                  class="relative lg:text-2xl text-white group-hover:text-black"
                  >Submit
                </span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
