<section>
  <div class="2xl:max-w-7xl mx-auto 2xl:border-x-2 border-black">
    <div
      class="relative justify-center max-h-full overflow-hidden lg:px-0 md:px-12 grid lg:grid-cols-2 h-screen lg:divide-x-2 divide-black">
      <div
        class="relative z-10 flex flex-col flex-1 px-4 py-10 bg-green-500 lg:py-24 md:flex-none md:px-28 sm:justify-center">
        <div class="w-full mx-auto md:px-0 sm:px-4 text-center">
          <h2 class="text-3xl lg:text-5xl font-medium text-black max-w-4xl">
            Oops, did your password pull a disappearing act?
          </h2>
          <p class="mt-4 xl:text-xl tracking-wide text-black">
            Don't fret! We'll conjure up a reset code and send it your way.
            Passwords can be tricky little rascals, but we've got your back!
          </p>

          <form class="mt-6">
            <input
              autocomplete="false"
              name="hidden"
              type="text"
              style="display:none;"
            />
            <input
              type="hidden"
              name="_redirect"
              value="#"
            />
            <div class="space-y-6">
              <div
                class="border-2 border-black divide-y-2 divide-black shadow rounded-xl overflow-hidden">
                <div>
                  <label
                    for="username"
                    class="sr-only"
                    >Email address</label
                  >
                  <input
                    id="username"
                    type="text"
                    placeholder="Email address"
                    class="block w-full px-3 py-4 text-xl text-black border-2 border-transparent appearance-none placeholder-black border-black focus:border-black focus:bg-lila-500 focus:outline-none focus:ring-black sm:text-sm"
                  />
                </div>
              </div>

              <div>
                <button
                  type="submit"
                  aria-label="submit"
                  class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                  >Log in</button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="hidden bg-lila-500 lg:block lg:flex-1 lg:relative sm:contents">
        <div
          class="absolute inset-0 object-cover w-full h-full bg-lila-500"
          a>
          <img
            class="object-center w-full h-full"
            src="/images/thumbnail2.svg"
            alt="your alt-text"
            width="1310"
            height="873"
          />
        </div>
      </div>
    </div>
  </div>
</section>
